@import "_default";
@import "menu";

.hero-section {
    background: $themeDarkNight url('../images/banner-bg-img.webp') top center no-repeat;
    background-size: cover;
    h1 {
        margin-bottom: 10px;
        color: $white;
    }
    p {
        margin-top: 20px;
    }
    a {
        text-decoration: none;
    }
    .margin-t-30 {
        margin-top: 30px;
    }
    .count-box-outer {
        margin-top: 70px;
        max-width: 950px;
        .count-box {
            padding-right: 5px;
        }
        .count-box-big {
            font-size: 50px;
            line-height: 68px;
            font-weight: 600;
            display: block;
        }
        .count-box-small {
            color: #D6D6D6;
            font-size: 20px;
            line-height: 24px;
            margin-top: 5px;
            display: block;
        }
    }
    &.for-about-section {
        background: $themeDarkNight url('../images/about-page-banner.webp') top center no-repeat;
        background-size: cover;
        h1 {
            font-size: 144px;
            line-height: 150px;
        }
        p {
            font-size: 24px;
            line-height: 42px;
        }
        .count-box-outer {
            .count-box-big {
                &.clr-yellow {
                    color: $white;
                }
            }
        }
    }
    &.for-faq-banner {
        background: $themeDarkNight url('../images/for-faq-banner.webp') top center no-repeat;
        background-size: cover;
        min-height: 623px;
    }
    &.for-partner-banner {
        background: $themeDarkNight url('../images/partner-banner.webp') top center no-repeat;
        background-size: cover;
        min-height: 623px;
    }
    &.for-media-banner {
        background: $themeDarkNight url('../images/in-media-banner.webp') center center no-repeat;
        background-size: cover;
        min-height: 623px;
        &::after {
            display: none;
        }
        .container {
            max-width: 1200px;
        }
        .count-box-outer {
            margin-top: 40px;
        }
        .dis-flex {
            align-items: center;
        }
        .left-box {
            flex-basis: 60%;
            padding-right: 4%;
        }
        .right-box {
            flex-basis: 40%;
            padding-left: 4%;
        }
        h1 {
            line-height: 85px;
        }
    }
    &.for-resources-banner {
        background: $themeDarkNight;
        background-size: cover;
        min-height: 500px;
        p {
            max-width: 946px;
        }
    }

}

.page-template-template-careers,
.page-template-template-whyindia,
.page-template-template-faq {
    .hero-section {
        .count-box-outer {
            .count-box-big {
                &.clr-yellow {
                    color: $white;
                }
            }
        }
    }
}

.day {
    &.page-template-template-careers,
    &.page-template-template-whyindia,
    &.page-template-template-faq {
        .hero-section {
            .count-box-outer {
                .count-box-big {
                    &.clr-yellow {
                        color: $darkYellow;
                    }
                }
            }
        }
    }
    .hero-section {
        &.for-about-section {
            .count-box-outer {
                .count-box-big {
                    &.clr-yellow {
                        color: $darkYellow
                    }
                }
            }
        }
        &.for-resources-banner {
            background-color: #F7F7F9 !important;
        }
        .count-box-outer {
            .count-box-small {
                color: $contentDay;
            }
        }
    }
}

.three-column-media-section {
    .col-box-outer {
        margin-top: 80px;
    }
    .flex-3 {
        padding: 0 10px;
        margin-top: 20px;
    }
    .media-box {
        border: 1px solid #302F51;
        border-radius: 10px;
        height: 100%;
        img {
            width: 100%;
            vertical-align: bottom;
        }
        .content-box {
            padding: 35px 40px 40px;
            .dis-flex {
                align-items: center;
            }
        }
        p {
            margin-top: 30px;
            font-size: 18px;
            line-height: 32px;
            min-height: 120px;
        }
        .learn-more {
            margin-top: 20px;
            color: $gray;
            &:hover {
                color: $green;
            }
        }
        .date {
            font-size: 14px;
            border-left: 1px #302F51 solid;
            padding-left: 10px;
            margin-left: 10px;
        }
    }
}

.day {
    .hero-section {
        &.for-media-banner {
            background-color: $bgWhiteGray !important;
        }
    }
    .three-column-media-section {
        .media-box {
            border: 1px solid rgba(111,110,135,0.3);
            .learn-more {
                color: $contentDay;
                &:hover {
                    color: $green;
                }
            }
        }
    }
}

.media-award-section {
    padding: 130px 0;
    .dis-flex {
        justify-content: center;
        align-items: center;
    }
    .img-box {
        flex-basis: 16.66%;
        text-align: center;
    }
}

.icon-with-img-section {
    .right-box {
        padding-left: 30px;
    }
    .icon {
        width: 59px;
        height: 59px;
        display: inline-block;
        margin-right: 20px;
    }
    .icon-txt {
        font-size: 18px;
        flex: 1;
    }
    .hire-php-icon {
        .icon {
            background: url(../images/hire-php-sprite-2.png) -5px 4px no-repeat;
        }
        .icon2 {
            background-position: -70px 4px;
        }
        .icon3 {
            background-position: -142px 4px;
        }
        .icon4 {
            background-position: -213px 4px;
        }
        .icon5 {
            background-position: -283px 2px;
        }
        .icon6 {
            background-position: -356px 4px;
        }
        .icon7 {
            background-position: -424px 2px;
        }
        .icon8 {
            background-position: -495px 4px;
        }
    }
    .icon-box-outer {
        margin-top: 30px;
    }
}

.client-video-section {
    &.customer-column-section {
        .padding-t-20 {
            padding-top: 20px;
        }
        iframe {
            border: 0;
        }
        .client-description {
            padding: 40px 20px;
            &.small-column {
                padding: 15px 20px;
            }
            .client-quote {
                min-height: 50px;
            }
        }
    }
}

.customer-testimonial-section {
    .flex-3,
    .flex-2 {
        padding: 0 12px;
        margin-top: 25px;
    }
    .content-box-outer {
        height: 100%;
        display: grid;
        flex-wrap: wrap;
        transition: all 0.3s ease-in-out;
        &:hover {
            box-shadow: 0px 1px 26px 1px rgba(10, 10, 22, 0.53);
            border-radius: 10px;
            .content-box {
                &::before {
                    background-position: -240px -130px;
                }
            }
        }
    }
    .content-box {
        position: relative;
        background: rgba(18, 17, 40, 0.25);
        border-radius: 10px 10px 0 0;
        padding: 40px;
        &::before {
            content: "";
            clear: both;
            display: block;
            width: 35px;
            height: 35px;
            background: url(../images/testimonials-sprite.png) -140px -130px no-repeat;
        }
        p {
            font-size: 18px;
            margin-top: 20px;
            min-height: 250px;
        }
    }
    .cust-img-box {
        position: relative;
        padding: 40px;
        background: rgba(18, 17, 40, 0.44);
        border-radius: 0px 0px 10px 10px;
    }
    h5 {
        font-size: 18px;
    }
    h6 {
        font-size: 16px;
        font-weight: 500;
    }
    .profile-text {
        flex: 1;
    }
    .rating {
        width: 90px;
        height: 13px;
        background: url(../images/testimonials-sprite.png) -10px -140px no-repeat;
        display: block;
        margin-top: 8px;
    }
    .profile {
        width: 76px;
        height: 75px;
        background: url(../images/testimonials-sprite.png) 0 0 no-repeat;
        display: none;
        margin-right: 20px;
    }
    .profile1 {
        background-position: -408px -14px;
    }
    .profile2 {
        background-position: -10px -14px;
    }
    .profile3 {
        background-position: -212px -14px;
    }
    .profile4 {
        background-position: -112px -14px;
    }
    .profile5 {
        background-position: -309px -14px;
    }
    .load-btn {
        background: $green;
        color: $themeMidNight;
        padding: 20px 55px;
        font-size: 20px;
        font-weight: 500;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;
        letter-spacing: 0.5px;
        border-radius: 5px;
        font-weight: 500;
        text-decoration: none;
        display: inline-block;
        cursor: pointer;
        &:hover {
            background-color: $white;
        }
    }
    .load-more {
        display: none;
    }
}
.day {
    .customer-testimonial-section {
        .content-box {
            background: rgba(222,222,222, 0.25);
        }
        .cust-img-box {
            background: rgba(206,206,206,0.44);
        }
        .load-btn {
            color: $white;
            &:hover {
                background: $darkYellow;
            }
        }
    }
}

.team-valuecoders-section {
    img {
        width: 100%;
    }
}

.about-mission-section {
    h3 {
        padding-top: 50px;
        margin-bottom: 15px;
        position: relative;
        font-size: 30px;
        &::before,
        &::after {
            content: "";
            clear: both;
            display: inline-block;
            position: absolute;
            border-radius: 50%;
        }
        &::before {
            background-color: $darkYellow;
            width: 18px;
            height: 18px;
            top: 8px;
            left: 5px;
        }
        &::after {
            border: 1px $darkYellow solid;
            width: 26px;
            height: 26px;
            position: absolute;
            top: 3px;
            left: 0;
        }
    }
    .content-box-outer {
        position: relative;
        padding: 38px;
        &::after {
            content: "";
            clear: both;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            border: 1px solid #C4C3D8;
            border-radius: 10px;
            width: 387px;
            height: 80%;
            z-index: -1;
        }
        &:first-child {
            padding-bottom: 0;
        }
        &:last-child {
            padding-top: 0;
            float: right;
            position: relative;
            top: -40px;
            &::after {
                left: auto;
                right: 0;
                top: auto;
                bottom: 0;
            }
        }
    }
    .content-box {
        max-width: 522px;
        padding: 85px 60px;
        box-shadow: 0px 4px 50px rgba(55, 54, 96, 0.2);
        border-radius: 10px;
        p {
            font-size: 18px;
        }
    }
    picture {
        position: relative;
        display: block;
        padding: 42px 40px 30px 52px;
        z-index: 0;
        margin-top: 10%;
        &::before,
        &::after {
            content: '';
            clear: both;
            display: block;
            position: absolute;
            z-index: -1;
            width: 160px;
            height: 82px;
        }
        &::before {
            background: url(../images/sample-vector-shape.png) -255px 0 no-repeat;
            top: 0;
            left: 0;
        }
        &::after {
            background: url(../images/sample-vector-shape.png) -345px -153px no-repeat;
            bottom: 0;
            right: 0;
        }
        img {
            width: 100%;
        }
    }
}

.four-column-with-icon-section {
    .col-box-outer {
        margin-top: 80px;
    }
    .flex-4 {
        padding: 0 10px;
    }
    .icon {
        display: block;
        background: $themeMidNight url(../images/about-value-icon-4.png) 0 0 no-repeat;
        width: 184px;
        height: 184px;
        border-radius: 50%;
        margin: 0 auto;
    }
    .icon2 {
        background-position: -180px 0;
    }
    .icon3 {
        background-position: -380px 0;
    }
    .icon4 {
        background-position: -555px 0;
    }
    h3 {
        margin-top: 40px;
        font-size: 30px;
    }
    p {
        margin-top: 20px;
    }
}

.day {
    .four-column-with-icon-section {
        .icon {
            background-color: #f4f4f4;
        }
    }
}

.valuecoders-our-team-section {
    .dis-flex {
        margin-top: 70px;
    }
    .flex-4 {
        margin-top: 27px;
        padding: 0 10px;
    }
    h3 {
        color: $white;
    }
    h5 {
        font-size: 18px;
        font-weight: 500;
        margin-top: 2px;
        color: $white;
    }
    .profile-box {
        position: relative;
        img {
            width: 100%;
            filter: grayscale(1);
        }
        .profile-text {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgba(29, 28, 57, 0.47);
            backdrop-filter: blur(8.09195px);
            padding: 14px;
            text-align: center;
            p {
                display: none;
                color: $white;
                font-size: 14px;
                line-height: 20px;
                margin-top: 2px;
            }
        }
        &:hover {
            img {
                filter: sepia(1);
            }
            .profile-text {
                p {
                    display: block;
                }
            }
        }
    }
}

.faq-section {
    &.faq-for-company {
        .faq-outer {
            margin-top: 0;
        }
        .flex-2 {
            border: 1px solid #3A3C56;
            border-radius: 10px;
            padding: 45px 40px;
            margin-top: 80px;
            flex-basis: calc(50% - 40px);
            height: 100%;;
            &:first-child,
            &:nth-child(2) {
                margin-top: 0;
            }
            &:nth-child(2n) {
                margin-left: 40px;
            }
            &:nth-child(2n - 1) {
                margin-right: 40px;
            }
        }
        .faq-accordion-item-outer {
            margin-top: 0;
        }
        .faq-accordion-content {
            padding-left: 0;
            padding-right: 40px;
        }
        .faq-accordion-toggle {
            padding-left: 0;
            &::before,
            &::after {
                background: #60B741;
            }
            &::before {
                left: auto;
                right: 0;
            }
            &::after {
                left: auto;
                right: 8px;
            }
        }
    }
}

.three-column-icon-section {
    .col-box-outer {
        margin-top: 75px;
        justify-content: center;
    }
    h3 {
        a {
            color: $white;
        }
    }
    .has-anchor {
        a {
            display: block;
            height: 100%;
            transition: all 0.3s ease-in-out;
            &:hover {
                box-shadow: 0 0 10px #949494;
                border-radius: 5px;
            }
        }
    }
    .box {
        padding: 60px 50px;
        height: 100%;
        h3 {
            margin: 30px 0 20px;
        }
        p {
            font-size: 18px;
            a {
                text-decoration: underline;
                display: inline-block;
            }
        }
    }
    .box-3 {
        padding-right: 26px;
        margin-top: 26px;
        &:nth-child(3n) {
            padding-right: 0;
        }
    }
    ul {
        margin-top: 40px;
    }
    // change class for icons
    .icon-box {
        width: 85px;
        height: 56px;
        display: block;
    }
    .php-usage-sprite {
        .icon-box {
            background: url(../images/php-usage-sprite.png) 0 0 no-repeat;
        }
        .icon2 {
            background-position: -85px 0;
        }
        .icon3 {
            background-position: -170px 0;
        }
        .icon4 {
            background-position: -254px 0;
        }
        .icon5 {
            background-position: -341px 0;
        }
        .icon6 {
            background-position: -424px 0;
        }
    }
    a {
        text-decoration: none;
    }
    &.with-border-box {
        img {
            border-radius: 10px 10px 0 0;
            vertical-align: bottom;
        }
        .col-box-outer {
            justify-content: flex-start;
            margin-top: 0;
        }
        .content-box {
            padding: 40px;
            h3 {
                margin-top: 0;
            }
        }
        .box-3 {
            padding: 10px;
            margin-top: 0;
        }
        .box {
            border: 1px solid #302F51;
            border-radius: 10px;
            padding: 0;
            transition: all 0.3s ease-in-out;
            p {
                font-weight: 500;
            }
            &:hover {
                .learn-more {
                    color: $green;
                    .round-arrow-icon {
                        background-position: -39px 0;
                    }
                }
            }
        }
        .learn-more {
            margin-top: 25px;
        }
    }
}

.day {
    .three-column-icon-section {
        .php-usage-sprite {
            .icon1 {
                background-position: 0 -64px;
            }
            .icon2 {
                background-position: -85px -64px;
            }
            .icon3 {
                background-position: -170px -64px;
            }
            .icon4 {
                background-position: -254px -64px;
            }
            .icon5 {
                background-position: -341px -64px;
            }
            .icon6 {
                background-position: -424px -64px;
            }
        }
        h3 {
            a {
                color: $headDay;
            }
        }
        &.with-border-box {
            .box {
                border-color: #EBEBF0;
                background-color: transparent;
                &:hover {
                    .learn-more {
                        .round-arrow-icon {
                            background-position: -39px 0;
                        }
                    }
                }
            }
        }
    }
}


.valuecoders-img-section {
    .left-box {
        padding-right: 70px;
    }
    .right-box {
        padding-left: 70px;
        p {
            margin-top: 20px;
            font-size: 18px;
            &:first-child {
                margin-top: 0;
            }
        }
        ul {
            margin-top: 10px;
            display: flex;
            flex-wrap: wrap;
            li {
                flex-basis: 50%;
                list-style-type: none;
                margin-top: 20px;
                padding: 0 20px 0 30px;
                position: relative;
                &::before {
                    content: "";
                    clear: both;
                    display: inline-block;
                    background-color: $darkYellow;
                    border-radius: 50%;
                    position: absolute;
                    height: 11px;
                    width: 11px;
                    top: 8px;
                    left: 4px;
                }
                &::after {
                    content: "";
                    display: inline-block;
                    border: 1px $darkYellow solid;
                    border-radius: 50%;
                    width: 17px;
                    height: 17px;
                    position: absolute;
                    top: 4px;
                    left: 0;
                }
            }
        }
        .dot-icon {
            position: absolute;
            top: 8px;
            left: 0;
        }
    }
    .icon-box-outer {
        position: relative;
        padding: 20px 0;
        z-index: 1;
        &::before {
            content: '';
            clear: both;
            display: block;
            background: url(../images/sample-vector-shape.png) -181px 0 no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            width: 58px;
            height: 130px;
            z-index: -1;
        }
        &::after {
            content: '';
            clear: both;
            display: block;
            background: url(../images/sample-vector-shape.png) -181px 0 no-repeat;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 58px;
            height: 130px;
            z-index: -1;
        }
    }
    .icon-box {
        padding: 20px 50px;
        background: #181732;
        box-shadow: 0px 4px 30px rgba(189, 183, 183, 0.03);
        border-radius: 16px;
        text-align: center;
        margin: 0 16px;
        flex-basis: calc(33.33% - 32px);
        font-size: 16px;
        .icon {
            display: block;
            width: 50px;
            height: 50px;
            border-radius: 50px;
            text-align: center;
            margin: 0 auto 10px;
            &.icon1 {
                background: #006EFF url("../images/address-vector-sprite.png") -195px 10px no-repeat;
            }
            &.icon2 {
                background: #FF6B6B url("../images/address-vector-sprite.png") -247px 12px no-repeat
            }
            &.icon3 {
                background: #FF8900 url("../images/address-vector-sprite.png") -297px 11px no-repeat
            }
        }
    }
}
.day {
    .valuecoders-img-section {
        .icon-box {
            background: #F7F7F9;
        }
    }
}

.technologies-right-logo-section {
    .tech-box-outer {
        margin-top: 40px;
    }
    .left-box {
        flex-basis: 25%;
        margin-top: 60px;
        padding-right: 40px;
    }
    .right-box {
        flex-basis: 75%;
        text-align: center;
        &:not(.no-border) {
            border-top: 1px dashed rgba(196, 196, 196, 0.5);
            margin-bottom: 20px;
        }
    }
    .tech-box {
        flex-basis: 20%;
        padding: 0 10px;
        margin-top: 60px;
        .tech-txt {
            margin-top: 20px;
            display: block;
        }
        a {
            text-decoration: none;
        }
    }
    .img-tech-logo {
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .tech-logo {
        display: block;
        background: url(../images/dot-net-technoloies-sprite.png) 20px 0 no-repeat;
        width: 130px;
        height: 62px;
        margin: 0 auto 10px;
        &.logo1 {
            background-position: 20px 0;
        }
        &.logo2 {
            background-position: -214px 0;
        }
        &.logo3 {
            background-position: -464px 0;
        }
        &.logo4 {
            background-position: -704px 0;
        }
        &.logo5 {
            background-position: -960px 0;
        }
        &.logo6 {
            background-position: 20px -91px;
        }
        &.logo7 {
            background-position: -214px -91px;
        }
        &.logo8 {
            background-position: -464px -91px;
        }
        &.logo9 {
            background-position: -704px -91px;
        }
        &.logo10 {
            background-position: -960px -91px;
        }
        &.logo11 {
            background-position: 20px -216px;
        }
        &.logo12 {
            background-position: -214px -216px;
        }
        &.logo13 {
            background-position: -464px -216px;
        }
        &.logo14 {
            background-position: -704px -216px;
        }
        &.logo15 {
            background-position: -960px -216px;
        }
        &.logo16 {
            background-position: 20px -340px;
        }
        &.logo17 {
            background-position: -214px -340px;
        }
        &.logo18 {
            background-position: -464px -340px;
        }
        &.logo19 {
            background-position: -704px -340px;
        }
    }
    .for-max-six-icon {
        .tech-box {
            flex-basis: 16.66%;
        }
    }
}

.two-column-right-box-section {
    p {
        margin-top: 20px;
    }
    img {
        margin-top: 38px;
        width: 100%;
        border-radius: 10px;
    }
    .head-txt {
        padding-right: 11%;
    }
    .left-box {
        padding-right: 150px;
    }
    .right-box {
        padding-left: 20px;
    }
    .box {
        // border: 1px solid #3A3C56;
        background-color: $themeDarkNight;
        border-radius: 10px;
        padding: 50px 50px 36px;
        margin-top: 20px;
        display: block;
        text-decoration: none;
        &:first-child {
            margin-top: 0;
        }
        p {
            font-size: 18px;
        }
        h3 {
            span {
                opacity: 0.4;
            }
        }
    }
    &.bg-dark-theme {
        .box {
            background-color: $themeMidNight;
        }
    }
    .learn-more {
        margin-top: 20px;
    }
}

.day {
    .two-column-right-box-section {
        .box {
            background-color: $bgWhiteGray;
        }
        &.bg-dark-theme {
            .box {
                background-color: $white
            }
        }    
    }
}

.keka-iframe-section {
    background: $white;
    h2 {
        color: $headDay;
    }
    .keka-iframe {
        margin-top: 50px;
    }
    iframe {
        height: 3000px;
    }
}

.img-two-column-list-section {
    &.for-full-list li {
        flex-basis: 100%;
    }
}


.why-india-timeline-section {
    .timeline-outer {
        position: relative;
        margin-top: 140px;
        &::before {
            content: "";
            position: absolute;
            height: calc(100% - 190px);
            width: 0px;
            border-left: 0.4px dashed #C4C4C4;
            top: 90px;
            left: 28%;
            transform: translateX(-50%);
        }
        ul {
            list-style-type: none;
            li {
                position: relative;
                width: 72%;
                text-align: left;
                margin-left: auto;
                counter-increment: step-counter;
                margin-top: 20px;
                &::before {
                    content: "";
                    position: absolute;
                    height: 18px;
                    width: 18px;
                    background-color: #999999;
                    border-radius: 50%;
                    top: 50%;
                    left: -9px;
                    transform: translateY(-50%);
                }
                &::after {
                    content: "0" counter(step-counter) " ";
                    position: absolute;
                    top: 50%;
                    left: -164px;
                    transform: translateY(-50%);
                    background: url(../images/timeline-left-vector.png) top center no-repeat;
                    background-size: contain;
                    width: 123px;
                    height: 77px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .content-box {
                    margin-left: 80px;
                    background-color: $themeDarkNight;
                    position: relative;
                    border-radius: 20px;
                    padding: 36px 8%;
                    max-width: 800px;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -35px;
                        background: url(../images/timeline-bg-left.png) top center no-repeat;
                        background-size: 100%;
                        width: 36px;
                        height: 157px;
                        transform: translateY(-50%);
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 0;
                        background: #242341;
                        border-radius: 0 10px 10px 0;
                        width: 20px;
                        height: 100%;
                    }
                    h3,p {
                        position: relative;
                        z-index: 1;
                    }
                    p {
                        margin-top: 18px;
                    }        
                }
            }
        }
    }
}

.day {
    .why-india-timeline-section {
        background: $darkWhiteGray;
        .timeline-outer {
            &::before {
                border-color: #333333;
            }
            ul {
                li {
                    &::before {
                        background-color: #333333;
                    }
                    &::after {
                        background-image: url(../images/timeline-left-vector-light.png);
                    }
                    .content-box {
                        background-color: #FEFEFE;
                        &::before {
                            background-image: url(../images/timeline-bg-left-light.png);
                            background-size: 100%;
                        }
                        &::after {
                            background: #ECECEF;
                        }
                    }
                }
            }
        }
    }
}

.award-partner-section {
    .flex-5 {
        padding: 10px;
    }
    .logo-box {
        background: $white;
        min-height: 158px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
    }
}
.day {
    .award-partner-section {
        .logo-box {
            background: $bgWhiteGray;
        }
    }
}




// media 
@media only screen and (max-width: 1780px) {
    .hero-section {
        &.for-about-section {
            h1 {
                font-size: 112px;
                line-height: 112px;
            }
            p {
                font-size: 20px;
                line-height: 38px;
            }
        }
        &.for-media-banner {
            h1 {
                line-height: 65px;
            }
        }
    }
    .customer-testimonial-section {
        .content-box {
            p {
                font-size: 16px;
            }
        }
    }
    .two-column-right-box-section {
        .left-box {
            padding-right: 40px;
        }
    }
}

@media only screen and (max-width: 1600px) {
    .award-partner-section {
        .logo-box {
            img {
                max-width: 140px;
                max-height: 90px;
                width: auto;
            }
        }
    }
    .why-india-timeline-section {
        .timeline-outer {
            margin-top: 80px;
            ul {
                li {
                    &::after {
                        width: 93px;
                        height: 47px;
                        left: -124px;
                    }
                    .content-box {
                        max-width: 650px;
                        p {
                            margin-top: 14px;
                        }
                    }
                }
            }
        }
    }
    .hero-section {
        &.for-faq-banner,
        &.for-partner-banner,
        &.for-media-banner {
            min-height: 550px;
        }
        .count-box-outer {
            .count-box-big {
                font-size: 38px;
                line-height: 50px;
            }
            .count-box-small {
                font-size: 16px;
            }
        }
        &.for-about-section {
            h1 {
                font-size: 92px;
                line-height: 100px;
            }
            p {
                line-height: 32px;
            }
        }
    }
    .media-award-section {
        padding: 100px 0;
        .img-box {
            img {
                height: 140px;
                width: auto;
                margin: auto;
            }
        }
    }
    .three-column-media-section {
        .col-box-outer {
            margin-top: 50px;
        }
        .media-box {
            .content-box {
                padding: 25px 30px 35px;
            }
            p {
                margin-top: 20px;
                font-size: 16px;
                line-height: 26px;
            }
        }
    }
    .client-video-section {
        &.customer-column-section {
            .client-description {
                .client-name {
                    font-size: 18px;
                }
                .client-quote {
                    font-size: 14px;
                }

            }
        }
    }
    .icon-with-img-section {
        .icon-txt {
            font-size: 16px;
        }
    }
    .customer-testimonial-section {
        .flex-3,
        .flex-2 {
            padding: 0 8px;
        }
        .cust-img-box {
            padding: 30px;
        }
        .content-box {
            padding: 30px;
            p {
                min-height: 220px;
            }
        }
        .flex-2 {
            .content-box {
                p {
                    min-height: 200px;
                }
            }
        }
        .load-btn {
            padding: 15px 35px;
        }
    }
    .about-mission-section {
        .content-box-outer {
            padding: 25px;
        }
        .content-box {
            max-width: 450px;
            padding: 75px 40px;
        }
        h3 {
            padding-top: 40px;
            margin-bottom: 10px;
            font-size: 24px;
            &::before {
                height: 11px;
                width: 11px;
                top: 8px;
                left: 4px;
            }
            &::after {
                width: 17px;
                height: 17px;
                top: 4px;
                left: 0;
            }
        }
    }
    .four-column-with-icon-section {
        .icon {
            width: 120px;
            height: 120px;
        }
        .icon1 {
            background-position: 32px -183px;
        }
        .icon2 {
            background-position: -75px -183px;
        }
        .icon3 {
            background-position: -198px -183px;
        }
        .icon4 {
            background-position: -305px -183px;
        }
        h3 {
            margin-top: 25px;
            font-size: 22px;
        }
        .col-box-outer {
            p {
                margin-top: 15px;
            }
        }
    }
    .valuecoders-our-team-section {
        h5 {
            font-size: 14px;
        }
    }
    .faq-section {
        &.faq-for-company {
            .flex-2 {
                padding: 35px 30px;
                margin-top: 40px;
                flex-basis: calc(50% - 20px);
                &:nth-child(2n) {
                    margin-left: 20px;
                }
                &:nth-child(2n - 1) {
                    margin-right: 20px;
                }
            }
        }
    }
    .three-column-icon-section {
        .col-box-outer {
            margin-top: 50px;
        }
        .box {
            padding: 40px 30px;
            h3 {
                margin: 20px 0 10px;
            }
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
        ul {
            li {
                font-size: 16px;
            }
        }
        &.with-border-box {
            .content-box {
                padding: 30px 20px;
            }
        }
    }
    .valuecoders-img-section {
        .right-box {
            padding-left: 20px;
            ul {
                li {
                    &::before {
                        height: 9px;
                        width: 9px;
                    }
                    &::after {
                        height: 15px;
                        width: 15px;
                    }
                }
            }
            p {
                font-size: 16px;
            }
        }
        .icon-box {
            padding: 20px 20px;
        }
    }
    .two-column-right-box-section {
        .box {
            padding: 40px 40px 36px;
            margin-top: 15px;
            p {
                font-size: 16px;
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .why-india-timeline-section {
        .timeline-outer {
            ul {
                li {
                    .content-box p {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .hero-section {
        p {
            margin-top: 10px;
        }
        .count-box-outer {
            .count-box-big {
                font-size: 36px;
            }
            .count-box-small {
                font-size: 14px;
                line-height: 20px;
            }
        }
        &.for-about-section h1 {
            font-size: 72px;
            line-height: 80px;
        }
        &.for-media-banner h1 {
            line-height: 55px;
        }
        &.for-resources-banner {
            min-height: 400px;
        }
    }
    .media-award-section {
        padding: 80px 0;
    }
    .media-award-section {
        .img-box img {
            height: 110px;
        }
    }
    .three-column-media-section {
        .media-box {
            .content-box {
                padding: 20px 25px 30px;
            }
        }
    }
    .four-column-with-icon-section {
        .col-box-outer {
            p {
                font-size: 16px;
            }
        }
    }
    .valuecoders-img-section {
        .icon-box {
            padding: 20px 20px;
            margin: 0 10px;
            flex-basis: calc(33.33% - 20px);
        }
        .right-box {
            ul {
                li {
                    margin-top: 10px;
                }
            }
        }
    }
    .two-column-right-box-section {
        .box {
            padding: 30px;
        }
    }
}

@media only screen and (max-width: 1320px) {
    .hero-section {
        &.for-media-banner {
            .container {
                max-width: 1000px;
            }
        }
    }
    .keka-iframe-section {
        iframe {
            height: 4400px;
        }
    }
    .award-partner-section {
        .flex-5 {
            padding: 5px;
        }
        .logo-box {
            min-height: 130px;
            img {
                max-width: 110px;
                max-height: 70px;
            }
        }
    }
    .customer-testimonial-section {
        .cust-img-box,
        .content-box {
            padding: 20px;
        }
        .profile {
            margin-right: 10px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .hero-section {
        .count-box-outer {
            margin-top: 50px;
        }
        &.for-faq-banner,
        &.for-partner-banner,
        &.for-media-banner,
        &.for-resources-banner {
            min-height: 350px;
        }
    }
    .icon-with-img-section {
        .icon-txt {
            font-size: 14px;
            flex-basis: 70%;
            padding-left: 10px;
        }
        .icon {
            max-width: 59px;
            flex-basis: 30%;
            margin-right: 0;
        }
    }
    .customer-testimonial-section {
        .flex-3 {
            flex-basis: 50%;
        }
        .content-box {
            p {
                font-size: 14px;
                line-height: 26px;
            }
        }
    }
    .three-column-icon-section {
        .box-3 {
            padding-right: 15px;
            margin-top: 20px;
            &:nth-child(3n) {
                padding-right: 15px;
            }
        }
    }
    .valuecoders-img-section {
        .right-box {
            padding-left: 0;
        }
    }
}

@media only screen and (max-width: 991px) {
    .hero-section {
        .count-box-outer {
            margin-top: 30px;
            .count-box-big {
                font-size: 28px;
            }
        }
        &.for-about-section {
            h1 {
                font-size: 62px;
                line-height: 70px;
            }
            p {
                font-size: 16px;
                line-height: 28px;
            }
        }
        &.for-media-banner h1 {
            line-height: 48px;
        }
    }
    .media-award-section {
        .img-box {
            img {
                height: 80px;
            }
        }
    }
    .client-video-section {
        &.customer-column-section {
            iframe {
                height: 420px;
            }
        }
    }
    .icon-with-img-section {
        .icon-box-outer {
            .flex-2 {
                flex-basis: 33.33%;
            }
        }
        .right-box {
            text-align: center;
            margin-top: 40px;
            padding-left: 0;
        }
    }
    .customer-testimonial-section {
        .flex-3 {
            flex-basis: 100%;
        }
        .content-box {
            p {
                min-height: auto;
            }
        }
        .flex-2 {
            .content-box {
                p {
                    min-height: auto;
                }
            }
        }
    }
    .about-mission-section {
        h3 {
            font-size: 22px;
        }
        .content-box {
            p {
                font-size: 16px;
            }
        }
    }
    .four-column-with-icon-section {
        .col-box-outer {
            margin-top: 30px;
            p {
                line-height: 24px;
            }
        }        
        .flex-4 {
            flex-basis: 50%;
            margin-top: 30px;
        }
    }
    .valuecoders-our-team-section {
        .flex-4 {
            margin-top: 20px;
            flex-basis: 50%;
        }
    }
    .faq-section {
        &.faq-for-company {
            .flex-2 {
                flex-basis: 100%;
                margin-top: 30px;
                &:nth-child(2) {
                    margin-top: 30px;
                }
                &:nth-child(2n) {
                    margin-left: 0;
                }
                &:nth-child(2n - 1) {
                    margin-right: 0;
                }
            }
        }
    }
    .three-column-icon-section {
        .col-box-outer {
            margin-top: 30px;
        }
        .flex-2 {
            flex-basis: 50%;
        }
    }
    .valuecoders-img-section {
        .right-box {
            margin-top: 40px;
        }
        .left-box {
            padding-right: 0;
            text-align: center;
        }
        img {
            max-width: 400px;
            width: 100%;
            margin: 0 auto;
        }
    }
    .technologies-right-logo-section {
        .left-box {
            flex-basis: 100%;
            text-align: center;
            padding-right: 0;
        }
        .right-box {
            flex-basis: 100%;
            justify-content: center;
            &:not(.no-border) {
                border-top: 0;
                margin-bottom: 0;
            }
        }
    }
    .two-column-right-box-section {
        .right-box {
            padding-left: 0;
            margin-top: 40px;
        }
    }
}


@media only screen and (max-width: 767px) {
    .award-partner-section {
        .flex-5 {
            padding: 2px;
            flex-basis: 50%;
        }
        .logo-box {
            min-height: 90px;
            img {
                max-width: 100px;
                max-height: 60px;
            }
        }
    }
    .why-india-timeline-section {
        .timeline-outer {
            margin-top: 40px;
            &::before {
                left: 6px;
            }
            ul {
                li {
                    width: 100%;
                    &::before {
                        height: 30px;
                        width: 30px;
                    }
                    &::after {
                        width: 53px;
                        height: 22px;
                        left: -21px;
                        color: #181732;
                        font-size: 14px;
                        top: 51%;
                        background: none;
                    }
                    .content-box {
                        margin-left: 50px;
                        padding: 20px 18px;
                        p {
                            font-size: 14px;
                            margin-top: 10px;
                        }
                        &::before {
                            left: -14px;
                            width: 16px;
                            height: 67px;
                        }
                        &::after {
                            width: 10px;
                        }
                    }
                }
            }
        }
    }
    .hero-section {
        background: none;
        &.for-faq-banner,
        &.for-partner-banner,
        &.for-media-banner,
        &.for-resources-banner {
            min-height: auto;
        }
        .flex-4 {
            flex-basis: 50%;
        }
        .count-box-outer {
            margin-top: 10px;
            .count-box-big {
                font-size: 22px;
                line-height: 28px;
            }
            .count-box-small {
                font-size: 12px;
                line-height: 14px;
            }
            .count-box {
                margin-top: 20px;
            }
        }
        &.for-about-section {
            h1 {
                font-size: 42px;
                line-height: 42px;
            }
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
        &.for-media-banner {
            .count-box-outer {
                margin-top: 10px;
            }    
            h1 {
                line-height: 36px;
            }
            .left-box {
                flex-basis: 100%;
                padding-right: 0;
            }
            .right-box {
                display: none;
            }
        }
    }
    .three-column-media-section {
        .col-box-outer {
            margin-top: 10px;
        }
        .flex-3 {
            padding: 0;
        }
        .media-box {
            .content-box {
                padding: 20px 15px 20px;
            }
            p {
                margin-top: 12px;
                font-size: 14px;
                line-height: 22px;
                min-height: auto;
            }
            .date {
                font-size: 13px;
            }
        }
    }
    .media-award-section {
        padding: 20px 0;
        .img-box {
            flex-basis: 33.33%;
            margin: 10px 0;
            img {
                height: 70px;
            }
        }
    }
    .icon-with-img-section {
        .icon-box-outer {
            .flex-2 {
                flex-basis: 50%;
            }
        }
        .icon-box-outer {
            margin-top: 10px;
        }
        .dis-flex {
            justify-content: center;
        }
        .icon-txt {
            text-align: center;
            margin-top: 10px;
            flex-basis: 100%;
        }
        .icon {
            flex-basis: 100%;
        }
    }
    .client-video-section {
        &.customer-column-section iframe {
            height: 240px;
        }
    }
    .customer-testimonial-section {
        .flex-3,
        .flex-2 {
            margin-top: 15px;
            padding: 0;
        }
        .content-box,
        .cust-img-box {
            padding: 20px 10px;
        }
        .content-box p {
            margin-top: 10px;
        }
        h5 {
            font-size: 16px;
        }
        h6 {
            font-size: 12px;
        }
        .load-btn {
            padding: 10px 20px;
            font-size: 18px;
        }
    }
    .about-mission-section {
        h3 {
            font-size: 18px;
        }
        .content-box-outer {
            padding: 15px;
            &::after {
                width: 100%;
            }
            &:last-child {
                top: 0;
                margin-top: 20px;
            }
        }
        .content-box {
            padding: 30px 15px;
            p {
                font-size: 14px;
            }
        }
    }
    .four-column-with-icon-section {
        .flex-4 {
            flex-basis: 100%;
        }
        h3 {
            margin-top: 20px;
            font-size: 18px;
        }
        .col-box-outer {
            margin-top: 10px;
            p {
                font-size: 14px;
                margin-top: 5px;
            }
        }
    }
    .valuecoders-in-media-section {
        .margin-t-60 {
            margin-top: 10px;
        }
    }
    .valuecoders-our-team-section {
        .dis-flex {
            margin-top: 10px;
        }
        .flex-4 {
            flex-basis: 100%;
        }
    }
    .faq-section {
        &.faq-for-company {
            .faq-accordion-content {
                padding-right: 20px;
            }
            .faq-accordion-toggle {
                padding-right: 20px;
                &::after {
                    right: 5px;
                }
            }
            .flex-2 {
                padding: 20px 15px;
            }
        }
    }
    .three-column-icon-section {
        .box {
            padding: 30px 20px;
            h3 {
                margin: 10px 0 5px;
            }
            p {
                font-size: 14px;
            }
        }
        .box-3 {
            padding-right: 0;
            &:nth-child(3n) {
                padding-right: 0;
            }
        }
        ul {
            margin-top: 20px;
            li {
                font-size: 14px;
            }
        }
        .flex-2 {
            flex-basis: 100%;
        }
        &.with-border-box {
            .content-box {
                padding: 20px 15px;
            }
            .box-3 {
                padding: 10px 0;
            }
        }
    }
    .valuecoders-img-section {
        p {
            text-align: center;
        }
        .left-box {
            picture {
                display: none;
            }
        }
        .right-box {
            margin-top: 0;
            ul {
                li {
                    flex-basis: 100%;
                    margin-top: 15px;
                    padding-left: 25px;

                    &::before {
                        height: 7px;
                        width: 7px;
                    }
                    &::after {
                        height: 13px;
                        width: 13px;
                    }
                }
            }
            .dot-icon {
                position: relative;
                top: 0;
                left: 0;
                margin-right: 10px;
            }
        }
        .margin-t-100 {
            margin-top: 20px;
        }
        .icon-box {
            margin: 10px auto;
            flex-basis: 100%;
            max-width: 200px;
        }
    }
    .technologies-right-logo-section {
        .left-box {
            margin-top: 0;
        }
        .tech-box {
            margin-top: 40px;
            flex-basis: 50%;
            .tech-txt {
                margin-top: 10px;
            }
        }
        .img-tech-logo {
            height: auto;
        }
        .for-max-six-icon {
            .tech-box {
                flex-basis: 33.33%;
            }
        }
    }
    .two-column-right-box-section {
        .left-box {
            padding-right: 0;
        }
        .box {
            padding: 20px;
            p {
                font-size: 14px;
            }
        }
    }
    .day {
        .why-india-timeline-section {
            .timeline-outer {
                ul {
                    li {
                        &::after {
                            color: #e5e5e5;
                            background-image: none;
                        }

                    }
                }
            }
        }
    }
}