.header-two {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-top: 24px;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    &.header-bg {
        background: #181732;
        padding: 15px 0;
    }
    .wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        position: static;
    }
    .header-item-left {
        display: flex;
        flex: 0 0 17%;
    }
    .header-item-center {
        display: flex;
    }
    .width-25 {
        flex-basis: 25%;
    }
    .width-30 {
        flex-basis: 30%;
    }
    .width-40 {
        flex-basis: 40%;
    }
    .width-60 {
        flex-basis: 60%;
    }
    .width-75 {
        flex-basis: 75%;
    }
    .header-menu {
        display: none;
    }
    .header-menu.active {
        display: block;
    }
    .menu {
        ul {
            li {
                display: inline-block;
                margin-left: 45px;
                transition: color 0.3s ease;
                a {
                    position: relative;
                    text-decoration: none;
                    font-size: 20px;
                    border: none;
                    outline: none;
                    color: #fff;
                    text-transform: capitalize;
                    transition: color 0.3s ease;
                }
                .menu-mega {
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: auto;
                    margin-top: 20px;
                    padding: 100px 0 56px;
                    z-index: 1;
                    background: #fff;
                    display: none;
                    .left-list {
                        border-right: 2px solid #F2F2F2;
                        padding-right: 60px;
                        a {
                            color: #000;
                            display: block;
                            padding: 20px 30px;
                            border-bottom: 2px solid #F2F2F2;
                            cursor: pointer;
                            font-size: 18px;
                            position: relative;
                            border-radius: 10px;
                            &:last-child {
                                border-bottom: 0;
                            }
                            &.active {
                                background: #F2F2F2;
                                &::after {
                                    content: "";
                                    clear: both;
                                    display: block;
                                    background: url(../images/button-icons-sprite.png) -30px -54px no-repeat;
                                    width: 10px;
                                    height: 14px;
                                    position: absolute;
                                    top: 50%;
                                    transform: translateY(-50%);
                                    right: 20px;
                                }
                            }
                            &:hover {
                                background: #F2F2F2;
                            }
                        }
                    }
                    .middle-list,
                    .last-list {
                        a {
                            color: #B5B5B5;
                            display: block;
                            font-size: 16px;
                            font-weight: 500;
                        }
                        strong {
                            color: #1D1D3A;
                        }
                    }
                    .middle-list {
                        padding: 0 20px 0 50px;
                        a {
                            margin-top: 22px;
                            &.title {
                                color: #1D1D3A;
                                font-size: 18px;
                                font-weight: 600;
                                margin-top: 0;
                                line-height: 25px;
                                &.active {
                                    text-decoration: none;
                                }
                            }
                            &.active {
                                color: #1D1D3A;
                                font-weight: 600;
                                text-decoration: underline;
                            }
                        }
                    }
                    .last-list {
                        padding-left: 20px;
                        a {
                            margin-top: 10px;
                            &:hover {
                                color: #1D1D3A;
                            }
                            &.margin-t-40 {
                                margin-top: 40px;
                            }
                        
                        }
                    }
                    p {
                        font-size: 16px;
                        strong {
                            display: block;
                            margin-bottom: 15px;
                            position: relative;
                            padding-top: 10px;
                            font-size: 18px;
                            &::before {
                                content: "";
                                clear: both;
                                display: block;
                                position: absolute;
                                top: 0;
                                left: 0;
                                background-color: #60B741;
                                height: 2px;
                                width: 50px;
                            }
                        }
                    }
                }
                &.small-menu {
                    position: relative;
                    .small-menu-inner {
                        position: absolute;
                        left: 0;
                        width: max-content;
                        height: auto;
                        margin-top: 20px;
                        padding: 10px 40px 40px;
                        z-index: 1;
                        background: #fff;
                        border-radius: 10px;
                        display: none;
                        a {
                            color: #B5B5B5;
                            display: block;
                            font-size: 18px;
                            margin-top: 20px;
                            border-radius: 10px;
                            &:hover {
                                color: #1D1D3A;
                                text-decoration: underline;
                            }
                        }
                    }
                }
                &.menu-item-has-children {
                    padding: 0 20px 20px;
                    &:hover {
                        .menu-mega {
                            display: block;
                        }
                        .small-menu-inner {
                            display: block;
                        }
                        > a {
                            color: #60B741;
                            position: relative;
                            &::after {
                                content: "";
                                clear: both;
                                display: block;
                                background: url(../images/button-icons-sprite.png) -48px -25px no-repeat;
                                width: 38px;
                                height: 38px;
                                position: absolute;
                                top: 42px;
                                right: 0;
                                left: 0;
                                margin: 0 auto;
                                transform: translateY(-50%);
                            }
                        }
                    }
                }
                &.contact-nav {
                    a {
                        border-radius: 4px;
                        padding: 12px 45px 12px 25px;
                        display: inline-block;
                        margin-left: 1rem;
                        transition: all 0.3s ease-in-out;
                        background: #60B741;
                        color: #1D1C39;
                        position: relative;
                        font-weight: 600;
                        display: inline-flex;
                        justify-content: center;
                        align-items: center;
                    }
                    &:hover {
                        a {
                            background: #fff;
                            color: #1D1C39;
                        }
                    }
                }
            }
        }
    }
}

// day theme
.day {
    .header-two {
        .day-theme-logo {
            display: block;
        }
        .dark-theme-logo {
            display: none;
        }
        &.header-bg {
            background: #f7f7f9;
        }
        .menu {
            ul {
                li {
                    &.contact-nav a {
                        color: #fff;
						&:hover {
							background-color: #FFB81D;
						}
                    }
                    a {
                        color: #606F7B;
                    }
                    .menu-mega {
                        box-shadow: 0 5px 5px #d8d8d8;
                    }                    
                }
            }
        }
    }
}


// media 
@media only screen and (max-width: 1780px) {
    .header-two {
        .menu {
            ul {
                li {
                    a {
                        font-size: 18px;
                    }
                    .menu-mega {
                        padding: 60px 0 50px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .header-two {
        .menu {
            ul {
                li {
                    a {
                        font-size: 18px;
                    }
                    .menu-mega {
                        .left-list {
                            padding-right: 40px;
                            a {
                                font-size: 16px;
                                padding: 15px 20px;
                            }
                        }
                        .middle-list {
                            padding: 0 20px 0 30px;
                            a {
                                margin-top: 16px;
                                &.title {
                                    font-size: 16px;
                                }
                            }
                        }
                        .last-list {
                            a {
                                margin-top: 6px;
                                &.margin-t-40 {
                                    margin-top: 20px;
                                }
                            }
                        }
                        .middle-list a,
                        .last-list a {
                            font-size: 14px;
                        }
                        p {
                            strong {
                                margin-bottom: 10px;
                                font-size: 16px;
                            }
                        }
                    }
                    &.small-menu {
                        .small-menu-inner {
                            padding: 10px 25px 30px;
                            a {
                                font-size: 16px;
                                margin-top: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1200px) {
    .header-two {
        .menu {
            ul {
                li {
                    margin-left: 10px;
                    .menu-mega {
                        .left-list {
                            a {
                                font-size: 14px;
                                padding: 12px 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .header-two {
        .flex-2 {
            flex-basis: 50%;
        }
        .menu {
            ul {
                li {
                    margin-left: 0;
                    .menu-mega {
                        .left-list {
                            padding-right: 10px;
                        }
                        .middle-list {
                            padding: 0 10px;
                        }
                        .last-list {
                            padding-left: 10px;
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .header-mobile {
        position: fixed;
        top: 0;
        width: 100%;
        background: #1d1c39;
        z-index: 99;
        padding: 20px 0;
        li {
            display: block;
            margin-top: 10px;
        }
        a {
            display: inline-block;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #FFFFFF;
            text-decoration: none;
            margin-right: 5px;
        }
        .logo {
            max-width: 200px;
        }
        .arrow-btn {
            display: inline-block;
            position: relative;
            width: 12px;
            height: 9px;
            background: url(../images/button-icons-sprite.png) -53px -64px no-repeat;
        }
        .mob-nav {
            position: fixed;
            width: 80%;
            height: 100%;
            top: 0;
            left: 0;
            background: #1d1c39;
            padding: 20px;
            display: none;
            overflow-y: auto;
            &.active {
                display: block;
            }
        }
        .menu-list {
            &.first {
                li {
                    margin-top: 20px;
                }
            }
            &.second {
                display: none;
                ul {
                    margin-top: 30px;
                }
                &.active {
                    display: block;
                }
            }
        }
        .first-inner {
            display: none;
            a {
                display: block;
                margin-top: 10px;
                font-size: 10px;
                line-height: 14px;
                color: #B5B5B5;
            }
            &:active {
                display: block;
            }
        }
        .inner-list {
            display: none;
            a {
                display: block;
                margin-top: 10px;
                font-size: 10px;
                line-height: 14px;
                color: #B5B5B5;
            }
            &.active {
                display: block;
            }
        }
        .header-top {
            display: flex;
            justify-content: space-between;
            .mobile-logo {
                flex-basis: 60%;
            }
        }
        .bar1, .bar2, .bar3 {
            width: 18px;
            height: 2px;
            background: #FFFFFF;
            border-radius: 1px;
            margin: 6px 0;
        }
        .back-btn {
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            color: #FFFFFF;
        }
    }
}