@import "_default";
@import "menu";

.small-banner-section {
    padding: 305px 0 160px;
    display: flex;
    align-items: center;
    &.for-disclaimer-banner {
        background: $themeDarkNight url('../images/for-disclaimer-banner.webp') top center no-repeat;
        background-size: cover;
    }
    &.for-gdpr-banner {
        background: $themeDarkNight url('../images/for-gdpr-banner.webp') top center no-repeat;
        background-size: cover;
    }
    &.for-privacy-banner {
        background: $themeDarkNight url('../images/for-privacy-banner.webp') top center no-repeat;
        background-size: cover;
    }
    &.for-terms-banner {
        background: $themeDarkNight url('../images/for-terms-banner.webp') top center no-repeat;
        background-size: cover;
    }
    h1 {
        position: relative;
        z-index: 1;
    }
}

.day {
    .small-banner-section {
        background: #F7F7F9;
        h1 {
            color: $headDay;
        }
    }
}
.disclaimer-section {
    h2 {
        font-size: 30px;
        line-height: 40px;
    }
    ul {
        margin-top: 20px;
        li {
            list-style-type: none;
            margin-top: 20px;
            padding-left: 30px;
            position: relative;
            &::before {
                content: "";
                clear: both;
                display: inline-block;
                background-color: $darkYellow;
                border-radius: 50%;
                position: absolute;
                height: 11px;
                width: 11px;
                top: 5px;
                left: 4px;
            }
            &::after {
                content: "";
                display: inline-block;
                border: 1px $darkYellow solid;
                border-radius: 50%;
                width: 17px;
                height: 17px;
                position: absolute;
                top: 1px;
                left: 0;
            }
        }
    }
}

.term-of-service-section {
    padding-top: 94px;
    .term-outer {
        margin-top: 60px;
        &:first-child {
            margin-top: 0;
        }

        ul {
            list-style: none;
            margin-top: 20px;
        }

        h2 {
            font-size: 30px;
            line-height: 41px;
        }
        h3{
            font-size: 24px;
            line-height: 33px;
            margin-top:40px;
        }
        h4{
            font-size: 18px;
            margin-top:40px;
            line-height: 29px;
            color: $white;
        }

        li {
            line-height: 160%;
            margin-top: 20px;
        }
    }
}

.day {
    .term-of-service-section {
        .term-outer {
            h4 {
                color: $headDay;
            }
        }
    }
}

.privacy-policy-section {
    padding-top: 94px;

    .policy-outer {
        margin-top: 60px;

        &:first-child {
            margin-top: 0;
        }

        ul {
            list-style: none;
            margin-top: 20px;
        }

        h2 {
            font-size: 30px;
            line-height: 41px;
        }

        li {
            line-height: 160%;
            margin-top: 20px;
        }
    }
}

.gdpr-compliance-section {
    padding-top: 94px;

    .gdpr-compliance-outer {
        margin-top: 60px;
        &:first-child {
            margin-top: 0;
        }

        ul {
            list-style: none;
            margin-top: 20px;
        }

        p {
            margin-top: 20px;
        }

        h2 {
            font-size: 30px;
            line-height: 41px;
        }

        h3 {
            font-size: 24px;
            line-height: 33px;
        }
        img {
            width: 100%;
            margin: 40px 0 30px;
        }
    }
}

.gdpr-three-column-icon-section {
    .col-box-outer {
        margin-top: 75px;
        justify-content: center;
    }
    .box {
        height: 100%;
        transition: all 0.3s ease-in-out;
        padding: 59px 48px 125px;
        &:hover {
            box-shadow: 0 0 10px #949494;
            border-radius: 5px;
        }
        h3 {
            margin: 30px 0 30px;
        }
    }
    .box-3 {
        padding-right: 15px;
        margin-top: 20px;
    }
    ul {
        li {
            font-size: 18px;
            line-height: 25px;
            padding-left: 22px;
            &::before {
                background-position: -25px -31px;
                width: 14px;
                height: 14px;
                top: 4px;
            }
        }
    }
}
.day {
    .gdpr-three-column-icon-section {
        .tick-icon-list {
            li {
                &::before {
                    background-position: 1px -88px;
                }
            }
        }
    }
}

@media only screen and (max-width: 1600px) {
    .small-banner-section {
        padding: 250px 0 120px;
    }
    .gdpr-compliance-section,
    .privacy-policy-section,
    .term-of-service-section {
        padding-top: 60px;
    }
    .gdpr-three-column-icon-section {
        .box {
            padding: 35px 30px 50px;
            h3 {
                margin: 20px 0 20px;
            }
        }
        ul {
            li {
                font-size: 16px;
            }
        }
    }
    .term-of-service-section {
        .term-outer {
            h2 {
                font-size: 26px;
            }
            h3 {
                font-size: 22px;
            }
            li {
                margin-top: 15px;
            }
        }
    }
}

@media only screen and (max-width: 1440px) {
    .term-of-service-section {
        .term-outer {
            margin-top: 40px;
        }
    }
}

@media only screen and (max-width: 1200px) {
    .gdpr-three-column-icon-section {
        .col-box-outer {
            margin-top: 40px;
        }
    }
}

@media only screen and (max-width: 767px) {
    .small-banner-section {
        padding: 150px 0 60px;
    }
    .disclaimer-section {
        h2 {
            font-size: 22px;
            line-height: 32px;
        }
    }
    .gdpr-compliance-section {
        .gdpr-compliance-outer {
            h2 {
                font-size: 24px;
                line-height: 34px;
            }
        }
    }
    .term-of-service-section,
    .gdpr-compliance-section,
    .privacy-policy-section {
        padding-top: 40px;
    }
    .gdpr-compliance-section {
        .gdpr-compliance-outer {
            p {
                margin-top: 10px;
            }
        }
    }
    .gdpr-three-column-icon-section {
        .box {
            padding: 20px 15px 30px;
        }
        .col-box-outer {
            margin-top: 20px;
        }
        .box-3 {
            padding-right: 0;
            h3 {
                margin: 10px 0;
            }
        }
        ul {
            li {
                font-size: 14px;
            }
        }
    }
    .term-of-service-section {
        .term-outer {
            margin-top: 20px;
            h2 { 
                font-size: 24px;
                line-height: 34px;
            }
            h3 {
                font-size: 20px;
                margin-top: 20px;
            }
            h4 {
                font-size: 16px;
                margin-top: 20px;
            }
            ul {
                margin-top: 10px;
            }
            li {
                margin-top: 10px;
            }
        }
    }
    .privacy-policy-section {
        .policy-outer {
            margin-top: 30px;
            h2 { 
                font-size: 24px;
                line-height: 34px;
            }
            ul {
                margin-top: 10px;
            }
            li {
                margin-top: 10px;
            }
    
        }
    }
            
}

