.build-team {
  padding: 120px 0px;
  background-color: #ffffff;
}
@media (max-width: 992px) {
  .build-team {
    padding: 60px 0;
  }
}
.build-team .section-header {
  position: relative;
  margin-bottom: 6%;
}
.build-team .section-header > span {
  color: #FFAD00;
  font-size: 12px;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.build-team .section-header h2 {
  line-height: 100%;
  margin: 0;
  color: #0c104c;
}
.build-team .section-header h2 em {
  color: #FFAD00;
  font-style: normal;
}
.build-team .section-header p {
  margin-top: 10px;
  font-size: 18px;
  line-height: 160%;
  color: #60646C;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-bottom: 30px;
  overflow: hidden;
}
@media (max-width: 992px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 767px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}
.card-grid .card {
  background: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  border: 1px solid #E5E7EB;
  backdrop-filter: blur(13.9393939972px);
  min-height: 405px;
  display: flex;
  position: relative;
  flex-direction: column;
  transition: all 0.3s ease;
  overflow: hidden;
  cursor: pointer;
}
.card-grid .card::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  height: 50%;
  background: url(../images/card-top-sade.png);
  content: "";
}
.card-grid .card .strategic-needs {
  visibility: hidden;
  transform: translateY(100%);
  transition: 0.4s;
  background: #FFCD6A;
  padding: 20px;
  border-radius: 12px;
  margin-top: 20px;
  position: absolute;
  margin: 15px;
  left: 0;
  margin-bottom: 0 !important;
}
.card-grid .card h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
.card-grid .card p {
  color: #555;
  line-height: 1.4;
}
.card-grid .card .card-icon {
  margin-bottom: 20px;
  font-size: 24px;
  color: #999;
  width: 45px;
  height: 45px;
}
.card-grid .card .card-icon i {
  padding: 11px;
  width: 100%;
  padding: 11px;
  border-radius: 12px;
  border-width: 1px;
  background: #ffffff;
  display: flex;
  border: 1px solid rgb(229, 231, 235);
}
.card-grid .card .card-icon i img {
  width: 23px;
  height: 23px;
}
.card-grid .card .card-footer {
  margin-top: auto;
  padding-top: 20px;
  border-top: 1px solid #E0E0E0;
}
.card-grid .card .card-footer ul {
  padding-left: 15px;
}
.card-grid .card .card-footer ul li {
  font-size: 14px;
  color: #4A5565;
  line-height: 160%;
  font-style: italic;
  font-weight: 600;
  list-style: disc;
}
.card-grid .card:hover {
  background: #FFAD00;
  height: 405px;
}
.card-grid .card:hover h3 {
  color: #1A1A1A;
}
.card-grid .card:hover > p {
  display: none;
}
.card-grid .card:hover .strategic-needs {
  visibility: visible;
  transform: translateY(0px);
}
.card-grid .card:hover .strategic-needs p {
  font-weight: 600;
  font-size: 12px;
  color: #1A1A1A;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.card-grid .card:hover .strategic-needs ul {
  list-style: none;
  padding: 0;
}
.card-grid .card:hover .strategic-needs ul li {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 500;
  position: relative;
  line-height: 20px;
  padding-left: 25px;
  font-weight: 500;
  color: #1D293D;
}
.card-grid .card:hover .strategic-needs ul li:before {
  content: "";
  background: url(../icons/dark-check.svg);
  margin-right: 8px;
  width: 15px;
  height: 15px;
  display: flex;
  left: 0;
  top: 7px;
  position: absolute;
}

.build-team .card .card-content {
  overflow: hidden;
}

.build-team .card:hover .card-icon {
  display: none;
}

.build-team .card:hover .card-footer {
  display: none;
}

.build-team .card:hover .card-content > p {
  display: none;
}

.not-for-section {
  background: #090C19;
  border-radius: 24px;
  padding: 40px 84px 40px 39px;
  overflow: hidden;
  color: #ffffff;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}
.not-for-section::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 41%;
  height: 100%;
  background: url(../images/fit-back-sade.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.not-for-section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 21%;
  height: 100%;
  background: url(../images/r-eleps-radius.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.not-for-section .yello-sade {
  position: absolute;
  right: -62%;
  background-image: url(../images/yellow-sade.png);
  width: 82%;
  height: 350px;
  bottom: -160px;
  background-repeat: no-repeat;
  border-radius: 58%;
}
@media (max-width: 992px) {
  .not-for-section {
    flex-direction: column;
    text-align: center;
    padding: 25px;
  }
}
.not-for-section .not-for-content {
  max-width: 60%;
}
.not-for-section .not-for-content h3 {
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 5px;
}
@media (max-width: 992px) {
  .not-for-section .not-for-content {
    max-width: 100%;
  }
}
.not-for-section .not-for-content h2 {
  margin-bottom: 10px;
}
.not-for-section .not-for-content p {
  color: rgb(209, 213, 220);
  margin-bottom: 30px;
}
.not-for-section .not-for-content ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  font-size: 14px;
}
.not-for-section .not-for-content ul li {
  position: relative;
  padding-left: 24px;
}
.not-for-section .not-for-content ul li::after {
  position: absolute;
  left: 0;
  transform: translateY(-50%);
  top: 50%;
  width: 16px;
  background-size: contain;
  height: 16px;
  background-image: url(../icons/circle-x.svg);
  background-repeat: no-repeat;
  content: "";
}
@media (max-width: 767px) {
  .not-for-section .not-for-content {
    grid-template-columns: 1fr;
  }
}
.not-for-section .cta-area {
  text-align: right;
  color: #ffffff;
}
@media (max-width: 767px) {
  .not-for-section .cta-area {
    margin-top: 40px;
    text-align: center;
  }
}
.not-for-section .cta-area p {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 600;
  margin-top: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  position: relative;
  padding-left: 54px;
}
.not-for-section .cta-area p::after {
  position: absolute;
  left: 28px;
  transform: translateY(-50%);
  top: 50%;
  width: 16px;
  background-size: contain;
  height: 16px;
  background-image: url(../icons/zap.svg);
  background-repeat: no-repeat;
  content: "";
}

@media screen and (max-width: 1024px) {
  .card-grid .card {
    padding: 20px;
  }
  .card-grid .card .strategic-needs {
    padding: 10px;
  }
  .card-grid .card:hover .strategic-needs ul li {
    font-size: 13px;
  }
}
@media screen and (max-width: 992px) {
  .card-grid .card {
    min-height: 325px;
  }
  .card-grid .card:hover {
    height: 325px;
  }
  .not-for-section::before {
    background-size: cover;
    width: 26%;
  }
}
@media screen and (max-width: 640px) {
  .card-grid .card {
    padding: 15px;
  }
  .card-grid .card .strategic-needs {
    margin-top: 0;
  }
  .not-for-section .not-for-content ul {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
.card-grid .card:hover .strategic-needs {
  position: static;
  margin: 0;
}

/*# sourceMappingURL=build-team.css.map */
