.cost-banner {
padding: 117px 0 80px;
min-height: initial;
background: linear-gradient(180deg, #211f47 0, #05164d 100%) !important;
text-align: center;
}

.cost-banner h1 {
    font-size: 60px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 15px;
}

.cost-banner p {
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    margin-bottom: 0;
    font-weight: 400;
}

.faq-section h2 {
    font-size: 42px;
    line-height: 60px;
    font-weight: 700;
    color: #110302;
}

.faq-section p {
    color: #4B5563;
}

.experts-talk-first-section h2 {
    color: #ffffff;
    font-size: 42px;
    line-height: 60px;
    font-weight: 700;
}

.experts-talk-first-section p {
    margin-top: 20px;
    color: #9b9b9b !important;
    line-height: 26px;
    font-size: 16px;
}

@media only screen and (max-width: 767px) {
    .cost-banner h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .faq-section h2 {
        font-size: 28px;
        line-height: 37px;
    }

    .experts-talk-first-section h2 {
        font-size: 28px;
        line-height: 37px;
    }
    .experts-talk-first-section p {
        font-size: 14px;
        line-height: 20px;
        margin-top: 15px;
    }
}
.iti__flag-container{height: 49px;}
.iti__arrow{margin-left: 20px;}
.iti--allow-dropdown input, .iti--allow-dropdown input[type=tel]{padding-left: 80px;}

@media (max-width: 375px) {
    .text-xl,
    .text-3xl{font-size: 14px !important;}
}