@use "_default" as *;

.ai-production-loop {
position: relative;
    display: flex;
    min-height: 700px;
    background:linear-gradient(270deg, #090C19 43.32%, #00060d 62.86%, rgba(9, 12, 25, 0) 100%);
flex-wrap: wrap;
@media (max-width:768px) {
    min-height: auto;
  }

}

/* LEFT IMAGE FULL HEIGHT */

.ai-left {

    height: 100%; position: absolute;
        left: 0;
        width: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    video{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
      .hands-img{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .hand{
            display: block;

            img{
                width: 100%;
                height: 20%;
                object-fit: cover;
            }
        }
        .human-hand{
                position: absolute;
    top: 0%;
    width: 39%;
            transition: width 2s ease;

    right: -13%;
        }
        .ai-hand{
               position: absolute;
    bottom: -17%;
            transition: width 2s ease;

    left: 0%;
    width: 31%;
        }
    }



}

/* RIGHT CONTENT */

.ai-right {

    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    background: linear-gradient(270deg, #090c19 43.32%, rgb(9 12 25 / 31%) 62.86%, rgba(9, 12, 25, 0) 100%);
    z-index: 11;

    .ai-content {
        padding: 80px 0 80px 20px;
        color: $white;
        max-width: 590px;
        float: right;

        h2 {
            font-size: clamp(30px, 3.7vw, 46px);
            font-weight: 700;
            margin-bottom: 10px;
            color: #fff;

            em{
                color: $darkYellow;
                font-style: normal;
            }
        }

    > p {
            
            color: #FFFFFFB0;
            margin-bottom: 60px;
        }

    }

    &::after{
        position: absolute;
        right: 0;
        top: 0;
        content: "";
        width: calc(100% - 30%);
        height: 100%;
        background: linear-gradient(270deg, #090C19 43.32%, rgba(9, 12, 25, 0.95) 62.86%, rgba(9, 12, 25, 0) 100%); 
        z-index: -1;
    }

}

/* LIST */

.ai-list {
    height: 410px;

    .ai-item {

        position: relative;
        padding: 20px 0;
        border-bottom: 1px solid rgba(255,255,255,0.08);
        cursor: pointer;

        /* Reserve space so layout doesn't jump */
        

        &:before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #6A7282;
            position: absolute;
            left: -18px;
            top: 30px;
            transition: 0.3s;
        }

        .title h4 {
            font-size: 22px;
            font-weight: 700;
            transition: 0.3s;
            color: $white;
        }

        /* FIXED HEIGHT AREA */

        .desc {

            font-size: 14px;
            font-weight: 500;
            color: #D1D5DC;
            max-height: 0px;
            opacity: 0;
            overflow: hidden;
            transition:
                max-height 0.4s ease,
                opacity 0.3s ease;

            p {
                color: #D1D5DC;
                margin-top: 10px;
            }
            ul{
                li{
                    position: relative;
                    color: #D1D5DC;
                    &::before {
                            content: "";
                            width: 8px;
                            height: 8px;
                            background-color: #FFAD00;
                            border-radius: 50%;
                            position: absolute;
                            left: 0;
                            top: 10px;
                        }
                }
            }

        }

        .progress {

            position: absolute;
            bottom: -1px;
            left: 0;

            height: 2px;
            width: 0%;

            background: $yellow;

        }

        /* ACTIVE */

        &.active {

            &:before {
                background: $yellow;
            }

            .title h4 {
                color: $yellow;
            }

            .desc {

                max-height: 80px; /* fixed height */
                opacity: 1;

            }

        }

    }

}

/* RESPONSIVE */

@media (max-width: 1024px) {

.ai-right {
    width: 100%;
}
.ai-production-loop {background: linear-gradient(270deg, #090C19 43.32%, rgba(9, 12, 25, 0.95) 62.86%, rgb(9 12 25 / 89%) 100%);}
.ai-right .ai-content{max-width: 100%; float: unset; padding-left: 20px;}

    .ai-left {
        display: none;
       
    }

    .ai-right .ai-content h2 {
        font-size: 32px;
    }

}

@media (max-width: 640px) {

    .ai-right .ai-content {
        padding: 48px 0;
    }

    
    .ai-list{padding-left: 20px;}
    .ai-right .ai-content > p{margin-bottom: 0;}

}
   

.ai-production-loop{

    &.is-center {
        
        .human-hand {
            width: 79%; 
            transition: width 1s ease;
        }
        
        .ai-hand {
            width: 71%; 
            transition: width 1s ease;
        }
        
    }
}