@use "core/variables" as *;

.ai-production-loop {
position: relative;
    display: flex;
    min-height: 700px;
    background:linear-gradient(270deg, #090C19 43.32%, #00060d 62.86%, rgba(9, 12, 25, 0) 100%);
flex-wrap: wrap;
@media (max-width:768px) {
    min-height: auto;
  }

}

/* LEFT IMAGE FULL HEIGHT */

.ai-left {

    height: 100%; position: absolute;
        left: 0;
        width: 50%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    video{
        object-fit: cover;
        width: 100%;
        height: 100%;
    }
}

/* RIGHT CONTENT */

.ai-right {

    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    background: linear-gradient(270deg, #090c19 43.32%, rgb(9 12 25 / 31%) 62.86%, rgba(9, 12, 25, 0) 100%);
    z-index: 11;

    .ai-content {
        padding: 80px 0 91px 20px;
        color: $white;
        max-width: 590px;
        float: right;

        h2 {
            font-weight: 700;
            margin-bottom: 10px;
            line-height:130%;
            color: #fff;

            em{
                color: $blue-off-light;
                font-style: normal;
            }
        }

    > p {
            
            color: #F0F0F3;
            line-height: 160%;
            margin-bottom: 60px;
        }

    }

    &::after{
        position: absolute;
        right: 0;
        top: 0;
        content: "";
        width: calc(100% - 20%);
        height: 100%;
        // background: linear-gradient(270deg, #090C19 43.32%, rgba(9, 12, 25, 0.95) 62.86%, rgba(9, 12, 25, 0) 100%); 
background: linear-gradient(270deg, #05164D 43.32%, rgba(5, 22, 77, 0.95) 62.86%, rgba(5, 22, 77, 0) 100%);

        z-index: -1;
    }

}

/* LIST */

.ai-list {
    height: 280px;
    padding-left: 25px;
    .ai-item {
&:first-of-type{
    padding-top: 0;
}
        position: relative;
        padding: 20px 0;
        border-bottom: 1px solid rgba(255,255,255,0.08);
        cursor: pointer;

        /* Reserve space so layout doesn't jump */
       

        .title h4 {
            font-size: 22px;
            font-weight: 700;
            transition: 0.3s;
            color: $white;
            position: relative;
             &:before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #6A7282;
            position: absolute;
            left: -24px;
            top: 10px;
            transition: 0.3s;
        }
        }

        /* FIXED HEIGHT AREA */

        .desc {

           
        
            max-height: 0px;
            opacity: 0;
            overflow: hidden;
            transition:
                max-height 0.4s ease,
                opacity 0.3s ease;

            p {
                color: #E8E8EC;
                margin-top: 10px;
                 font-size: 16px;
            font-weight: 500;

            }
            ul{
                li{
                    position: relative;
                    color: #D1D5DC;
                    &::before {
                            content: "";
                            width: 8px;
                            height: 8px;
                            background-color: $blue-off-light;
                            border-radius: 50%;
                            position: absolute;
                            left: 0;
                            top: 10px;
                        }
                }
            }

        }

        .progress {

            position: absolute;
            bottom: -1px;
            left: 0;

            height: 2px;
            width: 0%;

            background: $blue-off-light;

        }

        /* ACTIVE */

        &.active {

           

            .title h4 {
                color: $blue-off-light;
                 &:before {
                background: $blue-off-light;
            }
            }

            .desc {

                max-height: 80px; /* fixed height */
                opacity: 1;

            }

        }

    }

}

/* RESPONSIVE */

@media (max-width: 1024px) {

.ai-right {
    width: 100%;
}
.ai-production-loop {background: linear-gradient(270deg, #090C19 43.32%, rgba(9, 12, 25, 0.95) 62.86%, rgb(9 12 25 / 89%) 100%);}
.ai-right .ai-content{max-width: 100%; float: unset; padding-left: 20px;}

    .ai-left {
        display: none;
       
    }

    .ai-right .ai-content h2 {
        font-size: 32px;
    }

}

@media (max-width: 640px) {

    .ai-right .ai-content {
        padding: 48px 0;
    }

    
    .ai-list{padding-left: 20px;}
    .ai-right .ai-content > p{margin-bottom: 20px;}

}