
.development-process {
  p {
    color: $white !important;
    line-height: 26px;
    margin: 15px 0 0;
  }
  .app-dprocess {
    background: #212150;
    padding: 50px 30px 40px;
    position: relative;
    &:after {
      content: "";
      background: linear-gradient(180deg, #ffcf66 0%, #e19b01 100%);
      width: 95%;
      height: 4px;
      position: absolute;
      left: 31px;
      top: 163px;
    }
    &:before {
      content: "";
      content: "";
      width: 25%;
      height: 1px;
      border-bottom: 1px dashed #ffffff;
      bottom: 0;
      position: absolute;
      top: 163px;
      right: 0;
    }
    .process-item {
      flex-basis: 16.66%;
      padding-right: 30px;
      position: relative;
      counter-increment: myCounter;

      .pro-title {
        position: relative;
        margin: 0 0 8px;
      }
      .nocount {
        font-size: 14px;
        font-weight: 900;
        color: #fff;
        opacity: 0.5;
        margin: 0 0 10px;

        &:before {
          content: counter(myCounter);
          border-radius: 100%;
          -webkit-border-radius: 100%;
          position: absolute;
          left: 34px;
        }
      }
      h3 {
        color: $white;
        font-size: 16px;
        line-height: 22px;
        min-height: 70px;
      }
      p {
        font-size: 14px;
        line-height: 160%;
      }
      .process-circle {
        background: linear-gradient(180deg, #ffcf66 0%, #e19b01 100%);
        width: 16px;
        height: 16px;
        border-radius: 100%;
        z-index: 99;
        position: relative;
      }

      &:first-child {
        .pro-title {
          &:before {
            content: "";
            width: 25%;
            height: 1px;
            border-bottom: 1px dashed #ffffff;
            bottom: 0;
            position: absolute;
            top: 113px;
            left: -29px;
          }
        }
      }
      &:last-child {
        padding: 0;
      }
    }
  }
  &.how-process{
    .app-dprocess {
      .process-item{flex-basis: 20%;}
    }
  }
}

.four-step-with-icon-section {
  counter-reset: step;

  &.bg-light-theme {
    .icon-box {
      &::after {
        background: $white;
      }
    }
  }

  h3 {
    margin-top: 25px;
  }

  .icon-box {
    padding: 0 25px 70px;
    position: relative;

    p {
      margin-top: 10px;
    }

    &::before {
      content: "";
      clear: both;
      display: block;
      width: 100%;
      height: 1px;
      position: absolute;
      bottom: 15px;
      left: 25px;
      border-radius: 0;
      border: 0;
      background-color: rgba(110, 109, 134, 0.5);
    }

    &::after {
      counter-increment: step;
      content: "Step " counter(step);
      position: absolute;
      bottom: 0;
      left: 25px;
      font-size: 18px;
      color: rgba(110, 109, 134, 0.5);
      border: 0.5px solid rgba(110, 109, 134, 0.7);
      background: #fff;
      border-radius: 5px;
      padding: 8px 20px;
      display: block;
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
  }

  .icon {
    width: 85px;
    height: 56px;
    display: block;
  }

  .hiring-step-sprite {
    .icon {
      background: url(../images/our-hiring-process-sprite-icons2.png) 0 0
        no-repeat;

      &.icon1 {
        background-position: -10px -10px;

      }

      &.icon2 {
        background-position:  -10px -150px;
      }

      &.icon3 {
        background-position: -10px -224px;
      }

      &.icon4 {
        background-position: -10px -74px;
      }

      &.icon5 {
        background-position: -10px -222px;
      }

      &.icon6 {
        background-position: -933px -110px;
        margin: auto;
        text-align: center;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .four-step-with-icon-section {
    .icon-box {
      padding: 0 20px 60px;

      &::after {
        font-size: 14px;
        padding: 6px 18px;
        left: 20px;
      }
    }
  }
}


@media only screen and (max-width: 1200px) {

  .development-process {
    p {
      line-height: 24px;
      margin: 10px 0 0;
    }
    .app-dprocess {
      padding: 30px 25px;

      &:after {
        display: none;
      }
      &:before {
        display: none;
      }
      .process-item {
        flex-basis: 100%;
        padding-right: 0;
        margin: 0 0 20px;
        h3 {
          min-height: initial;
          margin: 0 0 5px;
        }
        .pro-title {
          margin: 0;
          position: relative;
          &:after {
            content: "";
            background: linear-gradient(180deg, #ffcf66 0%, #e19b01 100%);
            width: 100%;
            height: 4px;
            position: absolute;
            left: 2px;
            bottom: -15px;
          }
        }
        .nocount {
          margin: 0 0 5px;
        }

        &:first-child {
          .pro-title {
            &:before {
              display: none;
            }
          }
        }
      }
    }
    &.how-process{
      .app-dprocess {
        .process-item{flex-basis:100%;}
      }
      
    }
  }
}

@media only screen and (max-width: 991px) {
  .four-step-with-icon-section {
    h3 {
      margin-top: 10px;
    }

    .icon-box {
      flex-basis: 50%;
      margin-top: 40px;
      padding: 0 20px 50px;

      &:nth-child(2n) {
        &::before {
          display: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .four-step-with-icon-section {
    .icon-box {
      flex-basis: 100%;
      margin-top: 30px;
      padding: 0;
      text-align: center;

      &::before,
      &::after {
        display: none;
      }
    }

    .hiring-step-sprite {
      .icon {
        width: 150px;
        margin: 0 auto;
        &.icon1 {
          background-position: 35px -6px;
        }

        &.icon2 {
          background-position: 35px -74px;
        }

        &.icon4 {
          background-position: 22px -149px;
        }

        &.icon5 {
          background-position: 40px -223px;
        }
      }
    }
  }
}