
@use "core/variables" as *;

.help-section {
    background: $bgWhiteGray;
    

    .section-head {
        text-align: center;
        max-width: 700px;
        margin: 0 auto 70px;
        @media (max-width:1024px) {
        margin-bottom: 50px;
    }

        h2 {
            font-weight: 700;
            color: $navy-blue;
            margin-bottom: 10px;
            line-height: 100%;
            em{
                color: $blue-lihgt;
                font-style: normal;
            }
        }

        p {
            line-height: 1.6;
            font-size: 18px;
            color: #364153;
            line-height: 160%;
            font-weight: 500;
        }
    }

    /* GRID */

    .help-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }

    /* CARD */

    .help-card {
        background: $white;
        padding: 30px;
        border-radius: 20px;
        border: 1px solid $darkWhiteGray;
       box-shadow: 0px 4px 14px 3px #0000000F;
        transition: 0.3s ease;
        position: relative;

        .icon {
            
            margin-bottom: 18px;
            display: block;
            height: 45px;
            img{width: 45px; height: 45px;}
            
        }

        h3 {
            font-size: 22px;

            font-weight: $medium-font;
            color: $light-grey;
            margin-bottom: 10px;
            line-height: 150%;
        }

        p {
            font-size: 16px;
            color: $list-color;
            margin-bottom: 25px;
            line-height: 160%;
        }
h4{
    color: #60646C;
    font-size: 16px;
    font-weight: 600;
margin-bottom: 15px;
    line-height: 100%;
}
        ul {
            padding: 0;
            margin: 0px 0;

            li {
                list-style: none;
                font-size: 14px;
                color: #80838D;
                margin-bottom: 15px;
                font-weight: 500;
                line-height: 100%;
                position: relative;
                padding-left: 26px;

                &:before {
                    content: "";
                    position: absolute;
                    background: url(../images/index-v10/check-list.webp);
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    width: 14px;
                    height: 14px;
                    background-size: 14px;
                    
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
        .border-line{
            border-top: 1px solid #E5E7EB ;
            margin-bottom: 49px;
            margin-top: 30px;
        }
        .learn-more {
            font-size: 16px;
            font-weight: $medium-font;
            color: $dark-blue;
            text-decoration: none;
            transition: 0.3s;
            position: absolute;
            left: 30px;
            bottom: 30px;


            &::after{
                content: "";
                background: url('../images/index-v10/right-blue.svg') no-repeat;
                width: 16px;
                height: 17px;
                margin-top: 0px;
                background-size: 100%;
                display: inline-block;
                margin-left: 8px;
                transition: 0.4s;

            }

            &:hover{
                   color: $dark-blue !important;

                   &::after{
                    transform: translateX(2px);
                    transition: 0.4s;
                   }
            }
         
        }
        /* Hover Effect (like second card) */
        &:hover {
          border: 1px solid #1D5BC4;
          box-shadow: 0px 0px 20px 5px #1D5BC426;


            
        }

        /* Active Default Card */

       
        .hover{
            display: none;
        }
        &:hover .hover{
            display: block;
        }
        &:hover .normal{
            display: none;
        }
    }


    .bottom-append-part{
        margin-top: 30px;
        width: 100%;
        position: relative;
      .btn-primary-two{
        margin-left: auto;
      }

      &::before{
        content: "";
        position: absolute;
        left: 0;
        width: calc(100% - 140px);
        background-color: #F0F0F3;
        height: 2px;
        top: 50%;

      }
    }


    /* RESPONSIVE */

   
    @media screen and (max-width: 1024px) {
        .help-grid {
            grid-template-columns: repeat(2, 1fr);
        }
        
    }
  

    @media (max-width: 640px) {
        

        .help-grid {
            grid-template-columns: 1fr;
        }

        
    }
}