.hiring-models {
  &.bg-dark-theme {
    .has-vlink {
      .box {
        &:hover {
          background: $white;
        }
      }
    }
    .has-anchor {
      .box {
        &:hover {
          background: $white;
        }
      }
    }
  }
  &.default-light {
    background: $white;
    .has-vlink {
      .box {
        &:hover {
          background: $bgWhiteGray;
        }
      }
    }
    .has-anchor {
      .box {
        &:hover {
          background: $bgWhiteGray;
        }
      }
    }
  }
  .col-box-outer {
    margin-top: 75px;
    justify-content: center;
  }
  h3 {
    a {
      color: $headDay;
    }
  }
  .learn-more {
    margin-top: 20px;
  }
  .has-anchor {
    .box {
      &:hover {
        background: $white;
      }
    }
    a {
      display: block;
      height: 100%;
    }
  }

  .has-vlink {
    .box {
      &:hover {
        background: $bgWhiteGray;
      }
    }
  }

  .box {
    padding: 60px 50px;
    height: 100%;
    transition: all 0.3s ease-in-out;
    border: 1px solid #d1d1e1;
    .model-txt{margin:0 0 15px; display: block; line-height: 26px;}
    h3 {
      margin: 30px 0 20px;
    }
    p {
      a {
        display: inline;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    ul {
      li {
        position: relative;
        margin-bottom: 15px;
        padding-left: 27px;
        text-align: left;
        &:before {
          content: "";
          position: absolute;
          top: 3px;
          left: 0;
          background: url(../images/check-list.png) no-repeat;
          width: 16px;
          height: 16px;
        }
      }
    }
  }
  .box-3 {
    padding-right: 26px;
    margin-top: 26px;
    &:nth-child(3n) {
      padding-right: 0;
    }
    &.flex-2 {
      padding-right: 0;
      &:nth-child(2n-1) {
        padding-right: 26px;
      }
    }
  }
  .box-2 {
    padding-right: 26px;
    margin-top: 26px;
    &.flex-2 {
      padding-right: 0;
      &:nth-child(2n-1) {
        padding-right: 26px;
      }
    }
  }
  .box-4 {
    padding-right: 20px;
    margin-top: 20px;
    &:nth-child(4n) {
      padding-right: 0;
    }
  }
  ul {
    margin-top: 40px;
  }
  a {
    text-decoration: none;
  }

  .cto-service {
    .box {
      padding: 0 0 40px;
      .headtext {
        background: $bgWhiteGray;
        padding: 30px 50px;
        h2 {
          font-size: 32px;
          line-height: 44px;
        }
      }
      .inner-text {
        padding: 20px 50px 0;
      }
      ul {
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 1600px) {
  .hiring-models {
    .col-box-outer {
      margin-top: 50px;
    }
    .box {
      padding: 40px 30px;
      h3 {
        margin: 20px 0 10px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
    ul {
      li {
        font-size: 16px;
      }
    }

    .cto-service {
      .box {
        padding: 0 0 40px;
        .headtext {
          padding: 30px 30px;
          h2 {
            font-size: 24px;
          }
        }
        .inner-text {
          padding: 10px 30px 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .hiring-models {
    .box-4 {
      padding-right: 12px;
    }
  }
}

@media only screen and (max-width: 1200px) {
  .hiring-models {
    .box-3 {
      padding-right: 15px;
      margin-top: 20px;
      &:nth-child(3n) {
        padding-right: 15px;
      }
    }
    .box-2 {
      padding-right: 15px;
      margin-top: 20px;
      &.flex-2 {
        &:nth-child(2n-1) {
          padding-right: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .hiring-models {
    .col-box-outer {
      margin-top: 30px;
    }
    .flex-4 {
      flex-basis: 50%;
    }
    .box-4 {
      &:nth-child(2n) {
        padding-right: 0;
      }
    }
    .flex-2 {
      flex-basis: 50%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .hiring-models {
    .col-box-outer {
      margin-top: 20px;
    }
    ul {
      li {
        font-size: 14px;
        padding-left: 22px;
        &::before {
          background-position: 2px -87px;
          width: 16px;
          height: 16px;
        }
      }
    }
    .box {
      padding: 30px 20px;
      h3 {
        margin-top: 10px;
      }
      p {
        font-size: 14px;
        margin-top: 5px;
      }
    }
    .box-3 {
      padding-right: 0;
      &.flex-2 {
        &:nth-child(2n-1) {
          padding-right: 0;
        }
      }
      &:nth-child(3n) {
        padding-right: 0;
      }
    }
    .box-2 {
      padding-right: 0;
      &.flex-2 {
        &:nth-child(2n-1) {
          padding-right: 0;
        }
      }
    }
    .flex-4 {
      flex-basis: 100%;
    }
    .box-4 {
      padding-right: 0;
      &:nth-child(2n) {
        padding-right: 0;
      }
    }
    .content-box {
      margin-top: 15px;
    }
    .model-txt {
      font-size: 14px;
      min-height: auto;
    }
    .content-head {
      margin-top: 10px;
    }
    .flex-2 {
      flex-basis: 100%;
    }

    .cto-service {
      .box {
        padding: 0 0 30px;
        .headtext {
          padding: 20px 20px;
          h2 {
            font-size: 21px;
          }
        }
        .inner-text {
          padding: 10px 20px 0;
        }
      }
    }
  }
}
