@use "_default" as *;
// Color Variables
$text-gray: #314158;


.industries-section {
 
  background-color: $white;

  .section-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 0;
    position: relative;

    .header-text {
      max-width: 763px;
      text-align: left;

      .subtitle {
        color: $darkYellow;

        margin-top: 0;
        font-size: 12px;
        letter-spacing: 1px;
      }

      h2 {
        font-size: clamp(30px, 3.7vw, 46px);
        color: $themeMidNight;
        margin: 10px 0;

        span {
          color: inherit;
        }
      }

      .description {
        color: $text-gray;
        font-size: 18px;

        line-height: 1.6;
      }
    }
  }

  // Navigation Styling
  .glider-nav {
   
    position: relative;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-right: 10px;
    

    .glider-prev {
          transform: rotate(-180deg) translateY(17px);
    }

    button {
      width: 35px;
      height: 35px;
      border-radius:16px;
border: 2px solid #99A1AF;
      background: transparent;
      color: $themeMidNight;
      cursor: pointer;
      transition: 0.3s ease;
      display: flex;
      align-items: center;
      cursor: pointer;
      justify-content: center;
      font-size: 18px;
      top: 88%;

      &:hover {
        background: $darkYellow;
        color: white;
        border-color: $darkYellow;
      }
    }

  }

  .glider-next.disabled,
  .glider-prev.disabled {
    opacity: 1;
    
    cursor: default;
  }

  // Card and Hover Logic
  .industry-item {
    padding: 0 10px;
    cursor: auto;
  }

  // Spacing for slider

  .industry-card {
    border-radius: 24px;
    overflow: hidden;
    height: 430px;
    display: flex;
    flex-direction: column;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);


    .card-image {
      height: 350px;
      transition: height 0.4s ease;
      border-radius: 20px;
      overflow: hidden;
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .card-body {
      padding: 20px 15px;
      flex-grow: 1;
      border-radius: 20px;
      background-color: #F4F4F4;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.03);
      border: 1px solid #E5E7EB;
      transition: background 0.4s ease;
      position: relative;



      .title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;

        h3 {
          font-size: 18px;
          color: $text-gray;
          font-weight: 600;
          margin: 0;
        }

        

        &::after{
          position: absolute;
          content: "";
          right: 0;
                    transform: rotate(359deg);
          top: 0;
          background: url(../images/index-v10/blue-arrow.svg);
          width: 24px;
          height: 24px;
          background-size: auto;

        }
      }
    }

    .hover-content {
      max-height: 0;
      opacity: 0;
      overflow: hidden;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
      transition: all 0.4s ease;
      .inner-top{
display: block;

        
        h4 {
          font-weight: 700;
          font-size: 15px;
          margin: 15px 0 5px;
          color: #E5E7EB;
        }
        
        p {
          font-size: 14px;
          line-height: 1.5;
          color: #99A1AF;
          margin-bottom: 20px;
        }
      }

      .expand-btn {
        font-size: 13px;
        font-weight: 600;
        text-decoration: underline;
        color: inherit;
                margin-bottom: 22px;
        color: #fff;
      }
    }

    

    &:hover {
      transform: translateY(-5px);

      .card-image {
        height: 180px;

      }

      // Shrink image to expand text
      .card-body {
        background: #05164D;
        margin-top: 10px;
      }

      .hover-content {
        max-height: 250px;
        opacity: 1;
      }
    }
  }

}

.industries-section .industry-card:hover .card-body .title-wrap h3 {
  color: #FFFFFF;
}

@media screen and (max-width: 992px) {
   .industries-section .section-header .header-text{
    padding-bottom: 10px;
   }
  .industries-section .section-header {
    flex-direction: column;
    padding-top: 0;
    
  }

  .industries-section .glider-nav {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .industries-section {
    padding: 60px 0;
  }

  .section-header {
    flex-direction: column;
    align-items: flex-start;

    .glider-nav {
      margin-top: 20px;
    }
  }

  .industries-section .glider-nav {
    margin: 20px auto;
  }
}

.industry-card .card-body::after {
  background: url(../images/index-v10/white-arrow.svg);
  width: 24px;
  display: none;
  height: 24px;
  content: "";
  position: absolute;
  top: 29px;
  right: 8%;
  transform: rotate(360deg);
  transition: 0.4s;
}
.industry-card:hover .card-body::after {display: block;}
.industries-section .industry-card:hover .card-body .title-wrap::after{display: none;}