@use "core/variables" as *;
.work-with {
  background: $panel-warm;
  padding: 65px 0;
  text-align: center;

  .top-section {
    margin: 0 0 50px;
    h2{margin:0 0 25px; padding:0 0 20px; position: relative;
    &:after{content:''; background:$yellow; width:90px; height:2px; position: absolute; left:0; right:0; bottom:0; margin:0 auto;}
    }
  }

  .work-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap:80px;

    @media (max-width: 979px) {
      grid-template-columns: repeat(2, 1fr);
      gap:50px;
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
      gap:20px;
    }
  }

  .card {
    background: #fff;
    border: 1px solid rgba(255,173,0,.2);
    box-shadow: 0 4px 16px rgba(5,22,77,.09);
    border-radius: 10px;
    overflow: hidden;
    padding: 25px 25px 35px 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    .card-image {
      width: 100%;
      img {
         width: 100%;
         display: block;
         height: 200px;
        object-position: center;
    object-fit: fill;
      }
    }

    .card-content {
      margin: 20px 0 0;
      h3 {
        color:#05164D;
        margin: 0 0 10px;
        a{
          color:#05164D;
        }
      }

      p {
        color: $gray-600;
        margin: 0 0 20px;
      }
      .is-arrow {
        display: inline-flex;
        align-items: center;
        font-weight: 500;
        font-size: 16px;
        color: #CC8B00;
        text-decoration: none;
        margin-top: 10px;
        line-height: 1;
        cursor: pointer;

        &:after {
          background: url(../images/arrow-yellow-dark.svg) no-repeat
            center;
          margin: 2px 0 0 8px;
        }
        &:hover {text-decoration: underline;
          &:after {
            margin-left: 15px;
          }
        }
      }
    }
  }
}