@use "core/variables" as *;
@use "_default" as *;
@use "_intent-popup" as *;
@use "_client-logo" as *;
@use "_glider" as *;
@use "_calc-tab" as *;
@use "_testimonials" as *;
@use "_ctabtn-structure" as *;
@use "_success-slider" as *;
@use "_menu-v8" as *;
@use "_footer-section" as *;
@use "_footer-form" as *;

.hero-section {
  padding: 145px 0 70px;
  height: 100vh;
  align-items: center;
  position: relative;
  display: flex;
  display: -webkit-flex;
  background-color: rgba(4, 12, 23, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  .dis-flex {
    align-items: center;
    position: relative;
    z-index: 1;

    .content-wrap {
      flex-basis: 100%;
      text-align: center;

      h1 {
        color: $white;
        strong {
          color: $yellow;
          font-weight: bold;
        }
      }

      p {
        margin-top: 18px;
        line-height: 30px;
        color: #f3f4f6;
        font-size: $font-18;
        font-weight: 400;
        &:first-of-type {
          margin-top: 0;
        }
      }

      ul {
        list-style: none;
        margin-top: 20px;
        li {
          position: relative;
          margin: 0 0 15px;
          color: rgba(252, 252, 252, 0.87);
          padding-left: 30px;
          font-size: 16px;
          line-height: 28px;

          &:before {
            content: "";
            background: url(../images/home-images/list-icon.svg) no-repeat;
            width: 20px;
            height: 20px;
            background-size: 100%;
            position: absolute;
            top: 5px;
            left: 0;
          }
        }
      }

      a {
        color: $white;
        &:hover {
          text-decoration: underline;
        }
      }

      .btn-container {
        a {
          color: $navy-blue;
          text-transform: inherit;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &:before {
    content: "";
    background: rgba(5, 22, 77, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.slide-logo {
  padding-bottom: 0;
}

.award-section {
  .stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;

    .stat {
      border-right: 1px solid rgba(5, 22, 77, 0.4);
      flex-basis: 25%;
      padding: 30px 20px;
      text-align: center;

      h2 {
        font-size: 56px;
        line-height: 55px;
        margin: 0 0 5px;
        color: $darkblack;
      }

      &:last-child {
        border: 0;
      }
    }
  }
}

.button-section {
  .btn-sec {
    justify-content: center;
    .btn {
      background-color: $white;
      color: $navy-blue;
      &.rounded {
        &:before {
          background-color: $yellow;
        }
        .text-white {
          color: $navy-blue;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.experts-talk-first-section {
  .button-section {
    margin: 40px 0 0;
  }
}

.tabs-section .tabs-container .tabs{display:none;}

//New Home Page Ends Here*/

// Media Query Start From Here

@media (max-width: 1440px) {
  .hero-section {
    .dis-flex {
      .left-box {
        flex-basis: 85%;
      }
    }
  }
}

@media (max-width: 1320px) {
  .hero-section {
    height: initial;
    min-height: initial;

    .dis-flex {
      .left-box {
        flex-basis: 90%;
        h1 {
          font-size: 60px;
          line-height: 1.4;
        }
      }
    }
  }

  .award-section {
    .stats {
      .stat {
        h2 {
          font-size: 45px;
          line-height: 50px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .hero-section {
    .dis-flex {
      .left-box {
        h1 {
          font-size: 50px;
          line-height: 1.4;
        }
      }
    }
  }
  .slide-logo {
    .logo-section {
      padding: 0;
    }
  }
  .award-section {
    .stats {
      max-width: 100%;
      .stat {
        padding: 25px 20px;
      }
    }
  }
}

@media (max-width: 979px) {
  .hero-section {
    background: $gradient !important;
    .dis-flex {
      .left-box {
        flex-basis: 100%;
        text-align: center;
        .for-client-logo-box {
          margin: 40px 0 0;
        }
      }
    }
    &:before {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .hero-section {
    padding: 130px 0 50px;
    .dis-flex {
      .left-box {
        flex-basis: 100%;
        text-align: center;
        h1 {
          font-size: 40px;
          line-height: 50px;
        }
        p {
          font-size: 16px;
          line-height: 27px;
        }
        .for-client-logo-box {
          justify-content: center;
          align-items: center;
          margin: 30px 0 0;
        }
      }
    }

    .scroll-next {
      width: 30px;
      height: 41px;
      bottom: 14px;
      right: 12px;
      .scroll-downicon {
        background-size: 100%;
        width: 17px;
        height: 18px;
        bottom: -30px;
      }
    }
  }
  .award-section {
    .stats {
      max-width: 100%;
      border: 1px solid rgba(5, 22, 77, 0.4);
      border-radius: 8px;
      .stat {
        flex-basis: 50%;
        padding: 20px;
        h2 {
          font-size: 32px;
          line-height: 40px;
        }
        &:nth-child(2) {
          border-right: 0;
        }

        &:nth-child(3),
        &:nth-child(4) {
          border-top: 1px solid rgba(5, 22, 77, 0.4);
        }
      }
    }
  }
  .experts-talk-first-section {
    .button-section {
      margin: 20px 0 0;
    }
  }
}

@media (max-width: 479px) {
  .award-section {
    padding-top: 50px;
  }
}

//Not Required