@use "core/variables" as *;
@use "_default" as *;



.delivery-section {
    position: relative;
    z-index: 1;
    background-color: #F9FAFB;

    &::after {
        content: "";
        z-index: -1;
        position: absolute;
        right: 0;
        top: 0;
        background-color: #F0F0F3;
        width: 53%;
        height: 100%;

        @media screen and (max-width:1024px) {
           display: none;
        }
    }




    .inner-part {
        display: flex;
        flex-wrap: wrap; // Enables responsiveness
        gap: 50px;
        padding: 0 20px;
        justify-content: space-between;

        @media screen and (max-width:1024px) {
            flex-direction: column;
            padding: 0;

            .left-part {
                width: 100% !important;
            }

            .right-part {
                width: 100% !important;
            }

        }

        .left-part {
            width: calc(45% - 30px);

            em {
                color: $blue-lihgt;
                text-transform: uppercase;
                margin-bottom: 5px;
                font-size: 14px;
                letter-spacing: 17%;
                font-weight: 700;
                font-style: normal;
            }

            h2 {
                color: $themeMidNight;
                line-height: 1.2;
                margin-bottom: 20px;
            }

            p {
                color: $natural-grey;
                line-height: 160%;
                font-weight: 500;
                margin-bottom: 34px;
            }

            ul {
                list-style: none;
                padding: 0;


                li {
                    font-size: 16px;
                    color: $list-color;
                    font-weight: 500;
                    position: relative;
                    line-height: 100%;
                    padding-left: 26px;
                    margin-bottom: 15px;

                    &:last-of-type {
                        margin-bottom: 0;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        background: url(../images/industry-v11/black-check.svg);
                        width: 16px;
                        height: 16px;
                        background-repeat: no-repeat;
                        background-size: 16px;
                        top: 0px;
                        background-size: 15px;
                    }
                }

            }
        }

        .right-part {
            width: calc(55% - 40px);
            padding-top: 30px;

            h3 {
                font-size: 22px;
                

                @media screen and (max-width:1024px) {
                    font-size: 18px !important;
                    line-height: 1.3;
                }

                @media screen and (max-width:767px) {
                    font-size: 16px !important;
                }
            }

            p {
                margin-bottom: 10px;

                &:last-of-type {
                    margin-bottom: 35px;

                    @media screen and (max-width:767px) {
                        margin-bottom: 15px;
                    }

                }
            }



            .accordion-item {
               
                border-bottom: 1px solid $darkWhiteGray;
                z-index: 1;
                position: relative;
                  padding: 35px 60px 33px 0;


               





                .accordion-trigger {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    position: relative;

                     &::after{
                        width: 55px;
                        height: 60px;
                        content: "";
                        position: absolute;
                       right: -60px;
    bottom: -33px;

                        border: 1px solid $darkWhiteGray;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: url(../images/index-v10/open-tab-icon.svg) no-repeat center;


                        @media screen and (max-width:1024px) {
                            width: 40px;
                            height: 40px;
                            background-size: 15px;
                        }


                    }

                    h3 {
                        margin: 0;
                        font-size: 22px;
                        font-weight: 500;
                        color: $light-grey;

                    }

                    
                }

                .accordion-content {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.4s ease;
                    padding: 0 20px;

                    p {
                        color: #80838D;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 160%;
                        margin-bottom: 0;
                        
                    }
                }

                &.active {
              


                       
                
                     
                            .accordion-trigger{
                                padding-bottom: 15px;
                                 &::after {
                            display: none;
                        }
                                h3{
                                    color: #2563EB;
                                    font-weight: 700;
                                }
                            }
                     
                    .accordion-content {
                        max-height: 300px;
                            padding: 0 ;
                    }
                }
            }
        }
    }
}



.delivery-section .inner-part .right-part .accordion-item:first-of-type{
padding-top: 0;
}