@use "_default" as *;
// Variables
$color-bg: #F3F4F6;
$color-card: #E5E7EB;
$breakpoint-md: 768px;

.testimonial-section-v9 {
  background-color: $color-bg;
  padding: 80px 20px;

  .container {
    max-width: 1100px;
    margin: 0 auto;
  }

  .top-part {
    margin-bottom: 40px;
    h2{
      font-size: clamp(30px, 3.7vw, 46px);
    }

    span {
      color: $darkYellow;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      letter-spacing: 1px;
    }

  }


.testimonial-card {
  display: flex;
  flex-direction: column;
  background: $color-card;
  border-radius: 24px;
  overflow: hidden;
  min-height: 420px;

  @media (min-width: $breakpoint-md) {
    flex-direction: row;
  }
  

  .card-image {
    position: relative;
    flex: 0 0 42%;
    clip-path: polygon(0 0, 100% 0%, 78% 100%, 0% 100%);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }

    // Creating the slanted edge effect
    @media (min-width: $breakpoint-md) {
      clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
    }




    .play-icon
     {
      position: absolute;
      bottom: 25px;
      left: 25px;
      background: #FFAD0080;
      border: 1px solid #FFAD00;
      padding: 10px 20px;
      border-radius: 8px;
      font-weight: bold;
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      .close {
          position: absolute;
          top: 5px;
          right: -30px;
          color: white;
          font-size: 30px;
          cursor: pointer;
          background: url(../images/index-v10/close-icon.png) no-repeat center;
          width: 25px;
          height: 25px;
    }
      .play-btn{
        position: relative;
        font-size: 18px;
        font-weight: 500;
        color: #364153;

      &::before {
        content: "";
        display: inline-block;
        width: 15px;
        height: 15px;
        
        background-size: 15px !important;
        vertical-align: middle;
        background: url(../icons/Play-icon.svg) no-repeat;
      }
      }
      
    }
  }

  .card-content {
    flex: 1;
    padding: 40px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    padding-top: 116px;
    position: relative;
    clip-path: polygon(0 0, 100% 0%, 78% 100%, 0% 100%);
    padding-bottom: 70px;

    .rating {
      border: 1px solid var(--gray-50, #F9FAFB);
      background-color: #F3F4F680;
      border-radius: 100px;
      margin-bottom: 15px;
      position: absolute;
      right: 30px;
      top: 30px;
      padding: 11px 15px;
      width: fit-content;

      ul {
        display: flex;

        li {
          display: flex;
        }
      }
    }


    >p {
      color: #364153;
      font-size: 22px;
      line-height: 150%;
      font-weight: 500;
      position: relative;


      &::after {
        content: "";
        background: url(../icons/white-quote.svg);
        width: 41px;
        height: 34px;
        position: absolute;
        left: 0;
        top: -40px;
        background-size: cover;
      }
    }

    .quote {
      font-size: 22px;
      color: $themeMidNight;
      line-height: 1.5;
      margin-bottom: 30px;
      font-weight: 500;
      position: relative;

      &::before {
        content: '"';
        display: block;
        font-size: 60px;
        color: #ccd0d9;
        height: 30px;
      }
    }

    .author-info {
      display: flex;
      align-items: center;
      gap: 15px;
      padding-top: 20px;

      img {
        height: 35px;
      }

      .details {
        padding-left: 15px;
        border-left: 1px solid #D1D5DC;

        span {
          display: block;
          font-size: 16px;
          font-weight: 700;
          color: #101828;
        }

        p {
          font-size: 14px;
          color: #4A5565;
          font-weight: 400;
        }
      }
    }
  }
}

// Custom Avatar Navigation
.glider-dots {
  margin-top: 30px !important;
  display: flex;
  justify-content: center;

  button.glider-dot {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    border: 3px solid transparent;
    opacity: 0.5;
    transition: transform 0.2s;

    &.active {
      border-color: $darkYellow;
      border: 2px solid #FFAD00;
      transform: scale(1.1);
      opacity: 1;
    }
  }
}






    /* ===========================
   Video Popup Styles
=========================== */

 .video-popup-v9 {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  &.active {
    display: flex;
  }

  .video-popup-inner {
    position: relative;
    width: 90%;
    max-width: 850px;

    video {
      width: 100%;
      border-radius: 16px;
    }
  }

  .video-close-btn {
    position: absolute;
    top: 0px;
    right: -40px;
    width: 30px;
    height: 30px;
    cursor: pointer;

    background: url(../images/index-v10/close-icon.png)
      no-repeat center;
    background-size: contain;
  }
 }





}

@media screen and (max-width:768px) {
  
  .testimonial-section-v9 .video-popup-v9 .video-popup-inner video{
    width: 70%;
    margin: 0 auto;
    display: flex;
  }
  .testimonial-section-v9 .video-popup-v9 .video-close-btn{right: 60px; width: 20px; height: 20px;}
}

@media screen and (max-width:650px) {
  .testimonial-section-v9 .video-popup-v9 .video-close-btn{right: 20px;}
  
  
}