@use "core/variables" as *;
@use "core/variables" as *;

.fintech-delivery {
position: relative;
    display: flex;
   margin-bottom: -1px;
background: $themeMidNight;
flex-wrap: wrap;


&::after {
    position: absolute;
    left:  0;
    content: "";
    bottom: 0;
    width: 477px;
    height: 309px;
    background: url(../images/industry-v11/fin-boxes.png);
    background-repeat: no-repeat;
            @media screen and (max-width:992px) {
            display: none;
            }
}


/* LEFT IMAGE FULL HEIGHT */
.inner-part{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
gap: 100px;
@media screen and (max-width:1024px) {
    flex-direction: column;
    gap: 40px;
}
.left-part {
    
    width: calc(50% - 50px);
@media screen and (max-width:1024px) {
width: 100%;
}

    > em{
        font-style: normal;
        color: $blue-off-light;
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 600;
    }
    h2{
        color: $white;
        line-height: 120%;
        em{
            color: $blue-off-light;
            font-style: normal;

        }

    }
    p{
        font-size: 16px;
        font-weight: 500;
        color: #D1D5DC;
    }


}

/* RIGHT CONTENT */

.right-part {
    width: calc(50% - 50px);
    display: flex;
    align-items: center;
    position: relative;
    // background: linear-gradient(270deg, #090c19 43.32%, rgb(9 12 25 / 31%) 62.86%, rgba(9, 12, 25, 0) 100%);
    z-index: 11;
    @media screen and (max-width:1024px) {
    width: 100%;
        }

    .ai-content {
        padding: 80px 0 80px 20px;
        color: $white;
        max-width: 590px;
        float: right;

        h2 {
            font-size: clamp(30px, 3.7vw, 46px);
            font-weight: 700;
            margin-bottom: 10px;
            color: #fff;

            em{
                color: $darkYellow;
                font-style: normal;
            }
        }

    > p {
            
            color: #FFFFFFB0;
            
            margin-bottom: 60px;
        }

    }

    // &::after{
    //     position: absolute;
    //     right: 0;
    //     top: 0;
    //     content: "";
    //     width: calc(100% - 30%);
    //     height: 100%;
    //     background: linear-gradient(270deg, #090C19 43.32%, rgba(9, 12, 25, 0.95) 62.86%, rgba(9, 12, 25, 0) 100%); 
    //     z-index: -1;
    // }

}


/* LIST */

.ai-list {
  height: 510px;
  @media screen and (max-width:1024px) {
padding-left: 20px;
height: 400px;
}

    .ai-item {

        position: relative;
        padding: 30px 0;
        border-bottom: 1px solid rgba(255,255,255,0.08);
        cursor: pointer;
         @media screen and (max-width:1024px) {
padding: 15px 0;
}

        /* Reserve space so layout doesn't jump */
        

        &:before {
            content: "";
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: #6A7282;
            position: absolute;
            left: -18px;
            top: 42px;
            transition: 0.3s;
             @media screen and (max-width:1024px) {
top: 26px;
}
             @media screen and (max-width:640px) {
top: 23px;
}
        }

        .title h4 {
            font-size: 22px;
            font-weight: 700;
            transition: 0.3s;
            color: $white;
        }

        /* FIXED HEIGHT AREA */

        .desc {

            font-size: 14px;
            font-weight: 500;
            color: #D1D5DC;
            max-height: 0px;
            opacity: 0;
            overflow: hidden;
            transition:
                max-height 0.4s ease,
                opacity 0.3s ease;

            p {
                color: #D1D5DC;
                margin-top: 10px;
                 font-size: 14px;
            font-weight: 500;
            }
            ul{
                li{
                    position: relative;
                    color: #D1D5DC;
                    &::before {
                            content: "";
                            width: 8px;
                            height: 8px;
                            background-color: #FFAD00;
                            border-radius: 50%;
                            position: absolute;
                            left: 0;
                            top: 10px;
                        }
                }
            }

        }

        .progress {

            position: absolute;
            bottom: -1px;
            left: 0;

            height: 2px;
            width: 0%;

            background: $blue-off-light;

        }

        /* ACTIVE */

        &.active {

            &:before {
                background: $blue-off-light;
            }

            .title h4 {
                color: $blue-off-light;
            }

            .desc {

                max-height: max-content; 
                opacity: 1;

            }

        }

    }

}
}
}
/* RESPONSIVE */

@media (max-width: 1024px) {

.ai-right {
    width: 100%;
}
.ai-production-loop {background: linear-gradient(270deg, #090C19 43.32%, rgba(9, 12, 25, 0.95) 62.86%, rgb(9 12 25 / 89%) 100%);}
.ai-right .ai-content{max-width: 100%; float: unset; padding-left: 20px;}

    .ai-left {
        display: none;
       
    }

    .ai-right .ai-content h2 {
        font-size: 32px;
    }

}

@media (max-width: 640px) {

    .ai-right .ai-content {
        padding: 48px 0;
    }

    
    .ai-list{padding-left: 20px;}
    .ai-right .ai-content > p{margin-bottom: 0;}

}