@use "core/variables" as *;
@use "_default" as *;
@use "_menu-v8" as *;
@use "_footer-form" as *;
@use "_footer-section" as *;
@use "feedback-section";
@use "_testimonials";
@use "glider";
@use "insights-v10";
@use "_faqs-v10";

@use "_ctabtn-structure" as *;
@use "_new-version-changes";
// section scss 
@use "fintech-delivery" as *;
@use "build-fintech" as *;
@use "fintech-services" as *;
@use "delivery-works" as *;
@use "who-we-serve" as *;
@use "stack-for-fintech" as *;
@use "regulatory" as *;
@use "solutions-industry" as *;
@use "award-section" as *;
@use "compliance" as *;
@use "financial-solutions" as *;
@use "success-stories-v10" as *;


h2{
    font-size: clamp(30px, 3.7vw, 46px) !important;
    font-weight: 700;
}




// header css
.master-header.header-bg.sc-up .master-menu-desktop li a{
color: #4b5563;
}
.master-header.sc-down.header-bg:hover .master-menu-desktop li a{
    color: #4b5563;
}
.master-header.header-bg:hover{
    border-bottom: 0;
}
.master-header .logo-size .site-logo-img.bg-logo {
    display: block;
}
.master-header {
    background: transparent;
    border: none;
}
.master-btn.button-v10.second a {
    background: transparent !important;
    border: 1px solid #99A1AF;
}
.master-header.sc-up .logo-size.dark .site-logo-img.bg-logo {display: block;}
.master-header.sc-up .logo-size .site-logo-img.bg-logo {
    display: none;

}
.master-header.sc-up{
background: transparent;
}
.master-header.sc-up .light{
    display: block !important;
}

.master-menu-desktop{
    max-width: 540px;
}
.master-header {
    margin-top: 33px;
}
.master-menu-desktop .nav-item-base{
    
    color: #F8FAFC ;
    
}
.master-header.sc-up {
    margin-top: 30px;
}
.master-header.header-bg.sc-up {
    margin-top: 0;
}


.btn-secondry {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
    color: #05164D;
    padding: 9px 62px;
    border: 1px solid #6A7282;
    border-radius: 50px;
    text-decoration: none;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    gap: 10px;
    line-height: 30px;
    transition: background 0.3s ease;
    position: relative;
    z-index: 9;
    overflow: hidden;
    transition: 0.4s;
    flex-direction: row-reverse;
    @media screen and  (max-width:767px){
        padding: 9px 5px;
    }
}

.btn-secondry::before {
    background: url(../images/index-v10/view-all.svg);
    content: "";
    display: inline-block;
    width: 19px;
    height: 19px;
    background-size: 19px!important;
    vertical-align: middle
}

.btn-secondry::after {
    background-color: #05164D;
    width: 8%;
    height: 50%;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    right: 50%;
    border-radius: 50%;
    transition: 0.4s;
    z-index: -1;
    opacity: 0
}

.btn-secondry:hover {
    color: $darkYellow;
    z-index: 10;
    border: 1px solid #05164D;
}

.btn-secondry:hover::after {
    left: 50%;
    right: 0;
    opacity: 1;
    width: 100%;
    transition: 0.4s;
    height: 100%;
    border-radius: 0
}

.btn-secondry:hover::before {
    background: url(../images/index-v10/view-all-yellow.svg);
    width: 19px;
    height: 19px
}

.btn-secondry i {
    display: flex;
    align-items: center;
    width: 20px;
    height: 20px;
    justify-content: center
}

// page css
.hero-section.indus{
    background-color: #050505;
    position: relative;
    overflow: hidden;
        min-height: calc(100vh - 350px);
        

       

        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 80%;
            height: 100%;
            background: linear-gradient(90deg, #000000 48.4%, rgba(0, 0, 0, 0) 100%);
            z-index: 1;
        }



    .dis-flex{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .left-box{
            width: 50%;
            position: relative;
            z-index: 11;
        }
        .right-part{
            width: 50%;
        }
    }
    
    // .banner-img{
    //      position: absolute;
    //     right: 0;
    //     height: 100%;
    //     width: 80%;

    //     .img-part{
    //     width: 100%;
    //             img{
    //                 width: 100%;
    //             }
    //     }
        
    // }

}
.hero-section.has-video{

        .banner-video{
            position: absolute;
            right: 0;
            height: 100%;
            width: 70%;
            top: 90px;
            video{
                width: 100%;
                height: calc(100% - 90px);
                
                
            }
                
    @media screen and (max-width:1024px) {
        display: none !important;
    }  
            
        }
    }

.hero-section.has-banner-img{
    position: relative;
            &::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block !important;
    margin-top: 0;
    background-size: contain !important;
    background: url('https://www.valuecoders.com/staging/wp-content/uploads/2026/05/image-1-scaled.webp');
    background-position: right center;
    background-repeat: no-repeat;
    
    
    @media screen and (max-width:1024px) {
        display: none !important;
    }            
}
        }


// `````````cta button````````````
.hero-section.indus .master-btn{
margin-top: 30px;

margin-bottom: 70px;

@media screen and (max-width:767px) {
    margin-bottom: 20px;
}

}
.dark-client-section .left-box a{
    text-decoration: none;
}

.master-btn{text-decoration: none;     display: inline-flex;
}
.master-btn .btn-circle:hover{text-decoration: none !important;}
.logo-size .dark{display: none !important;}
.master-btn .btn-circle {
  display: inline-flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  padding: 11px 58px 11px 20px;
  border-radius: 60px;
  background: $darkYellow;
  color: #05164D;
  font-size: 16px;
  font-weight: 500;
  overflow: hidden;
  transition: background 0.3s ease;
}

.master-btn .btn-circle:hover {
  background: #f0a000;
}

.master-btn .text {
  position: relative;
  height: 26px;
  overflow: hidden;
  display: block;
}

.master-btn .text::before,
.master-btn .text::after {
  content: attr(data-text);
  display: block;
  transition: transform 0.35s ease;
  will-change: transform;
  color: #05164D !important;
}

.master-btn .text::after {
  position: absolute;
  left: 0;
  top: 100%;
  color: #05164D;
}

.master-btn .btn-circle:hover .text::before,
.master-btn .btn-circle:hover .text::after {
  transform: translateY(-100%);
  text-decoration: none;
}

.master-btn .circle {
  position: absolute;
  top: 50%;
  right: 2px;
  transform: translateY(-50%);
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background: #0b2a6f;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.master-btn .circle img {
  width: 50px;
  transition: transform 0.4s ease;
}

.master-btn .btn-circle:hover .circle img {
  transform: translateX(150%);
}

.master-btn .circle::after {
  content: "";
  position: absolute;
  inset: 0;
  background: url(../images/index-v10/move-right.svg) center/20px no-repeat;
  transform: translateX(-150%);
  background-size: 50px;
  transition: transform 0.4s ease;
}

.master-btn .btn-circle:hover .circle::after {
  transform: translateX(0);
}

.master-btn.button-v10.second a {
    background: transparent !important;
    border: 1px solid #99A1AF;
}

.hero-section.indus .dis-flex .left-box h1 {
    //font-size: 80px;
    line-height: 120%;
    color: #fff;
    margin-bottom: 20px;
    font-weight: 700;
}

.hero-section.indus .dis-flex .left-box h1 em {
    color: $darkYellow;
    font-style: normal
}

.hero-section.indus .dis-flex .left-box h3 {
    color: #fff;
    margin-bottom: 20px;
    font-size: 26px
}

.hero-section.indus .dis-flex .left-box h3 em {
    font-style: normal;
    color: $darkYellow;
    margin-bottom: 20px;
}

.hero-section.indus .dis-flex .left-box p {
    line-height: 160%;
    color: rgba(252,252,252,.87);
    //font-size: 20px;
    font-weight: 400;

    @media screen and (max-width:640px) {
        //font-size: 18px;
    }
    
}

.hero-section.indus .dis-flex .left-box p:first-of-type {
    margin-top: 0
}

.hero-section.indus .dis-flex .left-box ul {
    list-style: none;
    margin-top: 20px
}

.hero-section.indus .dis-flex .left-box ul li {
    position: relative;
    margin: 0 0 15px;
    color: rgba(252,252,252,.87);
    padding-left: 30px;
    font-size: 16px;
    line-height: 28px
}

// .hero-section.indus .dis-flex .left-box ul li:before {
//     content: "";
//     background: url(../assests/) no-repeat;
//     width: 20px;
//     height: 20px;
//     background-size: 100%;
//     position: absolute;
//     top: 5px;
//     left: 0
// }

.hero-section.indus .dis-flex .left-box a {
    color: #fff
}

.hero-section.indus .dis-flex .left-box a:hover {
    text-decoration: underline
}
@media screen and (max-width: 1260px) {
    // .hero-section.indus .dis-flex .left-box h1 {
    //     font-size: 55px;
    // }
}
@media screen and (max-width: 1024px) {
    .hero-section .dis-flex .left-box h1 {
        //font-size: 50px !important;
        line-height: 1.4;
    }
    .hero-section.indus.indus .banner-img{display: none;}
    .hero-section.indus.indus.has-video .banner-video{
        display: none;
    }
    .hero-section.indus.indus .dis-flex .left-box{width: 100%;}
    .master-header.header-bg.sc-up  .header-inner .btn-menu-toggle svg{
        fill: #05164d !important;

    }
        .master-header.sc-down.header-bg .header-inner .btn-menu-toggle svg {
        fill: #05164d !important;
    }
        .master-header .header-inner .btn-menu-toggle svg {
        fill: #fff !important;
    }
    .master-header.sc-up{
        margin-top: 0;
    }
    .master-header{margin-top: 0;}
}




// slide section
.padding-b-80{
    padding-bottom: 80px;
}
.slide-logo .box p{font-size: 16px ; font-weight: 400;}
.slide-logo .box h2{
    font-size: 56px;
    line-height: 1;
    margin-bottom: 0 !important;

}
.slide-logo {

  text-align: center
}
.slide-logo .numbring-part{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 15px;
  justify-content: space-between;
}
.slide-logo .numbring-part .box{
    border-right: 1px solid #F3F4F6;
    padding: 20px;
  width: 25%;

  @media screen and (max-width:1024px) {
    width: 50%;

        &:nth-child(2){
            border: none;
        }

  }
}
.slide-logo .numbring-part .box:last-child{
    border: none;
}


.slide-logo .dis-flex {
    overflow: hidden
}

.slide-logo .logo-heading {
    position: relative;
    width: 90%;
    margin: 0 0 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    flex-basis: 100%;
    margin: 0 0 25px;
    justify-content: center
}

.slide-logo .logo-heading h4 {
    color: #52606d;
    font-size: 20px;
    margin: 0 35px;
    background: #fff;
    position: relative
}

.slide-logo .logo-heading h4 span {
    margin: 0 35px;
    background: #fff
}

.slide-logo .logo-heading strong {
    color: $darkYellow
}

.slide-logo .logo-heading:before {
    width: 100%;
    content: "";
    height: .197px;
    background: rgba(5,22,77,.4);
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
    margin: 0 auto
}

.slide-logo .logo-section {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 30px;
    border-bottom: 1px solid rgba(5,22,77,.4)
}

.slide-logo .logo-section .glide__slide {
    height: 70px
}

.slide-logo .logo-section .glide__slide img {
    width: 100%;
    vertical-align: middle
}

@media only screen and (max-width: 479px) {
    .slide-logo {
        display:none;
        padding: 30px 0
    }

    .slide-logo .logo-heading {
        margin: 0 0 20px;
        margin: 0 0 20px;
        justify-content: center
    }

    .slide-logo .logo-heading h4 {
        font-size: 18px;
        margin: 0 20px
    }

    .slide-logo .logo-heading:before {
        display: none
    }

    .slide-logo .logo-heading:after {
        display: none
    }

    .slide-logo .logo-section {
        width: 100%;
        margin: 0 auto
    }

    .slide-logo .logo-section .glide__slide {
        height: auto
    }
}







// ?
.dark-client-section{
background: linear-gradient(180deg, #00196A 0%, #05164D 100%);

}
.dark-client-section .right-box .client-section .client-row .client-stack ul li{background: #10256F;}
.client-img-section .right-box .client-section .award-sc{margin-top: 35px;}
.client-img-section .right-box .award-sc .award-row{margin-top: 10px;}
.dark-client-section .left-box h2 em{
    font-style: normal;
    color: $yellow;
}
.dark-client-section .right-box .award-sc .award-row .award-col{background-color: #132E8E;}
.dark-client-section .right-box .award-sc .award-row .award-col:hover{
    background-color: #284CC9;
}
.client-img-section .right-box .award-sc h5{font-size: 16px; font-weight: 700;}
.client-img-section .right-box .client-section{gap: 15px;}

@media (max-width: 768px) {
    .stories-section__top {
        flex-direction: column;
        align-items: start;
        gap: 20px;
    }
}
.client-img-section .master-btn.button-v10{margin-top: 50px;


    @media screen and (max-width:767px) {
        margin-top: 25px;
       
    }

}


.experts-talk-first-section{
  .button-section {
  .btn-sec {
    justify-content: center;
    .btn {
      background-color: $white;
      color: $navy-blue;
      &.rounded {
        &:before {
          background-color: $yellow;
        }
        .text-white {
          color: $navy-blue;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  .free-con{
    a{color:$white;opacity: 1;
    &:hover{text-decoration: none; opacity: 0.6;}
    }
  }
}
}