@use "core/variables" as *;
@use "_default" as *;
.regulatory-section  {
  background-color: $bgVoilet;
  position: relative;
  color: $white;
  overflow: hidden;
  &::after{
        position: absolute;
    left: 0;
    content: "";
    bottom: -50px;
    width: 477px;
    height: 309px;
    background: url(../images/industry-v11/fin-boxes.png);
    background-repeat: no-repeat;


            @media screen and (max-width:992px) {
            display: none;
            }

  }
.inner-part{
  display: flex;
  flex-wrap: wrap;
      @media screen and (max-width:992px) {
        flex-direction: column;
        gap: 40px;
      }
}
  aside {
    flex: 1;
    position: sticky;
    // top: 50px;
    height: fit-content;
          @media screen and (max-width:992px) {
          position: static;
          }

    span {
      color: $blue-off-light;
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 17%;
      font-weight: 700;
    }

    h2 {
      margin-bottom: 20px ;
      color: $white;
      line-height: 120%;
    }

    p {
      color: #D9D9E0;
      max-width: 500px;
      line-height: 160%;
            @media screen and (max-width:992px) {
            width: 100%;
            }
    }
  }

  .main {
    flex: 1;
    max-height: 530px;
    overflow-y: auto;
    padding-right: 20px;

    // Right-aligned vertical scroll bar
    &::-webkit-scrollbar { width: 7px; }
    &::-webkit-scrollbar-track { background: #1B1E2A99; width: 7px; }
    &::-webkit-scrollbar-thumb { background: #1E2939; height: 140px; }

    article {
      background: #FFFFFF0D;
      padding: 35px;
      margin-bottom: 24px;
      border-radius: 16px;
      // border: 1px solid rgba(255, 255, 255, 0.05);
      transition: 0.4s ease;
      cursor: pointer;
@media screen and (max-width:767px) {
  padding: 20px;
}

      &:hover{
        background: #FFFFFF26;
      }

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;

        span {
          background: #2563EB33;
          color: $blue-off-light;
          padding: 5px 10px;
          border-radius: 5px;
          line-height: 100%;
          font-size: 14px;
          font-weight: 600;
        }

        strong {
          font-size: 2.5rem;
          color:#FFFFFF;
          opacity: 3%;
          transition: 0.3s;
        }
      }

      h3 { font-size: 22px; transition: 0.3s; margin: 0; color: $white; font-weight: 600; line-height: 100%; }

      p {
        max-height: 0;
        font-weight: 500;
        opacity: 0;
        line-height: 160%;
        overflow: hidden;
        margin-top: 0;
        color: #D9D9E0;
        transition: all 0.4s ease;
      }

      // Hover Reveal Logic
      &:hover {
        background: rgba(255, 255, 255, 0.07);
        border-color: $darkYellow;

        strong { color:#FFFFFF; opacity:3%; }
        h3 { margin-bottom: 10px; }
        
        p { 
          max-height: 150px; 
          opacity: 1; 
          margin-top: 15px; 
        }
      }
    }
  }
}

// Responsive Logic
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
    gap: 40px;
  }
  
  section aside { position: static; }
  section .main { max-height: none; overflow: visible; padding-right: 0; }
}