@use "core/variables" as *;
@use "_default" as *;

.ai-services-section {



    .ai-services-header {
        text-align: center;
        max-width: 900px;
        margin: 0 auto 70px;
        em {
            font-size: 14px;
            font-style: normal;
            color: $blue-lihgt;
            font-weight: 700;
        }


        h2 {
            margin-top: 5px;
            margin-bottom: 20px;
            color: #05164D;
        }

        p {
            font-weight: 500;
            color: #60646C;
        }
    }

    .ai-services-cards {
        display: flex;
        gap: 30px;
        justify-content: space-between;

        .ai-service-card {
            width: calc(33.33% - 20px);
            position: relative;
            padding: 30px 30px 79px 30px;
            border-radius: 18px;
            border: 1px solid #2563EB33;
            transition: .3s;
            border-radius: 20px;
            &:hover {
                border: 1px solid #2563EB;
                box-shadow: 0px 0px 20px 5px #2563EB26;

            }

            @media screen and (max-width:1024px) {
                
            }





            h3 {
                margin-bottom: 15px;
                font-size: 20px;
                font-weight: 600;
                color: $light-grey;
            }

            p {
                margin: 0 0 20px;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.55;
                color: #60646C;

                a {
                    font-weight: 700;
                    color: #60646C;
                    text-decoration: underline;
                }
            }

            ul {
                padding: 0;

                gap: 15px;
                display: flex;
                flex-direction: column;
                list-style: none;

                li {
                    display: flex;
                    align-items: center;
                    line-height: 1;
                    font-size: 14px;
                    font-weight: 500;
                    color: #737987;

                    &::before {
                        content: "";
                        width: 18px;
                        height: 18px;
                        margin-right: 10px;
                        background-image: url("../images/consultion/check-grey.svg");
                        background-size: contain;
                        background-repeat: no-repeat;
                    }
                }
            }

            .card-bottom {
       
                position: absolute;
                bottom: 30px;

                a {
                    color: $dark-blue;
                    text-decoration: none;
                    font-size: 16px;
                    font-weight: 500;

                    &::after {
                        content: "";
                        display: inline-block;
                        margin-left: 8px;
                        background-size: 17px !important;
                        vertical-align: middle;
                        background-image: url(../images/index-v10/right-blue.svg);
                        width: 16px;
                        height: 19px;

                    }

                }
            }
        }

        .ai-service-card {
            &:hover {
                ul li::before {
                    background-image: url("../images/consultion/check-blue.svg");

                }
            }

        }

    }

 .bottom-append-part {
    margin-top: 30px;
    width: 100%;
    position: relative;


    &::before{
            content: "";
    position: absolute;
    left: 0;
    width: calc(100% - 140px);
    background-color: #F0F0F3;
    height: 2px;
    top: 50%;
    }
    .btn-primary-two{
        margin-left: auto;
    }

}

}




// Responsive

@media(max-width:1024px) {

    .ai-services-section {
        .ai-services-cards {
            flex-wrap: wrap;
            .ai-service-card {
                flex: 0 0 calc(50% - 16px);
            }
        }
    }
}


@media(max-width:767px) {
    .ai-services-section {
       
        .ai-services-cards {
   gap: 20px;

   .ai-service-card{

      flex: 0 0 calc(50% - 10px);
      padding: 20px 25px 79px 20px;
    }
        }
    }
.ai-services-section .ai-services-header{margin-bottom: 40px;}
}

@media screen and (max-width:640px) {
      .ai-services-section {
       
        .ai-services-cards {
   gap: 20px;

   .ai-service-card{

      flex: 0 0 100%;
      padding: 20px 25px 79px 20px;
    }
        }
    }


}