@use "core/variables" as *;
@use "_default" as *;

.software-usecases {
    width: 100%;
    display: inline-block;

    .ai-usecase-header {
        display: flex;
        justify-content: space-between;
        gap: 40px;
        margin-bottom: 70px;
        align-items: end;


        .ai-usecase-title {
            width: calc(100% - 30% - 20px);

            em {
                font-size: 14px;
                font-style: normal;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: $blue-lihgt;
                font-weight: 700;
            }


            h2 {

                color: #05164D;
                margin-bottom: 0;
            }
        }


        .ai-usecase-desc {
            width: 30%;

            p {
                color: #626776;
            }
        }
    }



    .ai-usecase-tabs {
        display: flex;
        gap: 80px;
        justify-content: space-between;

        .ai-usecase-tab-buttons {
            width: 280px;
            gap: 10px;


            ul {
                display: flex;
                flex-direction: column;
                gap: 10px;

                li {
                    color: #1C2024;
                    font-size: 18px;
                    font-weight: 400;
                    width: auto;
                    background-color: #F0F0F3;
                    line-height: 1;
                    border: 1px solid #CDCED6;
                    border-radius: 20px;
                    position: relative;
                    padding: 20px 68px 20px 30px;

                    &.active {
                        background: #05164D;
                        border-color: #05164D;
                        color: $white;

                        &:after {
                            content: "";
                            position: absolute;
                            right: 35px;
                            top: 51%;
                            transform: translateY(-50%);
                            background-image: url(../images/consultion/btn-arrow.svg);
                            width: 13px;
                            height: 9px;
                        }
                    }
                }

            }
        }




        .ai-usecase-content {
            width: calc(100% - 280px - 80px);

            .ai-tab-panel {
                display: none;
                gap: 30px;


                &.active {
                    display: flex;
                    flex-wrap: wrap;
                }



                .ai-card {
                    min-height: 130px;
                    width: calc(50% - 15px);
                    padding: 30px;
                    border-radius: 14px;
                    border: 1px solid #2563EB33;
                    transition: .3s;

                    h3 {
                        margin: 0 0 10px;
                        font-size: 22px;
                        color: $light-grey;
                    }

                    p {
                        font-size: 16px;
                        color: #60646C;
                        font-weight: 500;
                        margin: 10px 0 20px 0;
                    }

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        li {

                            display: flex;
                            align-items: center;
                            font-size: 14px;
                            color: #80838D;
                            line-height: 1;
                            margin-bottom: 10px;
                            font-weight: 500;

                            &::before {

                                content: "";
                                width: 18px;
                                height: 18px;
                                margin-right: 10px;
                                background-image: url("../images/consultion/check-grey.svg");
                                background-size: contain;
                                background-repeat: no-repeat;
                            }


                        }
                    }

                    &:hover {

                        border: 1px solid #2563EB;

                        box-shadow:
                            0px 0px 20px 5px #2563EB26;

                        ul {
                            li {
                                &::before {
                                    background-image: url(../images/consultion/check-blue.svg);
                                }
                            }
                        }
                    }

                }

            }

        }

    }

}






// Responsive

@media(max-width:991px) {
    .software-usecases .ai-usecase-tabs .ai-usecase-tab-buttons ul li.active:after {
        right: 25px;
    }

    .software-usecases .ai-usecase-tabs {
        gap: 50px;
    }

    // .software-usecases .ai-usecase-tabs .ai-usecase-tab-buttons ul{overflow-x:scroll ;}


    .software-usecases {
        .ai-usecase-header {
            flex-direction: column;
            margin-bottom: 40px;
            align-items: self-start;

            .ai-usecase-title {
                width: 100%;
            }

            .ai-usecase-desc {
                width: 100%;
            }
        }

        .ai-usecase-tabs {
            flex-direction: column;

            .ai-usecase-tab-buttons {
                width: 100%;
                ul {
                    width: 100%;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    padding-bottom: 10px;
                    overflow: auto;
                    justify-content: left;
                    li {
                        min-width: fit-content;

                    }
                }


            }
            .ai-usecase-content{
                width: 100%;
            }

        }


    }



}

@media screen and (max-width:767px) {
    .software-usecases .ai-usecase-tabs .ai-usecase-content .ai-tab-panel .ai-card {
        padding: 20px;
    }

    .software-usecases .ai-usecase-tabs .ai-usecase-content .ai-tab-panel {
        gap: 15px;
    }

    .software-usecases .ai-usecase-tabs .ai-usecase-tab-buttons ul li {
        padding: 14px 46px 14px 30px;
    }
}


@media(max-width:640px) {
    .software-usecases .ai-usecase-tabs .ai-usecase-content .ai-tab-panel .ai-card h3{font-size: 20px;}
    .software-usecases {
       



        .ai-usecase-tabs {
            display: flex;
            justify-content: space-between;

            .ai-usecase-content {


                .ai-tab-panel {

    flex-direction: column;
    width: 100%;
    .ai-card{
        width: 100%;
    }

                }


            }


        }


    }


}