@use "core/variables" as *;
@use "_default" as *;
.use-cases-systems {
  
    background: #090C19;
  

    .top-row {
        display: grid;
        grid-template-columns: 1.2fr .8fr;
        gap: 200px;
        margin-bottom: 60px;
    }

    .heading-col {
        h2 {
     color: $white;

            margin: 0;

            em {
                color: #5f8cff;
                font-style: normal;
            }
        }
    }

    .content-col {
        p {
            color: #E8E8EC;
            line-height: 1.6;
            margin: 0;
        }
    }

    .bottom-part{
        margin-top: 60px;
        .use-cases-systems {
    background: #051b6f;
}

.right-part{
    display: none;
}


.tabs-wrapper {
    display: grid;
    grid-template-columns: 45% 55%;
    min-height: 550px;
    border: 1px solid #35405B33;
    border-radius: 20px;
    overflow: hidden;
}

.tabs-nav {
    background:$themeMidNight;
    padding: 60px 10px 63px 59px;
    position: relative;
    z-index: 1;

    &::after{
        position: absolute;
        left: 0;
        bottom: 0;
        content: "";
        background-image: url(../images/consultion/tab-ellips.webp);
        width: 350px;
        height: 350px;
        z-index: -1;
    }

}

.tab-item {
    border-bottom: 1px solid #02238E;
    margin-left: 58px;
}

.acc-title {
    width: 100%;
    background: none;
    border: 0;
    color: #80838D;
    text-align: left;
    padding: 25px 0 25px 0px;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    gap: 20px;
.number {
   position: absolute;
   left: -58px;
   width: 38px;
   top: 50%;
   transform: translateY(-50%);
}

}


.tab-item.active .acc-title {
    color: #fff;
}

.tabs-content {
    background: #081129;
    padding: 60px 33px 65px 60px;
    color: #fff;
}

.content-pane {
    display: none;
}

.content-pane.active {
    display: block;
}

.icon-box {
    width: 50px;
    height: 50px;
    background: #FFFFFF33;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.content-pane h3 {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 400;
    color: $white;
}

.content-pane p {
    color: #F0F0F3;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 20px;
}

.content-pane ul {
    margin: 30px 0;
    padding: 0;
    list-style: none;
}

.content-pane li {
    margin-bottom: 12px;
    font-size: 14px;
    font-weight: 500;
    color: #E8E8EC;
    position: relative;
padding-left: 26px;
&::after{
    content: "";
    position: absolute;
    left: 0px;
    width: 16px;
    height: 16px;
    top: 6px;
    background-image: url(../images/index-v10/white-check-round.svg) ;
    background-size: cover;
}

}

.tags {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.tags span {
    background: #1C2024;
    padding: 5px 10px;
    color: #80838D;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 400;
}

@media (max-width: 991px) {
    .tabs-wrapper {
        grid-template-columns: 1fr;
    }
}
    }

}


@media screen and (max-width:1024px) {
    .use-cases-systems .right-part .accordion-item .accordion-content p{
        color: $white !important;
    }
    .use-cases-systems .right-part .accordion-item{
        &:first-of-type{
            padding-top: 5px;
        }
    }
    .use-cases-systems .bottom-part .tabs-wrapper{
        display: none;
    }
    .use-cases-systems .top-row{
        grid-template-columns:1fr;
        gap: 10px;
        margin-bottom: 30px;
    }
     .use-cases-systems .bottom-part .right-part{
        display: block;
        background-color: #05164D;
     }
     .right-part .accordion-item .accordion-trigger h3{
        color: $white;
     }
 .use-cases-systems{


      .right-part {
            width: 100%;
            padding: 30px;

             .content-pane{
                display: block !important;
             }

            h3 {
                font-size: 22px;
                color: $white !important;

                @media screen and (max-width:1024px) {
                    font-size: 18px !important;
                    line-height: 1.3;
                }

                @media screen and (max-width:767px) {
                    font-size: 16px !important;
                }
            }

            p {
                margin-bottom: 10px;
                color: $white;

                &:last-of-type {
                    margin-bottom: 35px;

                    @media screen and (max-width:767px) {
                        margin-bottom: 15px;
                    }

                }
            }



            .accordion-item {
               
                border-bottom: 1px solid $darkWhiteGray;
                z-index: 1;
                position: relative;
                  padding: 35px 60px 33px 0;


                &::after{
                        width: 55px;
                        height: 60px;
                        content: "";
                        position: absolute;
                        right: 0;
                        bottom: 0;
                        border: 1px solid $darkWhiteGray;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: url(../images/index-v10/open-tab-icon.svg) no-repeat center;


                        @media screen and (max-width:1024px) {
                            width: 40px;
                            height: 40px;
                            background-size: 15px;
                        }


                    }





                .accordion-trigger {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    position: relative;

                    // @media screen and (max-width:1024px) {
                    //     padding: 20px 30px 20px 5px;
                    // }

                    h3 {
                        margin: 0;
                        font-size: 22px;
                        font-weight: 500;
                        color: #101828;

                    }

                    
                }

                .accordion-content {
                    max-height: 0;
                    overflow: hidden;
                    transition: max-height 0.4s ease;
                    padding: 0 20px;

                    p {
                        color: $natural-grey;
                        font-size: 16px;
                        line-height: 1.6;
                        margin-bottom: 0;
                        
                    }
                }

                &.active {
              

                  padding: 10px 10px 33px 0;

                        &::after {
                            display: none;
                        }
                
                     
                            .accordion-trigger{
                                padding-bottom: 15px;
                                h3{
                                   
                                    font-weight: 700;
                                }
                            }
                     
                    .accordion-content {
                        max-height:fit-content !important;
                            padding: 0 ;
                    }
                }
            }
        }
 }

     
}