*/\.htaccess
.htaccess
/wp/*
/wp/wp-config.php
/wp/wp-admin/*
/wp/wp-includes/*
/wp/wp-content/uploads/*
/wp/wp-content/upgrade/*


version-2.0/*
v3.0/*
version-3.0/*
version-4.0/*
version-5.0/*

css/*
hire-developers/*
images/*
include/*

js/*
menu-images/*
scss/*
stripe/*
stripe_pay/*
js/*
vc-header-footer/*
video/*