.three-column-icon-section .prod-tabs #tabs {
  list-style-type: none; }
  .three-column-icon-section .prod-tabs #tabs ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    .three-column-icon-section .prod-tabs #tabs ul li {
      display: inline-block;
      margin-bottom: -1px;
      flex-basis: 33.33%;
      margin: 0;
      padding: 0;
      margin: 0; }
      .three-column-icon-section .prod-tabs #tabs ul li a {
        display: block;
        height: 100%;
        padding: 25px 60px;
        margin: 0 5px;
        background: #eeeeee;
        color: #000000;
        border-radius: 43px;
        position: relative;
        font-size: 20px; }
        .three-column-icon-section .prod-tabs #tabs ul li a:after {
          content: "";
          clear: both;
          display: block;
          background: url(../images/tabarw.png) no-repeat;
          width: 30px;
          height: 30px;
          position: absolute;
          top: 28%;
          right: 60px;
          border-radius: 50px; }
      .three-column-icon-section .prod-tabs #tabs ul li:before {
        display: none; }
      .three-column-icon-section .prod-tabs #tabs ul li:hover a, .three-column-icon-section .prod-tabs #tabs ul li.active a {
        background-color: #60b741;
        color: #ffffff; }
        .three-column-icon-section .prod-tabs #tabs ul li:hover a:after, .three-column-icon-section .prod-tabs #tabs ul li.active a:after {
          background: url(../images/tabarwactive.png) no-repeat; }
.three-column-icon-section .prod-tabs #tab-contents .tab-contents {
  padding: 10px;
  display: none; }
  .three-column-icon-section .prod-tabs #tab-contents .tab-contents h2 {
    font-size: 32px;
    margin: 0 0 20px;
    line-height: 1.2; }
  .three-column-icon-section .prod-tabs #tab-contents .tab-contents .dis-flex .box-3 {
    margin-top: 0; }
    .three-column-icon-section .prod-tabs #tab-contents .tab-contents .dis-flex .box-3 .box {
      border: 0;
      padding: 0;
      background-color: transparent; }
      .three-column-icon-section .prod-tabs #tab-contents .tab-contents .dis-flex .box-3 .box h3 {
        margin: 0 0 20px; }
      .three-column-icon-section .prod-tabs #tab-contents .tab-contents .dis-flex .box-3 .box ul {
        margin-top: 20px; }
      .three-column-icon-section .prod-tabs #tab-contents .tab-contents .dis-flex .box-3 .box:hover {
        background: none; }
  .three-column-icon-section .prod-tabs #tab-contents .tab-contents.active {
    display: block; }

@media only screen and (max-width: 1600px) {
  .three-column-icon-section .prod-tabs #tabs ul li a {
    padding: 20px 60px;
    font-size: 18px; } }
@media only screen and (max-width: 1440px) {
  .three-column-icon-section .prod-tabs #tabs ul li a {
    padding: 20px 30px; }
    .three-column-icon-section .prod-tabs #tabs ul li a:after {
      right: 30px; }
  .three-column-icon-section .prod-tabs #tab-contents .tab-contents h2 {
    font-size: 24px; } }
@media only screen and (max-width: 991px) {
  .three-column-icon-section .prod-tabs #tabs ul li a {
    font-size: 16px; }
  .three-column-icon-section .prod-tabs #tab-contents .tab-contents .box {
    margin: 20px 0 0; } }
@media only screen and (max-width: 767px) {
  .three-column-icon-section .prod-tabs #tabs ul li {
    margin: 0 0 10px;
    flex-basis: 100%; }
    .three-column-icon-section .prod-tabs #tabs ul li a {
      padding: 10px 20px;
      font-size: 14px; }
      .three-column-icon-section .prod-tabs #tabs ul li a:after {
        right: 20px;
        background-size: 100% !important;
        width: 20px;
        height: 20px; }
  .three-column-icon-section .prod-tabs #tabs ul:hover a:after, .three-column-icon-section .prod-tabs #tabs ul.active a:after {
    right: 20px;
    background-size: 100% !important;
    width: 20px;
    height: 20px; }
  .three-column-icon-section .prod-tabs #tab-contents .tab-contents h2 {
    font-size: 21px;
    margin: 0 0 20px; }
  .three-column-icon-section .prod-tabs #tab-contents .tab-contents .dis-flex .box-3 .box h3 {
    margin: 0 0 10px; }
  .three-column-icon-section .prod-tabs #tab-contents .tab-contents .dis-flex .box-3 .box ul {
    margin-top: 10px; }
  .three-column-icon-section .prod-tabs .margin-t-100 {
    margin: 20px 0 0; }
  .three-column-icon-section .prod-tabs .col-box-outer {
    margin-top: 0; }

  .prod-tabs.margin-t-100 {
    margin: 30px 0 0; } }

/*# sourceMappingURL=product-tab.css.map */
