.cta-wrap {
  display: flex;
  align-items: center;
}

.cta-btn {
  display: flex;
  align-items: center;
  position: relative;
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 18px;
    color: $white;
    border: 1px solid #ffffff;
    padding: 17px 80px 17px 30px;
    border-radius: 7px;
    font-weight: 500;
  }
}

.arrow-wrap {
  display: flex;
  align-items: center;
  position: absolute;
  right: 60px;
  top: 8px;
}


.arrow {
  position: absolute;
  bottom: 0;
  margin-left: 0px;
  width: 12px;
  height: 12px;
  background-size: contain;
  top: 14px;
}

.checkout .arrow {
  top: 10px;
}
.segunda {
  margin-left: 8px;
}
.primera {
  background: url(../images/arrow-btn2.png) no-repeat center;
  width: 9px;
  height: 13px;
}
.next {
  background: url(../images/arrow-btn.png) no-repeat center;
  width: 11px;
  height: 16px;
}
.last {
  background: url(../images/arrow-btn3.png) no-repeat center;
  width: 7px;
  height: 14px;
  margin-left: 19px;
}

.cta-btn a:hover {
  background: #ffad00;
  color: #05164d;
  border-color: #ffad00;
  .primera {
    background: url(../images/arrow-btn2-blue.png) no-repeat center;
    width: 9px;
    height: 13px;
  }
  .next {
    background: url(../images/arrow-btn-blue.png) no-repeat center;
    width: 11px;
    height: 16px;
  }
  .last {
    background: url(../images/arrow-btn3-blue.png) no-repeat center;
    width: 7px;
    height: 14px;
    margin-left: 19px;
  }
}

.checkout:hover {
  .checkout-submit {
    background: #ffad00;
    color: #05164d;
    border-color: #ffad00;
  }
  .primera {
    background: url(../images/arrow-btn2-blue.png) no-repeat center;
    width: 9px;
    height: 13px;
  }
  .next {
    background: url(../images/arrow-btn-blue.png) no-repeat center;
    width: 11px;
    height: 16px;
  }
  .last {
    background: url(../images/arrow-btn3-blue.png) no-repeat center;
    width: 7px;
    height: 14px;
    margin-left: 19px;
  }
}

@keyframes bounceAlpha {
  0% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
  25% {
    opacity: 0;
    transform: translateX(10px) scale(0.9);
  }
  26% {
    opacity: 0;
    transform: translateX(-10px) scale(0.9);
  }
  55% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}

.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.arrow.primera.bounceAlpha {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.cta-btn:hover .arrow {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.cta-btn:hover .arrow.primera {
  animation-name: bounceAlpha;
  animation-duration: 1.4s;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@media only screen and (max-width: 1440px) {
  .cta-btn {
    a {
      font-size: 16px;
    }
  }
}

@media only screen and (max-width: 767px) {
  .cta-btn {
    a {
      font-size: 14px;
    }
  }
}
