.tech-stacks {
  .col-box-outer {
    .col-box {
      margin-top: 50px;
      padding-right: 50px;
      display: flex;
      flex-wrap: wrap;
      &:nth-child(3n) {
        padding-right: 0;
      }
      .inner-box {
        border-bottom: 1px solid #d1d1e1;
        padding-bottom: 45px;
        //min-height: 186px;
        width:100%;
        h3 {
          position: relative;
          padding-bottom: 10px;
          border-image-slice: 1;
          border-image-source: linear-gradient(to right, #ffcf66, #e19b01);
          border-bottom: 4px solid;
        }
        ul {
          li {
            border: 1px solid #d1d1e1;
            border-radius: 5px;
            padding: 4px 9px;
            display: inline-block;
            margin: 18px 18px 0 0;
            line-height: 22px;
            text-align: center;
            color: #666666;
            font-weight: 400;
            background-color: rgba(217, 217, 217, 0.32);
            position: relative;
            a {
              display: block;
              color: #666666;
              &:after{content:''; position: absolute; left:0; top:0; background: transparent; width:100%; height: 100%;}
              &:hover {
                color: #212121;
                border-color: #FFAD00;
                &:after{background: rgba(255, 173, 0, 0.15);}
              }
            }
            
          }

          a:hover li{background:black;}
        }
      }
    }
    .flex-1{
      .inner-box{min-height: initial;}
    }
  }
}


@media only screen and (max-width: 1320px) {

  .tech-stacks {
    .col-box-outer {
      .col-box {
        margin-top: 40px;
        padding-right: 40px;
        &:nth-child(3n) {
          padding-right: 0;
        }
        .inner-box {padding-bottom: 35px;
          //min-height: 212px;
          ul {margin:10px  0 0;
            li {
              margin: 10px 10px 0 0;
              
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .tech-stacks {
    .col-box-outer {
      .col-box {
        margin-top: 30px;
        padding-right: 30px;
        &:nth-child(3n) {
          padding-right:30px;
        }
        .inner-box {
          padding-bottom: 20px;

          ul {
            margin: 20px 0 0;
            li {
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .tech-stacks {
    .col-box-outer {
      .col-box {
        padding-right: 0;
        &:nth-child(3n) {
          padding-right: 0;
        }
        .inner-box {
          padding-bottom: 20px;
          min-height: initial;

          ul {
            margin: 20px 0 0;
            li {
              display: inline-block;
              margin: 0 8px 8px 0;
            }
          }
        }
      }
    }
  }
}
