@import "_default";
@import "_guide-topic";
@import "_menu-v3.12";
@import "_footer-form";
.hero-section {
  padding: 117px 0 80px;
  background-size: cover;
  align-items: center;
  position: relative;
  display: flex;
  display: -webkit-flex;
  background-repeat: no-repeat;
  background-color: rgba(4, 12, 23, 0.7);
  min-height: 70vh;
  text-align: center;
  .content-wrap {
    position: relative;
    z-index: 9;
    .breadcrumbs {
      margin: 0 0 60px;
    }
  }
  .for-client-logo-box {
    margin: 30px 0 0;
  }
  .left-box {
    flex-basis: 100%;
  }
  h1 {
    margin-bottom: 10px;
  }
  p {
    margin: 0 0 20px;
    color: rgba(155, 155, 155, 1);
    line-height: 29px;
    &:first-of-type {
      margin-top: 0;
    }

    a {
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .dis-flex {
    align-items: center;
  }
  .margin-t-30 {
    margin-top: 30px;
  }
  ul {
    margin: 30px 0 0;
    list-style: none;
    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
      line-height: 26px;
      flex-basis: 100%;
      color: $white;
      &:before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #ffb81d;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 6px;
      }
    }
  }
  &:before {
    content: "";
    background: rgba(29, 28, 57, 0.84);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.resource-tab {
  .left-tabs {
    flex-basis: 25%;
    h3 {
      font-size: 20px;
      margin: 0 20px 30px 0;
      text-transform: uppercase;
      font-weight: 300;
      text-align: right;
    }

    .tab-nav {
      padding-right: 14px;
      max-height: initial;
      overflow-y: initial;
      border-radius: 4px;
      border-right: 5px solid rgba(246, 246, 246, 1);
      .tab-link {
        padding: 12px 18px;
        margin: 0 0 2px;
        text-align: right;
        &.is-active {
          &:after {
            content: "";
            width: 5px;
            height: 100%;
            background: $darkYellow;
            border-radius: 5px;
            position: absolute;
            top: 0;
            right: -23px;
          }
        }
      }
    }
  }
  .right-tabs {
    padding-left: 0;
    h2 {
      font-size: 30px;
      line-height: 42px;
    }
    img {
      border-radius: 4px;
    }

    .rerow {
      border: 1px solid rgba(236, 243, 254, 1);
      padding: 20px 0 5px;
      border-radius: 5px;
      .recol {
        border-bottom: 1px solid rgba(236, 243, 254, 1);
        padding: 0 20px;
        margin: 0 0 20px;
        p {
          margin: 0 0 15px;
        }
        h5 {
          font-size: 14px;
          color: $darkYellow;
          font-weight: 500;
          text-transform: uppercase;
          margin: 0 0 10px;
        }
        h4 {
          font-size: 20px;
          line-height: 28px;
          margin: 0 0 10px;
          a {
            color: #110302;
            &:hover {
              color: $darkYellow;
            }
          }
        }
        p {
          a {
            color: #5e6373;
            &:hover {
              color: $darkYellow;
            }
          }
        }
        &:last-child {
          border: 0;
          margin: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .hero-section {
    .content-wrap {
      .breadcrumbs {
        margin: 0 0 50px;
      }
    }
  }
}
@media only screen and (max-width: 1320px) {
  .hero-section {
    .content-wrap {
      .breadcrumbs {
        margin: 0 0 40px;
      }
    }
  }

  .resource-tab {
    .right-tabs {
      h2 {
        font-size: 25px;
        line-height: 35px;
      }
    }
  }
}
@media only screen and (max-width: 1200px) {
}
@media only screen and (max-width: 991px) {
  .hero-section {
    padding: 130px 0 50px;
    background-size: 0;
    background-color: #05164d;
    min-height: initial;
    .content-wrap {
      .breadcrumbs {
        margin: 0 0 20px;
      }
    }
    .for-client-logo-box {
      margin: 25px 0 0;
    }
    &:before {
      display: none;
    }
  }

  .resource-tab {
    .left-tabs {
      flex-basis: 100%;
      h3 {
        font-size: 18px;
        margin: 0 0 20px;
        text-align: center;
      }

      .tab-nav {
        padding: 10px;

        border: 3px solid rgba(246, 246, 246, 1);
        .tab-link {
          text-align: left;
          &.is-active {
            &:after {
              display: none;
            }
          }
        }
      }
    }
    .right-tabs {
      padding-left: 0;
      h2 {
        font-size: 22px;
        line-height: 30px;
      }

      h3 {
        margin: 0 0 20px;
      }

      .rerow {
        .recol {
          h4 {
            font-size: 18px;
            line-height: 26px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 767px) {
  .hero-section {
    h1 {
      margin-bottom: 10px;
    }
    p {
      margin-top: 15px;
      font-size: 14px;
      line-height: 24px;
    }
    ul {
      margin: 20px 0 0;
      li {
        margin: 0 0 5px;
        line-height: 24px;
        &:before {
          content: "";
          width: 10px;
          height: 10px;
          background-color: #ffb81d;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 6px;
        }
      }
    }
  }
}
