$darkYellow: #FFAD00;
$neonCarrot: #070707;
$green: #FFAD00;
$greenclr: #60b741;
$yellow: #FFAD00;
$themeMidNight: #05164d;
$themeDarkNight: #05164d;
$dodgerBlue: #2684ff;

$monaLisa: #fe8686;
$jacarta: #373660;
$gray: #9b9b9b;
$darkGray: #9f9f9f;
$suvaGray: #8e8c8c;
$white: #ffffff;
$black: #000;
$bg-blue: #006eff;
$bg-pink: #ff6b6b;
$bg-orange: #ff8900;
$darkred: #8b0000;
$bgVoilet: #05164d;
$bgDarkBlue: #17152f;
$whiteLight: #cecece;
$headDay: #212121;
$contentDay: #656565;
$bgWhiteGray: #f6f6f6;
$darkWhiteGray: #e5e5e5;
$bglight: #f8f8f8;
$greyBannerfont: #bdb7b7;
$natural-grey:#4B5563;
$darkblack: #111827;
$font-18: 18px;
$font-16: 16px;
$normal-font: 400;
$medium-font: 600;
$semi-bold: bold;
$bold: bold;

$navy-blue: #05164d;
$gradient: linear-gradient(90deg, #05164d 0%, #0c33b3 100%);
$gray-900: #05164D; //#110302
$gray-600: #4B5563;
$gray-500: #6B7280;
$gray-50: #F9FAFB;

$panel-warm:#F7F5F0;

// New Blue version - Theme

$dark-blue: #1D5BC4;
$blue-lihgt:#2563EB;
$blue-off-light: #6AA0FF;
$btn-color:#52525C;
$light-grey:#1C2024;
