.maintenance {
  .col-box-outer {
    justify-content: center;
    .flex-4 {
      flex-basis: 25%;
      padding-right: 40px;
      position: relative;
      .box {
        text-align: center;
        position: relative;
        h4 {
          margin: 20px 0 0;
        }
        p {
          margin: 15px 0 0;
        }
      }
      &:after {
        content: "";
        position: absolute;
        left: 209px;
        top: 59px;
        width: 100%;
        height: 1px;
        border-top: 1px dashed #e5e5e5;
      }
      &:nth-child(4n) {
        &:after {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1380px) {
  .maintenance {
    .col-box-outer {
      .flex-4 {
        padding-right: 25px;
        &:after {
          left: 160px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .maintenance {
    .col-box-outer {
      justify-content: center;
      .flex-4 {
        flex-basis: 100%;
        padding-right: 0;
        padding-bottom: 25px;
        .box {
          h4 {
            margin: 15px 0 0;
          }
          p {
            margin: 10px 0 0;
          }
        }
        &:after {
          display: none;
        }
      }
    }
  }
}
