.award-section {
  .top-logo {
    text-align: center;
    font-size: $font-18;
    display: flex;
    align-items: center;
    justify-content: center;

    .text {
      display: flex;
      align-items: center;
      i {
        img {
          margin: 1px 8px 0 0;
          vertical-align: text-top;
          display: inline-block;
          //vertical-align: middle;
        }
      }
      strong {
        font-size: 24px;
        color: $gray-900;
        margin-right: 10px;
      }
    }

    .awlogo {
      display: flex;
      gap: 10px;
      align-items: center;
      margin-left: 10px;
      a {
        border: 1px solid #dfdbdb;
        width: 40px;
        height: 40px;
        border-radius: 5px;
        padding: 8px;
        position: relative;
        cursor: default;
        &:after {
          content: "";
          background: url(../images/home-images/awlogo-01.svg) no-repeat;
          width: 25px;
          height: 26px;
          background-size: 100%;
          position: absolute;
          top: 7px;
          left: 0;
          right: 0;
          margin: 0 auto;
        }

        &:nth-child(2) {
          &:after {
            width: 24px;
            height: 24px;
            background: url(../images/home-images/awlogo-02.svg) no-repeat;
            background-size: 100%;
          }
        }
        &:nth-child(3) {
          &:after {
            width: 26px;
            height: 25px;
            background: url(../images/home-images/awlogo-03.svg) no-repeat;
            background-size: 100%;
          }
        }
      }
    }
  }

  .stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 75%;
    margin: 40px auto 0;

    .stat {
      border-right: 1px solid #cdcdcd;
      flex-basis: 33.33%;
      padding: 30px 20px;
      text-align: center;

      h2 {
        font-size: 56px;
        line-height: 55px;
        margin: 0 0 5px;
      }
      &:last-child {
        border: 0;
      }
    }
  }

  .award-image {
    padding: 8px 0 0;
    text-align: center;
    .dis-flex {
      overflow: hidden;
      width: 100%;
    }
    .award-heading {
      position: relative;
      width: 100%;
      margin: 0 0 25px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background: #fff;
      h4 {
        font-size: 20px;
        margin: 0 35px;
        background: $white;
        position: relative;

        span {
          margin: 0 35px;
          background: $white;
        }
      }
      flex-basis: 100%;
      margin: 0 0 30px;
      justify-content: center;

      strong {
        color: $yellow;
      }

      &:before {
        width: 90%;
        content: "";
        height: 0.197px;
        background: #cdcdcd;
        position: absolute;
        top: 15px;
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    }

    .award-section {
      width: 100%;

      img {
        margin: 0 auto;
      }
    }
  }
}

// Media Query Start From Here

@media (max-width: 1440px) {
  .award-section {
    .stats {
      max-width: 90%;
    }
  }
}

@media (max-width: 1320px) {
  .award-section {
    .top-logo {
      .text {
        strong {
          font-size: 22px;
        }
      }
    }

    .stats {
      margin: 30px auto 0;
      .stat {
        h2 {
          font-size: 45px;
          line-height: 50px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .award-section {
    .stats {
      max-width: 100%;
      .stat {
        padding: 25px 20px;
      }
    }

    .award-image {
      .award-heading {
        margin: 0 0 20px;

        h4 {
          font-size: 18px;
          margin: 0 25px;

          span {
            margin: 0;
          }
        }

        margin: 0 0 25px;
      }
    }
  }
}

@media (max-width: 979px) {
}

@media (max-width: 767px) {
  .award-section {
    .top-logo {
      flex-wrap: wrap;
      font-size: 16px;
      .text {
        width: 100%;
        margin: 0 0 20px;
        justify-content: center;
        strong {
          font-size: 20px;
          margin-right: 8px;
        }
      }
      .awlogo {
        width: 100%;
        justify-content: center;
        margin: 0;
      }
    }
    .stats {
      max-width: 100%;
      border: 1px solid #cdcdcd;
      border-radius: 8px;
      .stat {
        flex-basis: 50%;
        padding: 20px;
        h2 {
          font-size: 32px;
          line-height: 40px;
        }
        &:nth-child(2) {
          border-right: 0;
        }
        &:last-child {
          flex-basis: 100%;
          border-top: 1px solid #cdcdcd;
        }
      }
    }

    .award-image {
      padding: 20px 0 0;

      .award-heading {
        margin: 0 0 15px;

        h4 {
          font-size: 16px;
        }
      }
    }
  }
}
