.solution {
  .col-box-outer {
    counter-reset: section;
    .flex-3 {
      padding: 0 20px;
    }
    .box {
      height: 100%;
      transition: all 0.3s ease-in-out;
      position: relative;
      border-radius: 10px;
      border: 1px solid #e2e9ef;
      padding: 40px;
      background: #fff;

      &:after {
        counter-increment: section;
        content: "0" counter(section);
        position: absolute;
        top: 9px;
        right: 20px;
        color: #05164d;
        opacity: 0.05;
        font-size: 59px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      h3 {
        margin: 0 0 20px;
      }

      p {
        line-height: 160%;
      }

      ul {
        margin-top: 10px;
        li {
          position: relative;
          margin-bottom: 10px;
          padding-left: 20px;
          line-height: 160%;

          text-align: left;

          &::before {
            content: "";
            width: 10px;
            height: 10px;
            background-color: #ffb81d;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 8px;
          }
        }
      }

      .exbtn {
        margin: 30px 0 0;
        padding: 20px 0 0;
        border-top: 1px solid rgba(5, 22, 77, 0.2);
      }
    }
  }
}

@media only screen and (max-width: 1366px) {
  .solution {
    .col-box-outer {
      .box {
        padding: 30px;
        &:after {
          font-size: 50px;
          top: 6px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .solution {
    .col-box-outer {
      .flex-3 {
        padding: 20px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .solution {
    .col-box-outer {
      .flex-3 {
        padding: 0 0 20px;
      }
      .box {
        padding: 25px;

        &:after {
          font-size: 48px;
        }

        .exbtn {
          margin: 25px 0 0;
          padding: 20px 0 0;
        }
      }
    }
  }
}
