.tab-with-slide {
  .tab-flex {
    display: flex;
    flex-direction: column;
  }

  .tabs-container {
    .tabs {
      list-style: none;
      padding: 0;

      display: flex;

      max-width: 100%;
      justify-content: space-between;

      position: relative;

      margin: 0;
      padding: 0;
      max-width: 100%;
      border-radius: 0;
      background: transparent;
      box-shadow: none;
      border: 0;
      border-bottom: 3px solid #dde5;

      .tab-scroll {
        width: 90%;
        margin: 0;
        padding: 0;

        .glider {
          .tab {
            border: none;
            font-size: $font-18;
            cursor: pointer;
            position: relative;
            transition: background 0.3s;
            color: #414141;
            display: flex;
            flex-wrap: wrap;
            padding: 0 5px 20px;
            margin: 0 10px 0 0;
            img {
              margin-right: 5px;
              vertical-align: middle;
            }

            .normal {
              display: inline-block;
            }
            .hover {
              display: none;
            }
            &:after {
              content: "";
              background: transparent;
              width: 100%;
              height: 3px;
              position: absolute;
              left: 0;
              bottom: 0;
            }

            &.active,
            &:hover {
              color: $darkblack;
              &:after {
                background: $yellow;
              }
            }
          }
        }

        .glider-dots {
          text-align: center;
          margin-top: 10px;
          display: none;

          .glider-dot {
            background: #ccc;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            margin: 0 5px;
            cursor: pointer;
            transition: background 0.3s ease;

            &.active {
              background: $yellow;
            }
          }
        }

        .prev-next-btn {
          .glider-prev {
            background: url(../images/industry-images/prev-tab.svg) no-repeat
              center;
            width: 34px;
            height: 34px;
            z-index: 9;
            opacity: 1 !important;
            top: 0%;
            font-size: 0;
            left: 102%;
            transform: rotate(0);
            font-size: 0;
            border-radius: 100%;
            position: absolute;
            transform: rotate(180deg);
            &:hover {
              opacity: 0.6;
            }
          }
          .glider-next {
            background: url(../images/industry-images/prev-tab.svg) no-repeat
              center;
            width: 34px;
            height: 34px;
            z-index: 9;
            opacity: 1 !important;
            top: 0%;
            transform: translateY(-0%);
            top: 0;
            font-size: 0;
            border-radius: 100%;
            right: -100px;
            font-size: 0;
            border-radius: 100%;
            position: absolute;
            &:hover {
              opacity: 0.6;
            }
          }
        }
      }
    }

    .tab-content {
      margin: 60px 0 0;
      .content {
        display: none;

        &.active {
          display: block;
        }

        .dis-flex {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;

          .img-div {
            flex-basis: 30%;
            padding: 0;
            img {
              max-width: 100%;
              height: auto;
            }
          }

          .content-div {
            flex-basis: 66%;

            p {
              font-weight: $normal-font;
            }

            ul {
              margin: 5px 0 0;

              li {
                margin: 10px 0 0;
                font-weight: 500;
                padding-left: 30px;
                position: relative;
                font-weight: 400;
                &:before {
                  content: "";
                  background: url(../images/home-images/listing.svg) no-repeat
                    center;
                  width: 20px;
                  height: 20px;
                  background-size: 100%;
                  position: absolute;
                  left: 0;
                  top: 4px;
                }
              }
            }
            .is-arrow {
              margin: 30px 0 0;
            }
          }
        }
      }
    }
  }
}
// Media Query Start From Here

@media (max-width: 1440px) {
}

// Tablet: 2 tabs per row
@media (max-width: 1024px) and (min-width: 768px) {
  .tab-with-slide {
    .tabs-container {
      .tabs {
        flex-wrap: wrap;
        .tab-scroll {
          width: 85%;
        }
        .tab {
          flex-basis: 100%; // Full width
          margin-bottom: 15px;
          text-align: center;
        }
      }
    }
  }
}

// Mobile: 1 tab per row
@media (max-width: 767px) {
  .tab-with-slide {
    .tabs-container {
      .tabs {
        flex-wrap: wrap;

        .tab-scroll {
          width: 100%;
          .glider {
            .tab {
              flex-basis: 100%;
              font-size: 15px;
              margin-bottom: 10px;
              text-align: center;
            }
          }
          .prev-next-btn {
            display: none;
          }
          .glider-dots {
            display: block;
            margin: 10px 0 20px;
          }
        }
      }
      .tab-content {
        margin: 40px 0 0;
        .content {
          .dis-flex {
            .img-div {
              flex-basis: 100%;
            }
            .content {
              margin: 20px 0 0;
              flex-basis: 100%;
              ul{
                li{padding-left: 27px;
                  position: relative;
                &:before{top: 1px;
                  width: 18px;
                  height: 18px;}
                }
              }
            }
          }
        }
      }
    }
  }
}
