.three-column-icon-section {
  .top-content {
    .flex-2:first-child {
      padding-right: 130px;
    }
    h2 {
      margin: 0;
    }
    p {
      a {
        color: #3f3f3f;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .image-sec {
    .desktop {
      display: block;
      margin: 0 auto;
    }
    .mobile {
      display: none;
    }
  }

  .half-list {
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      li {
        flex-basis: 48%;
      }
    }
  }
  .col-box-outer {
    .box {
      height: 100%;
      transition: all 0.3s ease-in-out;
      position: relative;

      h3 {
        margin: 0 0 20px;
        padding-top: 20px;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, #ffcf66, #e19b01);
        border-top: 4px solid;
      }
    }
    .box-3 {
      padding-right: 50px;
      margin-top: 50px;
      &:nth-child(3n) {
        padding-right: 0;
      }
      &.flex-2 {
        padding-right: 0;
        &:nth-child(2n-1) {
          padding-right: 50px;
        }
      }
    }
    .box-2 {
      padding-right: 50px;
      margin-top: 50px;
      &.flex-2 {
        padding-right: 0;
        &:nth-child(2n-1) {
          padding-right: 50px;
        }
      }
    }
    .box-4 {
      padding-right: 50px;
      margin-top: 50px;
      &:nth-child(4n) {
        padding-right: 0;
      }
    }

    .has-vlink {
      .box {
        padding: 0 0 60px;
        .box-link {
          font-size: 0;
          a {
            content: "";
            border-bottom: 1px solid #d1d1e1;
            width: 100%;
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: pointer;
            transition: all 0.3s ease;

            &:after {
              content: "";
              width: 48px;
              height: 48px;
              border: 1px solid #d1d1e1;
              border-bottom: 0;
              background: url(../images/angle.png) no-repeat center;
              border-bottom: 0;
              position: absolute;
              right: 0;
              bottom: 0;
              cursor: pointer;
              transition: all 0.3s ease;
            }
            &:hover:after {
              background-color: rgba(255, 173, 0, 0.15);
              background-position: 25px center;
              transition: all 0.3s ease;
            }
          }
        }
      }
    }

    .has-anchor {
      .box {
        padding: 0 0 60px;
        .box-anchor {
          transition: all 0.3s ease;
          content: "";
          border-bottom: 1px solid #d1d1e1;
          width: 100%;
          display: block;
          position: absolute;
          right: 0;
          bottom: 0;
          cursor: pointer;
          font-size: 0;

          &:after {
            content: "";
            width: 48px;
            height: 48px;
            border: 1px solid #d1d1e1;
            border-bottom: 0;
            background: url(../images/angle.png) no-repeat center;
            border-bottom: 0;
            position: absolute;
            right: 0;
            bottom: 0;
            cursor: pointer;
            transition: all 0.3s ease;
          }
          &:hover:after {
            background-color: rgba(255, 173, 0, 0.15);
            background-position: 25px center;
            transition: all 0.3s ease;
          }
        }
      }
    }
  }

  ul {
    margin-top: 10px;
    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
      text-align: left;

      &::before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #ffb81d;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 6px;
      }
    }
  }
  a {
    text-decoration: none;
    &:hover{text-decoration: underline;}
  }
}

@media only screen and (max-width: 1600px) {
  .three-column-icon-section {
    .top-content {
      .flex-2:first-child {
        padding-right: 110px;
      }
    }
  }
}

@media only screen and (max-width: 1320px) {
  .three-column-icon-section {
    .top-content {
      .flex-2:first-child {
        padding-right: 80px;
      }
    }
    .col-box-outer {
      .has-anchor {
        .box {
          padding: 0 0 50px;
        }
      }
      .box {
        h3 {
          margin: 0 0 10px;
          padding-top: 15px;
        }
      }
      .box-3 {
        padding-right: 40px;
        margin-top: 40px;
        &:nth-child(3n) {
          padding-right: 0;
        }
        &.flex-2 {
          padding-right: 0;
          &:nth-child(2n-1) {
            padding-right: 40px;
          }
        }
      }
      .box-2 {
        padding-right: 40px;
        margin-top: 40px;
        &.flex-2 {
          &:nth-child(2n-1) {
            padding-right: 40px;
          }
        }
      }
      .box-4 {
        padding-right: 40px;
        margin-top: 40px;
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .three-column-icon-section {
    .top-content {
      .flex-2:first-child {
        padding-right: 0;
      }
      h2 {
        margin: 0 0 15px;
      }
    }
    .half-list {
      ul {
        li {
          flex-basis: 100%;
        }
      }
    }
    .col-box-outer {
      .box-3 {
        padding-right: 30px;
        margin-top: 30px;
        &:nth-child(3n) {
          padding-right: 30px;
        }
        &.flex-2 {
          padding-right: 0;
          &:nth-child(2n-1) {
            padding-right: 30px;
          }
        }
      }
      .box-2 {
        padding-right: 30px;
        margin-top: 30px;
        &.flex-2 {
          &:nth-child(2n-1) {
            padding-right: 30px;
          }
        }
      }
      .box-4 {
        padding-right: 30px;
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .three-column-icon-section {
    .col-box-outer {
      margin-top: 10px;

      .box-3 {
        padding-right: 0;
        margin-top: 20px;
        &:nth-child(3n) {
          padding-right: 0;
        }
        &.flex-2 {
          &:nth-child(2n-1) {
            padding-right: 0;
          }
        }
      }
      .box-2 {
        padding-right: 0;
        margin-top: 30px;
        &.flex-2 {
          &:nth-child(2n-1) {
            padding-right: 30px;
          }
        }
      }
      .box-4 {
        padding-right: 0;
        margin-top: 30px;
      }

      .has-vlink {
        .box {
          padding: 0 0 40px;
          .box-link {
            a {
              &:after {
                width: 40px;
                height: 40px;
              }
            }
          }
        }
      }

      .has-anchor {
        .box {
          padding: 0 0 40px;
          .box-anchor {
            &::after {
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }

    ul {
      li {
        margin-bottom: 7px;
      }
    }
  }

  .three-column-icon-section {
    .image-sec {
      .desktop {
        display: none;
      }
      .mobile {
        display: block;
        margin: 0 auto;
      }
    }
  }
}
