@import "default.3.0.scss";
@import "default.2.0.scss";
@import "services.3.0.scss";
@import "contact.3.0.scss";
.about-banner {
    background-color: #1D1C39;
    padding: 160px 0 60px;
    .container {
        width: 90%;
        margin: auto;
        .row {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .col {
                flex-basis: 44%;
                ul {
                    list-style: none;
                    margin-bottom: 30px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 10px 20px;
                    align-items: center;
                    li {
                        width: 120px;
                    }
                }
                .content {
                    h1 {
                        color: #ffffff;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 48px;
                        line-height: 65px;
                    }
                    p {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 34px;
                        width: 80%;
                        color: #BDB7B7;
                        margin: 20px 0 20px;
                    }
                }
            }
            .col2 {
                flex-basis: 50%;
            }
        }
    }
}

.our-mision {
    padding: 100px 0 0;
    .container {
        width: 90%;
        margin: auto;
        .row {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .col {
                flex-basis: 48%;
                .content {
                    h2 {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 24px;
                        line-height: 160%;
                        color: #212121;
                        margin-bottom: 20px;
                    }
                    p {
                        font-style: normal;
                        font-weight: 400;
                        margin-bottom: 20px;
                        font-size: 16px !important;
                        line-height: 28px !important;
                        color: #656565;
                        padding-right: 100px;
                    }
                }
                .founder {
                    p {
                        &::before {
                            content: url('../images/quotes.png');
                            position: absolute;
                            left: -40px;
                            top: 0;
                        }
                        position: relative;
                        font-style: normal;
                        font-weight: 400;
                        margin-bottom: 20px;
                        font-size: 17px !important;
                        line-height: 30px !important;
                        color: #212121;
                        padding-right: 100px;
                    }
                    .profile {
                        display: flex;
                        align-items: center;
                        picture {
                            img {
                                border-radius: 50%;
                            }
                        }
                        .detail {
                            padding-left: 20px;
                            h5 {
                                font-size: 14px;
                                color: #212121;
                                font-weight: 600;
                                margin-bottom: 5px;
                            }
                            span {
                                font-size: 14px;
                                color: #656565;
                            }
                        }
                    }
                }
            }
        }
    }
    .row-mission {
        margin-top: 80px;
        background-color: #FAFAFA;
        display: flex;
        .col {
            flex-basis: 48%;
            .img-holder {
                height: 100%;
                picture {
                    img {
                        min-height: 100%;
                    }
                }
            }
            .inner-card {
                padding: 80px 40px 0;
                .content {
                    margin-bottom: 50px;
                    h2 {
                        font-style: normal;
                        font-weight: 600;
                        font-size: 34px;
                        line-height: 160%;
                        color: #212121;
                        margin-bottom: 20px;
                    }
                    p {
                        font-style: normal;
                        font-weight: 400;
                        margin-bottom: 20px;
                        font-size: 16px !important;
                        line-height: 28px !important;
                        color: #656565;
                        padding-right: 100px;
                    }
                }
                .row2 {
                    display: flex;
                    justify-content: space-between;
                    gap: 40px 20px;
                    flex-wrap: wrap;
                    .col {
                        flex-basis: 48%;
                        .content {
                            border-top: 1px solid #D1D1E1;
                            padding-top: 15px;
                            margin-top: 15px;
                            text-align: left;
                            h5 {
                                font-size: 16px;
                                color: #212121;
                                font-weight: 600;
                                margin: 8px 0;
                            }
                            p {
                                font-size: 14px;
                                color: #656565;
                                padding-right: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.our-team {
    padding: 90px 0;
    .container {
        width: 90%;
        margin: auto;
        .heading {
            width: 60%;
            margin: auto;
            text-align: center;
            h2 {
                font-size: 34px;
                font-weight: 600;
                color: #212121;
                line-height: 62px;
                margin-bottom: 10px;
            }
            p {
                font-size: 18px;
                font-weight: 500;
                color: #656565;
                line-height: 32px;
            }
        }
        .row {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 20px;
            flex-wrap: wrap;
            margin-top: 60px;
            .col {
                flex-basis: 23%;
                .card {
                    position: relative;
                    &:hover {
                        .desc {
                            p {
                                display: block;
                            }
                        }
                    }
                    .desc {
                        position: absolute;
                        left: 0;
                        bottom: 6px;
                        right: 0;
                        background-color: rgba(29, 28, 57, 0.47);
                        padding: 18px;
                        text-align: center;
                        h6 {
                            font-weight: 600;
                            font-size: 16px;
                            line-height: 22px;
                            color: #fff;
                            letter-spacing: 1px;
                        }
                        span {
                            font-weight: 500;
                            font-size: 13px;
                            color: #fff;
                            display: inline-block;
                        }
                        p {
                            display: none;
                            font-weight: 400;
                            font-size: 11px;
                            line-height: 18px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

.since {
    padding: 100px 0;
    .container {
        width: 90%;
        margin: auto;
        text-align: center;
        .row {
            margin-bottom: 80px;
            display: flex;
            justify-content: space-between;
            .col {
                flex-basis: 48%;
                h2 {
                    font-weight: 600;
                    font-size: 36px;
                    padding-right: 160px;
                    line-height: 60px;
                    color: #212121;
                    text-align: left;
                }
                p {
                    text-align: left;
                    margin-bottom: 0;
                    font-size: 18px;
                    color: #656565;
                    line-height: 30px;
                }
            }
        }
    }
}

.bg-purple {
    background: linear-gradient(to right, #262346, #181732) !important;
    .container {
        .row {
            align-items: center !important;
            .col {
                .content {
                    .heading {
                        h2 {
                            color: #ffffff !important;
                        }
                    }
                    p {
                        color: #eaeaea!important;
                    }
                }
            }
        }
    }
}

.client {
    background-color: #fafafa;
    padding: 100px 0;
    .container {
        width: 90%;
        margin: auto;
        text-align: center;
        .row {
            display: flex;
            justify-content: space-between;
            .col {
                flex-basis: 48%;
                .content {
                    .heading {
                        display: flex;
                        align-items: center;
                        margin-bottom: 30px;
                        h2 {
                            font-weight: 600;
                            font-size: 36px;
                            padding-right: 60px;
                            line-height: 60px;
                            color: #212121;
                            text-align: left;
                        }
                        .arrow {
                            border: 1px solid #D1D1E1;
                            height: 60px;
                            width: 60px;
                            line-height: 70px;
                        }
                    }
                    p {
                        font-style: normal;
                        font-weight: 400;
                        margin-bottom: 20px;
                        font-size: 16px !important;
                        line-height: 28px !important;
                        color: #656565;
                        padding-right: 190px;
                        text-align: left;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1600px) {
    .about-banner {
        background-color: #1D1C39;
        padding: 120px 0 50px;
        .container {
            width: 90%;
            padding: 0;
            margin: auto;
            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .col {
                    flex-basis: 48%;
                    ul {
                        list-style: none;
                        margin-bottom: 30px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        align-items: center;
                        li {
                            width: 120px;
                        }
                    }
                    .content {
                        h1 {
                            color: #ffffff;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 40px;
                        }
                        p {
                            font-weight: 500;
                            font-size: 17px;
                            line-height: 36px;
                            width: 100%;
                            color: #BDB7B7;
                            margin: 20px 0 20px;
                        }
                    }
                }
                .col2 {
                    flex-basis: 48%;
                }
            }
        }
    }
}

@media only screen and (max-width:991px) {
    .about-banner {
        background-color: #1D1C39;
        padding: 120px 0 50px;
        .container {
            width: 90%;
            padding: 0;
            margin: auto;
            .row {
                display: flex;
                align-items: center;
                justify-content: space-between;
                .col {
                    flex-basis: 48%;
                    ul {
                        list-style: none;
                        margin-bottom: 30px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        align-items: center;
                        li {
                            width: 90px;
                        }
                    }
                    .content {
                        h1 {
                            color: #ffffff;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 28px;
                            line-height: 40px;
                        }
                        p {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 30px;
                            width: 100%;
                            color: #BDB7B7;
                            margin: 20px 0 20px;
                        }
                    }
                }
                .col2 {
                    flex-basis: 48%;
                }
            }
        }
    }
    .our-team {
        padding: 80px 0;
        .container {
            padding: 0;
            width: 90%;
            margin: auto;
            .row {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 10px;
                flex-wrap: wrap;
                .col {
                    flex-basis: 23%;
                    .card {
                        position: relative;
                        &:hover {
                            .desc {
                                p {
                                    display: block;
                                }
                            }
                        }
                        .desc {
                            position: absolute;
                            left: 0;
                            bottom: 6px;
                            right: 0;
                            background-color: rgba(29, 28, 57, 0.47);
                            padding: 10px;
                            text-align: center;
                            h6 {
                                font-weight: 600;
                                font-size: 15px;
                                line-height: 22px;
                                color: #fff;
                                letter-spacing: 1px;
                            }
                            span {
                                font-weight: 500;
                                font-size: 12px;
                                color: #fff;
                                display: inline-block;
                            }
                            p {
                                display: none;
                                font-weight: 400;
                                font-size: 11px;
                                line-height: 18px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .our-mision {
        padding: 80px 0;
        .container {
            padding: 0;
            .row {
                .col {
                    .content {
                        p {
                            padding-right: 70px;
                        }
                    }
                    .founder {
                        p {
                            padding-right: 0;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .about-banner {
        background-color: #1D1C39;
        padding: 120px 0 50px;
        .container {
            width: 90%;
            padding: 0;
            margin: auto;
            .row {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 30px 0;
                justify-content: space-between;
                .col {
                    flex-basis: 100%;
                    ul {
                        list-style: none;
                        margin-bottom: 30px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        align-items: center;
                        li {
                            width: 90px;
                        }
                    }
                    .content {
                        h1 {
                            color: #ffffff;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 24px;
                            line-height: 30px;
                        }
                        p {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 30px;
                            width: 100%;
                            color: #BDB7B7;
                            margin: 20px 0 20px;
                        }
                    }
                }
                .col2 {
                    flex-basis: 100%;
                }
            }
        }
    }
    .our-team {
        padding: 60px 0;
        .container {
            width: 90%;
            margin: auto;
            .row {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 10px;
                flex-wrap: wrap;
                .col {
                    flex-basis: 31%;
                    .card {
                        position: relative;
                        &:hover {
                            .desc {
                                p {
                                    display: block;
                                }
                            }
                        }
                        .desc {
                            position: absolute;
                            left: 0;
                            bottom: 6px;
                            right: 0;
                            background-color: rgba(29, 28, 57, 0.47);
                            padding: 10px;
                            text-align: center;
                            h6 {
                                font-weight: 600;
                                font-size: 14px;
                                color: #fff;
                                letter-spacing: 1px;
                            }
                            span {
                                font-weight: 500;
                                font-size: 12px;
                                color: #fff;
                                display: inline-block;
                                margin: 5px 0;
                            }
                            p {
                                display: none;
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 18px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:560px) {
    .about-banner {
        background-color: #1D1C39;
        padding: 120px 0 50px;
        .container {
            width: 90%;
            padding: 0;
            margin: auto;
            .row {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px 0;
                justify-content: space-between;
                .col {
                    flex-basis: 100%;
                    ul {
                        list-style: none;
                        margin-bottom: 30px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 10px;
                        align-items: center;
                        li {
                            width: 90px;
                        }
                    }
                    .content {
                        h1 {
                            color: #ffffff;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 28px;
                        }
                        p {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 24px;
                            width: 100%;
                            color: #BDB7B7;
                            margin: 20px 0 20px;
                        }
                    }
                }
                .col2 {
                    flex-basis: 100%;
                }
            }
        }
    }
    .our-team {
        padding: 60px 0;
        .container {
            width: 90%;
            margin: auto;
            .row {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                gap: 10px;
                flex-wrap: wrap;
                .col {
                    flex-basis: 48%;
                    .card {
                        position: relative;
                        &:hover {
                            .desc {
                                p {
                                    display: none;
                                }
                            }
                        }
                        .desc {
                            position: absolute;
                            left: 0;
                            bottom: 6px;
                            right: 0;
                            background-color: rgba(29, 28, 57, 0.47);
                            padding: 8px;
                            text-align: center;
                            h6 {
                                font-weight: 600;
                                font-size: 14px;
                                color: #fff;
                                letter-spacing: 1px;
                            }
                            span {
                                font-weight: 500;
                                font-size: 12px;
                                color: #fff;
                                display: inline-block;
                                margin: 4px 0;
                            }
                            p {
                                display: none;
                                font-weight: 400;
                                font-size: 10px;
                                line-height: 18px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    .our-mision {
        padding: 40px 0 0!important;
        .container {
            width: 100% !important;
            padding: 0;
            .row {
                flex-direction: column;
                padding: 0 50px;
                .col {
                    flex-basis: 100%;
                    .content {
                        p {
                            padding-right: 0 !important;
                        }
                    }
                }
            }
        }
        .row-mission {
            margin-top: 50px !important;
            flex-direction: column;
            .col {
                flex-basis: 100%;
                .inner-card {
                    padding: 20px !important;
                }
            }
        }
    }
    .since {
        padding: 40px 0;
        .container {
            padding: 0;
            .row {
                margin-bottom: 40px;
                flex-direction: column;
                gap: 20px;
            }
        }
    }
    .client {
        padding: 40px 0;
        .container {
            padding: 0;
            .row {
                flex-direction: column;
                gap: 20px;
            }
        }
    }
    .our-team {
        padding: 40px 0;
        .container {
            padding: 0;
            .heading {
                width: 100% !important;
            }
        }
    }
}

@media only screen and (max-width:380px) {
    .about-banner {
        background-color: #1D1C39;
        padding: 120px 0 50px;
        .container {
            width: 90%;
            padding: 0;
            margin: auto;
            .row {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px 0;
                justify-content: space-between;
                .col {
                    flex-basis: 100%;
                    ul {
                        list-style: none;
                        margin-bottom: 30px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px 10px;
                        align-items: center;
                        justify-content: center;
                        li {
                            width: 100px;
                        }
                    }
                    .content {
                        h1 {
                            color: #ffffff;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 28px;
                        }
                        p {
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 24px;
                            width: 100%;
                            color: #BDB7B7;
                            margin: 20px 0 20px;
                        }
                    }
                }
                .col2 {
                    flex-basis: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width:280px) {
    .about-banner {
        .container {
            .row {
                .col {
                    ul {
                        justify-content: center !important;
                    }
                    .content {
                        h1 {
                            font-size: 20px;
                            line-height: 24px;
                        }
                        p {
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1024px) {
    .about-banner {
        background-color: #1D1C39;
        padding: 100px 0 50px;
        .container {
            width: 90%;
            padding: 0;
            margin: auto;
            .row {
                display: flex;
                align-items: center;
                gap: 20px 0;
                justify-content: space-between;
                .col {
                    flex-basis: 48%;
                    ul {
                        list-style: none;
                        margin-bottom: 30px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px 10px;
                        align-items: center;
                        justify-content: flex-start;
                        li {
                            width: 90px;
                        }
                    }
                    .content {
                        h1 {
                            color: #ffffff;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 20px;
                            line-height: 28px;
                        }
                        p {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 28px;
                            width: 100%;
                            color: #BDB7B7;
                            margin: 20px 0 20px;
                        }
                    }
                }
                .col2 {
                    flex-basis: 48%;
                }
            }
        }
    }
}

@media only screen and (max-width:1280px) {
    .about-banner {
        background-color: #1D1C39;
        padding: 100px 0 50px;
        .container {
            width: 90%;
            padding: 0;
            margin: auto;
            .row {
                display: flex;
                align-items: center;
                gap: 20px 0;
                justify-content: space-between;
                .col {
                    flex-basis: 48%;
                    ul {
                        list-style: none;
                        margin-bottom: 30px;
                        display: flex;
                        flex-wrap: wrap;
                        gap: 5px 10px;
                        align-items: center;
                        justify-content: flex-start;
                        li {
                            width: 90px;
                        }
                    }
                    .content {
                        h1 {
                            color: #ffffff;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 22px;
                            line-height: 28px;
                        }
                        p {
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 26px;
                            width: 100%;
                            color: #BDB7B7;
                            margin: 20px 0 20px;
                        }
                    }
                }
                .col2 {
                    flex-basis: 48%;
                }
            }
        }
    }
}

@media only screen and (max-width:1280px) {
    .our-mision {
        padding: 100px 0 0;
        .container {
            width: 90%;
            margin: auto;
            .row {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .col {
                    flex-basis: 48%;
                    .content {
                        h2 {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 24px;
                            line-height: 160%;
                            color: #212121;
                            margin-bottom: 20px;
                        }
                        p {
                            font-style: normal;
                            font-weight: 400;
                            margin-bottom: 20px;
                            font-size: 16px !important;
                            line-height: 28px !important;
                            color: #656565;
                            padding-right: 100px;
                        }
                    }
                    .founder {
                        p {
                            &::before {
                                content: url('../images/quotes.png');
                                position: absolute;
                                left: -40px;
                                top: 0;
                            }
                            position: relative;
                            font-style: normal;
                            font-weight: 400;
                            margin-bottom: 20px;
                            font-size: 17px !important;
                            line-height: 30px !important;
                            color: #212121;
                            padding-right: 100px;
                        }
                        .profile {
                            display: flex;
                            align-items: center;
                            picture {
                                img {
                                    border-radius: 50%;
                                }
                            }
                            .detail {
                                padding-left: 20px;
                                h5 {
                                    font-size: 14px;
                                    color: #212121;
                                    font-weight: 600;
                                    margin-bottom: 5px;
                                }
                                span {
                                    font-size: 14px;
                                    color: #656565;
                                }
                            }
                        }
                    }
                }
            }
        }
        .row-mission {
            margin-top: 80px;
            background-color: #FAFAFA;
            justify-content: space-between;
            display: flex;
            .col {
                flex-basis: 50%;
                .img-holder {
                    img {
                        min-height: 100%;
                    }
                }
                .inner-card {
                    padding: 40px;
                    .content {
                        margin-bottom: 20px;
                        h2 {
                            font-style: normal;
                            font-weight: 600;
                            font-size: 34px;
                            line-height: 160%;
                            color: #212121;
                            margin-bottom: 20px;
                        }
                        p {
                            font-style: normal;
                            font-weight: 400;
                            margin-bottom: 20px;
                            font-size: 16px !important;
                            line-height: 28px !important;
                            color: #656565;
                            padding-right: 0;
                        }
                    }
                    .row2 {
                        display: flex;
                        justify-content: space-between;
                        gap: 20px;
                        flex-wrap: wrap;
                        .col {
                            flex-basis: 48%;
                            .content {
                                border-top: 1px solid #D1D1E1;
                                padding-top: 15px;
                                margin-top: 15px;
                                text-align: left;
                                h5 {
                                    font-size: 16px;
                                    color: #212121;
                                    font-weight: 600;
                                    margin: 8px 0;
                                }
                                p {
                                    font-size: 14px;
                                    color: #656565;
                                    padding-right: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .since {
        .container {
            .row {
                .col {
                    h2 {
                        font-weight: 600;
                        font-size: 26px;
                        line-height: 50px;
                        color: #212121;
                        text-align: left;
                    }
                    p {
                        text-align: left;
                        margin-bottom: 0;
                        font-size: 16px;
                        color: #656565;
                        line-height: 30px;
                    }
                }
            }
        }
    }
    .client {
        .container {
            .row {
                .col {
                    .content {
                        p {
                            font-size: 16px !important;
                            line-height: 28px !important;
                            padding-right: 0px;
                        }
                        h2 {
                            font-size: 28px;
                            padding-right: 0px;
                            line-height: 50px;
                        }
                    }
                }
            }
        }
    }
    .client {
        .container {
            .row {
                .col {
                    .content {
                        p {
                            font-size: 16px !important;
                            line-height: 28px !important;
                            padding-right: 0px;
                        }
                        h2 {
                            font-size: 28px!important;
                            padding-right: 0px;
                            line-height: 50px!important;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:1024px) {
    .about-banner {
        .container {
            .row {
                .col {
                    .content {
                        p {
                            font-size: 14px;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }
    .our-mision {
        padding: 80px 0 0;
        .container {
            padding: 0;
            .row {
                .col {
                    .content {
                        h2 {
                            margin-bottom: 10px;
                        }
                        p {
                            font-size: 14px !important;
                            line-height: 26px !important;
                            color: #656565;
                            padding-right: 60px;
                        }
                    }
                    .founder {
                        p {
                            padding-right: 0;
                            font-size: 16px !important;
                            line-height: 28px !important;
                        }
                    }
                }
            }
        }
        .row-mission {
            .col {
                .inner-card {
                    .row2 {
                        .col {
                            flex-basis: 44%;
                        }
                    }
                    .content {
                        h2 {
                            line-height: 40px;
                            font-size: 24px;
                            margin-bottom: 10px;
                        }
                        p {
                            font-size: 14px !important;
                            line-height: 26px !important;
                        }
                    }
                }
            }
        }
    }
    .since {
        .container {
            .row {
                .col {
                    p {
                        font-size: 14px !important;
                        padding-right: 0!important;
                        line-height: 28px!important;
                    }
                    h2 {
                        font-size: 22px;
                        line-height: 38px;
                        padding-right: 0;
                    }
                }
            }
        }
    }
    .client {
        .container {
            .row {
                .col {
                    .content {
                        h2 {
                            font-size: 24px !important;
                            padding-right: 0px;
                            line-height: 40px !important;
                        }
                        p {
                            font-size: 14px !important;
                            line-height: 26px !important;
                        }
                    }
                }
            }
        }
    }
    .our-team {
        .container {
            .heading {
                width: 80%;
                h2 {
                    font-size: 28px;
                    line-height: 50px;
                }
                p {
                    font-size: 14px !important;
                    line-height: 28px !important;
                }
            }
        }
    }
}