@import "default.3.0.scss";
@import "default.2.0.scss";
@import "services.3.0.scss";
@import "index.3.0.scss";
@import "hire.3.0.scss";
@import "crossplateform.3.0.scss";
@import "achievement.3.0.scss";
@import "contact.3.0.scss";
.industries-banner {
    .container {
        .content {
            .mrtp {
                margin-top: 30px !important;
            }
        }
    }
}

.serv-text {
    a {
        text-decoration: underline;
        color: #656565;
    }
}