@import "default.3.0.scss";
@import "default.2.0.scss";
@import "achievement.3.0.scss";
@import "index.3.0.scss";
@import "services.3.0.scss";
@import "hire.3.0.scss";
@import "contact.3.0.scss";
.bg-gray {
    background-color: #fafafa !important;
}

.sftwre-serv {
    .sftwre-dev {
        border-top: 1px solid #D1D1E1;
    }
}

.solutions {
    background-color: #ffffff;
    .row-flex6 {
        .col {
            .content {
                background-color: #fafafa;
                h4 {
                    padding: 0 20px;
                    &::before {
                        top: -30px;
                    }
                }
                p {
                    padding: 0 20px;
                }
            }
        }
    }
    .row-flex10 {
        .col {
            flex-basis: 46% !important;
        }
    }
}

.achievement-section {
    padding: 100px 0;
    .container {
        width: 90%;
        margin: auto;
        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
            .col {
                flex-basis: 48%;
                h2 {
                    font-weight: 600;
                    font-size: 36px;
                    padding-right: 160px;
                    line-height: 60px;
                    color: #212121;
                }
                p {
                    margin-bottom: 0;
                    font-size: 18px;
                    color: #656565;
                    line-height: 30px;
                }
            }
        }
        .row2 {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .col {
                flex-basis: 23%;
                .content {
                    border-top: 1px solid #D1D1E1;
                    padding-top: 15px;
                    margin-top: 15px;
                    text-align: left;
                    h3 {
                        font-size: 22px;
                        color: #212121;
                        font-weight: 600;
                    }
                    h5 {
                        font-size: 16px;
                        color: #212121;
                        font-weight: 600;
                        margin: 8px 0;
                    }
                    p {
                        font-size: 14px;
                        color: #656565;
                    }
                }
            }
        }
    }
}

.how-we-work {
    padding: 100px 0;
    .container {
        width: 90%;
        margin: auto;
        .row {
            display: flex;
            justify-content: space-between;
            margin-bottom: 80px;
            .col {
                flex-basis: 48%;
                h2 {
                    font-weight: 600;
                    font-size: 36px;
                    padding-right: 160px;
                    line-height: 60px;
                    color: #212121;
                }
                p {
                    margin-bottom: 0;
                    font-size: 18px;
                    color: #656565;
                    line-height: 30px;
                }
            }
        }
    }
}

@media only screen and (max-width:991px) {
    .achievement-section {
        padding: 80px 40px;
        .container {
            width: 100%;
            padding: 0;
            margin: auto;
            .row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 80px;
                .col {
                    flex-basis: 48%;
                    h2 {
                        font-weight: 600;
                        font-size: 24px !important;
                        line-height: 44px !important;
                        padding-right: 0;
                        color: #212121;
                    }
                    p {
                        margin-bottom: 0;
                        line-height: 28px;
                        font-size: 16px;
                        color: #656565;
                    }
                }
            }
            .row2 {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                .col {
                    flex-basis: 23%;
                    .content {
                        border-top: 1px solid #D1D1E1;
                        padding-top: 15px;
                        margin-top: 15px;
                        text-align: left;
                        h3 {
                            font-size: 18px;
                            color: #212121;
                            font-weight: 600;
                        }
                        h5 {
                            font-size: 14px;
                            color: #212121;
                            font-weight: 600;
                            margin: 8px 0;
                        }
                        p {
                            font-size: 12px;
                            color: #656565;
                        }
                    }
                }
            }
        }
    }
    .how-we-work {
        padding: 80px 40px;
        .container {
            width: 100%;
            padding: 0;
            margin: auto;
            .row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 80px;
                .col {
                    flex-basis: 48%;
                    h2 {
                        font-weight: 600;
                        font-size: 24px !important;
                        line-height: 44px !important;
                        padding-right: 0;
                        color: #212121;
                    }
                    p {
                        margin-bottom: 0;
                        line-height: 28px;
                        font-size: 16px;
                        color: #656565;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .achievement-section {
        padding: 80px 40px;
        .container {
            width: 100%;
            padding: 0;
            margin: auto;
            .row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 60px;
                flex-direction: column;
                gap: 20px 0;
                .col {
                    flex-basis: 100%;
                    h2 {
                        font-weight: 600;
                        font-size: 24px !important;
                        line-height: 44px !important;
                        padding-right: 0;
                        color: #212121;
                    }
                    p {
                        margin-bottom: 0;
                        line-height: 28px;
                        font-size: 16px;
                        color: #656565;
                    }
                }
            }
            .row2 {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 30px 0;
                .col {
                    flex-basis: 48%;
                    .content {
                        border-top: 1px solid #D1D1E1;
                        padding-top: 15px;
                        margin-top: 15px;
                        text-align: left;
                        h3 {
                            font-size: 18px;
                            color: #212121;
                            font-weight: 600;
                        }
                        h5 {
                            font-size: 14px;
                            color: #212121;
                            font-weight: 600;
                            margin: 8px 0;
                        }
                        p {
                            font-size: 12px;
                            color: #656565;
                        }
                    }
                }
            }
        }
    }
    .how-we-work {
        padding: 80px 40px;
        .container {
            width: 100%;
            padding: 0;
            margin: auto;
            .row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 60px;
                flex-direction: column;
                gap: 20px 0;
                .col {
                    flex-basis: 100%;
                    h2 {
                        font-weight: 600;
                        font-size: 24px !important;
                        line-height: 44px !important;
                        padding-right: 0;
                        color: #212121;
                    }
                    p {
                        margin-bottom: 0;
                        line-height: 28px;
                        font-size: 16px;
                        color: #656565;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:560px) {
    .achievement-section {
        padding: 60px 30px;
        .container {
            width: 100%;
            padding: 0;
            margin: auto;
            .row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 50px;
                flex-direction: column;
                .col {
                    flex-basis: 100%;
                    h2 {
                        font-weight: 600;
                        font-size: 24px !important;
                        line-height: 44px !important;
                        padding-right: 0;
                        color: #212121;
                    }
                    p {
                        margin-bottom: 0;
                        line-height: 24px;
                        font-size: 14px;
                        color: #656565;
                    }
                }
            }
            .row2 {
                display: flex;
                align-items: flex-start;
                justify-content: space-between;
                flex-wrap: wrap;
                gap: 30px 0;
                .col {
                    flex-basis: 100%;
                    .content {
                        border-top: 1px solid #D1D1E1;
                        padding-top: 15px;
                        margin-top: 15px;
                        text-align: left;
                        h3 {
                            font-size: 18px;
                            color: #212121;
                            font-weight: 600;
                        }
                        h5 {
                            font-size: 14px;
                            color: #212121;
                            font-weight: 600;
                            margin: 8px 0;
                        }
                        p {
                            font-size: 12px;
                            color: #656565;
                        }
                    }
                }
            }
        }
    }
    .how-we-work {
        padding: 60px 30px;
        .container {
            width: 100%;
            padding: 0;
            margin: auto;
            .row {
                display: flex;
                justify-content: space-between;
                margin-bottom: 50px;
                flex-direction: column;
                .col {
                    flex-basis: 100%;
                    h2 {
                        font-weight: 600;
                        font-size: 24px !important;
                        line-height: 44px !important;
                        padding-right: 0;
                        color: #212121;
                    }
                    p {
                        margin-bottom: 0;
                        line-height: 24px;
                        font-size: 14px;
                        color: #656565;
                    }
                }
            }
        }
    }
}