.lets-discuss-cta {
  position: relative;
  z-index: 1;
  &:before,
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
  }
  &:before {
    background: url(../images/intersect-left.png) 0 0 no-repeat;
    background-size: 100%;
    bottom: 0;
    left: 0;
    width: 116px;
    height: 163px;
  }
  &:after {
    background: url(../images/intersect-right.png) 0 0 no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 304px;
    height: 475px;
  }

  .left-sec {
    flex-basis: 40%;
  }
  .right-sec {
    flex-basis: 40%;
  }
}

@media only screen and (max-width: 1440px) {

  .lets-discuss-cta {
    &:after {
      width: 240px;
    }
  }
}

@media only screen and (max-width: 1320px) {
  .lets-discuss-cta {
    &:after {
      width: 180px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .lets-discuss-cta {
    &:before {
      width: 50px;
      height: 70px;
    }

    &:after {
      display: none;
    }

    .left-sec {
      flex-basis: 100%;
      text-align: center;
      .btn-sec {
        justify-content: center;
      }
    }
    .right-sec {
      flex-basis: 100%;
      text-align: center;
      margin: 40px 0 0;
    }
  }
}

@media only screen and (max-width: 479px) {
  .lets-discuss-cta {
    .right-sec {
      display:none;
    }
  }
}

