.footer {
  width: 100%;
  background: #fffcf1;
  padding: 30px 0 40px;
  .footer-top {
    padding: 0 0 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .count-sec {
      display: flex;
      flex-basis: 70%;
      .count-col {
        margin-right: 40px;
        h5 {
          color: #000000;
          font-size: 20px;
          margin: 0 0 10px;
        }
        p {
          color: rgba(0, 0, 0, 0.6);
          font-size: 14px;
          line-height: 24px;
          margin: 0;
        }
        .subs-box {
          background: #ffad00;
          position: relative;
          padding: 20px 40px;
          flex-basis: 30%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          flex-direction: column;
          text-align: center;
          border-radius: 30px;
          overflow: hidden;
          h3 {
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
            color: $white;
          }
          &:before {
            content: "";
            background: url(../images/subs-shape01.png) no-repeat;
            width: 75px;
            height: 65px;
            position: absolute;
            left: 0;
            bottom: 0;
            background-size: 100%;
          }
          &:after {
            content: "";
            background: url(../images/subs-shape02.png) no-repeat;
            width: 40px;
            height: 65px;
            position: absolute;
            right: 0;
            top: 0;
            background-size: 100%;
          }
        }
      }
    }

    .subs-box {
      background: #ffad00;
      position: relative;
      padding: 20px 40px;
      flex-basis: 30%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: column;
      text-align: center;
      border-radius: 30px;
      overflow: hidden;

      h3{  font-size: 18px;
        line-height: 26px;
        font-weight: 500;
        color: $white;}

      .white-btn {
        background: var(--blue);
        border-color: var(--blue);
        border-radius: 15px;
        font-size: 14px;
        padding: 12px 30px;
        line-height: 1;
        font-weight: 500;
        &:hover {
          background: #05164d;
          color: $white;
          border-color: #05164d;
        }
      }

      .cta-wrap {
        margin: 15px 0 0;

        .btn-sec {
          .btn {
            background: #fff;
            padding: 13px 80px 13px 30px;
            font-size: 16px;
            &.rounded {
              .text-white {
                color: #05164d;
              }
              &:before {
                background: #05164d url(../images/white-icon.svg) 0 0 no-repeat;
                top: 4px;
                width: 40px;
                height: 40px;
                background-position: center right 12px;
              }
            }
            &:hover {
              border-color: #05164d;
              background: #05164d;
              opacity: 1;
              .text-white {
                color: #fff;
              }
            }
          }
        }
      }
    }
  }

  .footer-middle {
    padding: 40px 0 25px;
    justify-content: space-between;
    align-items: baseline;
    .flex-5 {
      flex-basis: auto;
      padding-right: 60px;
      &:last-child {
        padding-right: 0;
      }
    }
    h4 {
      font-size: 18px;

      color: $black;
      font-weight: 600;
    }
    ul {
      li {
        margin: 10px 0 0;
        color: rgba(0, 0, 0, 0.6);
        font-size: 16px;
        line-height: 26px;
        a {
          color: rgba(0, 0, 0, 0.6);
          &:hover {
            color: $black;
          }
        }
      }
    }
  }

  .footer-bottom {
    padding: 40px 0 0;
    gap: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
    justify-content: space-between;
    .flex-3 {
      flex-basis: auto;
    }
    h3 {
      font-size: 15px;
      line-height: 24px;
      color: $black;
      font-weight: 400;
      margin: 0 0 22px;
    }
    .logo-box {
      .dis-flex {
        a {
          margin-right: 30px;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .social-box{
      .dis-flex{
        a{margin-right:20px;}
      }
    }
    .copyright {
      p {
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.6);
        margin: 0;
      }
    }
  }
}

/*Media Query Start From Here*/

@media (max-width: 1440px) {
  .footer {
    .footer-top {
      .count-sec {
        .count-col {
          margin-right: 25px;
        }
      }
    }

    .footer-middle {
      .flex-5 {
        padding-right: 30px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .footer {
    .footer-middle {
      ul {
        li {
          font-size: 14px;
          line-height: 24px;
        }
      }
    }
  }
}

@media (max-width: 1160px) {
  .footer {
    .footer-top {
      .count-sec {
        p {
          font-size: 12px;
          line-height: 24px;
        }
      }
      .subs-box {
        padding: 20px 15px;
        border-radius: 20px;
        &:before {
          width: 60px;
          height: 52px;
        }
        &:after {
          width: 34px;
          height: 46px;
        }
      }
      .footer-middle {
        .flex-5 {
          padding-right: 20px;
        }
      }

      .footer-bottom {
        gap: 20px;
      }
    }
  }
}

@media (max-width: 1160px) {
  .footer {
    .footer-top {
      .count-sec {
        .count-col {
       p{font-size: 12px;}
       line-height: 24px;
        }
      }
    }

  }

}

@media (max-width: 1023px) {
  .footer {
    .footer-top {
      flex-wrap: wrap;
      .count-sec {
        flex-basis: 100%;
        justify-content: space-between;
        .count-col {
          margin-right: 18px;
        }
      }
      .subs-box {
        flex-basis: 100%;
        margin: 20px 0 0;
      }
    }
    .footer-middle {
      .flex-5 {
        flex-basis: 20%;
      }
    }

    .footer-bottom {
      gap: 0;
      justify-content: space-between;
      .flex-3 {
        flex-basis: 33%;
      }
      h3 {
        font-size: 14px;
        line-height: 22px;
      }
      .logo-box {
        .dis-flex {
          a {
            margin-right: 0;
            margin-bottom: 10px;
          }
        }
      }
      .social-box {
        .dis-flex {
          a {
            margin-right: 10px;
          }
        }
      }
      .copyright {
        p {
          font-size: 13px;
          line-height: 22px;
        }
      }
    }
  }
}

@media (max-width: 980px) {
}

@media (max-width: 767px) {
  .footer {
    .footer-top {
      flex-wrap: wrap;
      .count-sec {
        flex-basis: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        .count-col {
          flex-basis: 48%;
          margin-right: 0;
          text-align: center;
          padding: 0 0 20px;
          p {
            font-size: 12px;
            line-height: 22px;
          }
          h5 {
            font-size: 18px;
            margin: 0 0 5px;
          }
        }
        
      }
      .subs-box {
        flex-basis: 100%;
        padding: 30px;
      }
    }

    .footer-middle {
      padding: 30px 0 10px;
      .flex-5 {
        flex-basis: 48%;
        padding: 0 0 20px;
      }
      ul {
        li {
          margin: 8px 0 0;
          font-size: 14px;
          line-height: 24px;
        }
      }
    }

    .footer-bottom {
      padding: 30px 0 0;
      gap: 0;
      .flex-3 {
        flex-basis: 100%;
        text-align: center;
        margin: 20px 0 0;
        .dis-flex {
          flex-wrap: nowrap;
          justify-content: center;
          a {
            margin-right: 20px;
          }
        }
      }

      h3 {
        font-weight: 500;
      }
    }
  }
}

/*Media Query Ends Here*/
