.three-column-icon-section {
  .prod-tabs {
    #tabs {
      list-style-type: none;
      ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        li {
          display: inline-block;
          margin-bottom: -1px;
          flex-basis: 33.33%;
          margin: 0;
          padding: 0;
          margin: 0;
          a {
            display: block;
            height: 100%;
            padding: 25px 60px;
            margin: 0 5px;
            background: #eeeeee;
            color: #000000;
            border-radius: 43px;
            position: relative;
            font-size: 20px;
            &:after {
              content: "";
              clear: both;
              display: block;
              background: url(../images/tabarw.png) no-repeat;
              width: 30px;
              height: 30px;
              position: absolute;
              top: 28%;
              right: 60px;
              border-radius: 50px;
            }
          }
          &:before {
            display: none;
          }
          &:hover a,
          &.active a {
            background-color: $yellow;
            color: #ffffff;

            &:after {
              background: url(../images/tabarwactive.png) no-repeat;
            }
          }
        }
      }
    }

    #tab-contents {
      .tab-contents {
        padding: 10px;
        display: none;
        h2 {
          font-size: 32px;
          margin: 0 0 20px;
          line-height: 1.2;
        }
        .dis-flex {
          .box-3 {
            margin-top: 0;
            .box {
              border: 0;
              padding: 0;
              background-color: transparent;
              h3 {
                margin: 0 0 20px;
              }
              ul {
                margin-top: 20px;
              }
              &:hover {
                background: none;
              }
            }
          }
        }
        &.active {
          display: block;
        }
      }
    }
  }
}

.key-areas {
  .prod-tabs {
    #tabs {
      flex-basis: 24%;
      ul {
        li {
          flex-basis: 100%;
          a {
            padding: 20px 30px;
            color: rgba(102, 102, 102, 1);
            font-weight: 600;
            border-radius: 0;
            background: transparent;
            border: 1px solid rgba(209, 209, 225, 1);
            &:after {
              display: none;
            }
          }
          &.active {
            position: relative;
            a {
              color: rgba(5, 22, 77, 1);
              background: $yellow;
              border-color: $yellow;
            }
            &:after {
              content: "";
              position: absolute;
              top: 19px;
              right: -17px;
              background: url(../images/polygon.svg) no-repeat center;
              width: 27px;
              height: 27px;
            }
          }
          &:hover {
            a {
              color: rgba(5, 22, 77, 1);
            }
          }
        }
      }
    }

    #tab-contents {
      flex-basis: 70%;
      .tab-contents {
        .top-content {
          &.has-vlink {
            h3 {
              display: block;
              display: flex;
              align-items: center;
              transition: all 0.3s ease;
              position: relative;
              a:after {
                content: "";
                width: 33px;
                height: 33px;
                border: 1px solid #d1d1e1;
                background: url(../images/arrow-image.png) no-repeat center;
                display: inline-block;
                margin-left: 15px;
                vertical-align: middle;
                cursor: pointer;
                transition: all 0.3s ease;
              }
            }
            a:hover {
              &:after {
                background-color: rgba(255, 173, 0, 0.15);
                background-position: 15px center;
                transition: all 0.3s ease;
              }
            }
          }
        }
        .col-box-outer{
          br{display:none;}
        }
        p{margin:0;}
        h3 {
          font-size: 24px;
          color: #05164d;
          margin: 0 0 20px;
        }
        h4 {
          margin: 0 0 10px;
        }
      }
      
    }
  }
}

@media only screen and (max-width: 1600px) {
  .three-column-icon-section {
    .prod-tabs {
      #tabs {
        ul {
          li {
            a {
              padding: 20px 60px;
              font-size: 18px;
            }
          }
        }
      }
    }
  }
  .key-areas {
    .prod-tabs {
      #tabs {
        ul {
          li {
            a {
              padding: 20px 25px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .three-column-icon-section {
    .prod-tabs {
      #tabs {
        ul {
          li {
            a {
              padding: 20px 30px;
              &:after {
                right: 30px;
              }
            }
          }
        }
      }
      #tab-contents {
        .tab-contents {
          h2 {
            font-size: 24px;
          }
        }
      }
    }
  }
  .key-areas {
    .prod-tabs {
      #tabs {
        flex-basis: 26%;
        ul {
          li {
            a {
              padding: 20px 25px;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 991px) {
  .three-column-icon-section {
    .prod-tabs {
      #tabs {
        ul {
          li {
            a {
              font-size: 16px;
            }

            &.active {
              &:after {
                top: 14px;
                right: -5px;

                width: 15px;
                height: 15px;
                background-size: 100%;
              }
            }
          }
        }
      }
      #tab-contents {
        .tab-contents {
          .box {
            margin: 20px 0 0;
          }
        }
      }
    }
  }

  .key-areas {
    .prod-tabs {
      #tabs {
        flex-basis: 100%;
        ul {
          li {
            a {
              padding: 15px 20px;
            }
          }
        }
      }

      #tab-contents {
        flex-basis: 100%;
        margin: 30px 0 0;
        .tab-contents {
          h3 {
            font-size: 22px;
            margin: 0 0 15px;
          }
          h4 {
            margin: 0 0 10px;
          }
        }
        .col-box-outer{
        .box-2 {
          padding-right: 0;
          margin-top: 0;
          &.flex-2 {
            &:nth-child(2n-1) {
              padding-right: 0;
            }
          }
        }
      }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .three-column-icon-section {
    .prod-tabs {
      #tabs {
        ul {
          li {
            margin: 0 0 10px;
            flex-basis: 100%;
            a {
              padding: 10px 20px;
              font-size: 14px;
              &:after {
                right: 20px;
                background-size: 100% !important;
                width: 20px;
                height: 20px;
              }
            }
          }

          &:hover a,
          &.active a {
            &:after {
              right: 20px;
              background-size: 100% !important;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
      #tab-contents {
        .tab-contents {
          h2 {
            font-size: 21px;
            margin: 0 0 20px;
          }
          .dis-flex {
            .box-3 {
              .box {
                h3 {
                  margin: 0 0 10px;
                }
                ul {
                  margin-top: 10px;
                }
              }
            }
          }
        }
      }
      .margin-t-100 {
        margin: 20px 0 0;
      }
      .col-box-outer {
        margin-top: 0;
      }
    }
  }
  .prod-tabs.margin-t-100 {
    margin: 30px 0 0;
  }
}
