.icon-three-column-section {
  .col-box-outer {
    justify-content: center;
  }
  h3 {
    a {
      color: $headDay;
    }
  }
  .learn-more {
    margin-top: 20px;
  }
  .has-anchor {
    .box {
      &:hover {
        background: $white;
        border-color: $yellow;
      }
    }
    a {
      display: block;
      height: 100%;
    }
  }

  .has-vlink {
    .box {
      &:hover {
        background: $bgWhiteGray;
        border-color: $yellow;
      }
    }
  }

  .box {
    padding: 40px;
    height: 100%;
    transition: all 0.3s ease-in-out;
    border: 1px solid #dfdfdf;
    border-radius: 9px;

    h3 {
      margin: 25px 0 15px;
    }
    p {
      a {
        display: inline;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  .box-3 {
    padding-right: 22px;
    margin-top: 22px;
    &:nth-child(3n) {
      padding-right: 0;
    }
    &.flex-2 {
      padding-right: 0;
      &:nth-child(2n-1) {
        padding-right: 22px;
      }
    }
  }
  .box-2 {
    padding-right: 22px;
    margin-top: 22px;
    &.flex-2 {
      padding-right: 0;
      &:nth-child(2n-1) {
        padding-right: 22px;
      }
    }
  }
  .box-4 {
    padding-right: 22px;
    margin-top: 22px;
    &:nth-child(4n) {
      padding-right: 0;
    }
  }
  ul {
    margin-top: 30px;
  }
  a {
    text-decoration: none;
  }
}

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1200px) {
  .icon-three-column-section {
    .box-3 {
      padding-right: 15px;
      margin-top: 20px;
      &:nth-child(3n) {
        padding-right: 15px;
      }
    }
    .box-2 {
      padding-right: 15px;
      margin-top: 20px;
      &.flex-2 {
        &:nth-child(2n-1) {
          padding-right: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 991px) {
  .icon-three-column-section {
    .flex-4 {
      flex-basis: 50%;
    }
    .box-4 {
      &:nth-child(2n) {
        padding-right: 0;
      }
    }
    .flex-2 {
      flex-basis: 50%;
    }
  }
}

@media only screen and (max-width: 767px) {
  .icon-three-column-section {
    ul {
      li {
        font-size: 14px;
        padding-left: 22px;
        &::before {
          background-position: 2px -87px;
          width: 16px;
          height: 16px;
        }
      }
    }
    .box {
      padding:30px;
      h3 {
        margin-top: 10px;
      }
    }
    .box-3 {
      padding-right: 0;
      &.flex-2 {
        &:nth-child(2n-1) {
          padding-right: 0;
        }
      }
      &:nth-child(3n) {
        padding-right: 0;
      }
    }
    .box-2 {
      padding-right: 0;
      &.flex-2 {
        &:nth-child(2n-1) {
          padding-right: 0;
        }
      }
    }
    .flex-4 {
      flex-basis: 100%;
    }
    .box-4 {
      padding-right: 0;
      &:nth-child(2n) {
        padding-right: 0;
      }
    }

    .flex-2 {
      flex-basis: 100%;
    }
  }
}
