@import "_default";
@import "_three-column";
@import "_client-logo";
@import "_accordion";
@import "_cta-structure";
@import "_menu-v3.12";
@import "_ctabtn-structure";
@import "_testimonials";
@import "_footer-form";

.hero-section {
  background: $themeMidNight;
  background-size: cover;
  padding: 117px 0 80px;
  display: flex;
  align-items: center;
  min-height: 520px;

  .content-wrap {
    position: relative;
    z-index: 9;
  }

  h1 {
    margin-bottom: 20px;
  }

  p {
    color: $greyBannerfont;
    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  a {
    text-decoration: none;
    color: $greyBannerfont;
  }

  &:before {
    content: "";
    background: linear-gradient(180deg, #211f47 0%, #05164d 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
  }

  .count-box-outer {
    margin: 40px 0 0;
    .count-box {
      padding-right: 50px;
      h2 {
        margin: 0;
        color: $darkYellow;
        font-weight: 700;
      }
    }
  }

  &.for-faq-banner {
    &:before {
      display: none;
    }
  }
}

.four-columns {
  .col-box-outer {
    .box-3 {
      padding-right: 50px;
      margin-top: 50px;
      &:last-child {
        padding-right: 0;
      }
      .icon-box {
        margin: 0 0 20px;
        display: block;
      }
      h3 {
        margin: 0 0 15px;
        padding-top: 20px;
        border-image-slice: 1;
        border-image-source: linear-gradient(to right, #ffcf66, #e19b01);
        border-top: 4px solid;
        

        span {
          display: block;
        }
      }
    }
  }
}

//fAQ Section Start From Here//

.faq-section {
  &.faq-for-company {
    .faq-outer {
      margin-top: 0;
    }

    .flex-2 {
      border-radius: 10px;
      padding: 25px 42px;
      margin-top: 20px;
      flex-basis: calc(50% - 10px);
      background: $bglight;
      height: 100%;

      &:first-child,
      &:nth-child(2) {
        margin-top: 0;
      }

      &:nth-child(2n) {
        margin-left: 10px;
      }

      &:nth-child(2n - 1) {
        margin-right: 10px;
      }
    }

    .faq-accordion-item-outer {
      margin-top: 0;
    }

    .faq-accordion-content {
      padding-left: 0;
      padding-right: 40px;
    }

    .faq-accordion-toggle {
      padding-left: 0;

      &::before,
      &::after {
        background: $darkYellow;
      }

      &::before {
        left: auto;
        right:0;
      }

      &::after {
        left: auto;
        right: 8px;
      }
    }
  }
}

//FAQ Section Ends Here//

@media only screen and (max-width: 1600px) {
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1320px) {
  .four-columns {
    .col-box-outer {
      .box-3 {
        padding-right: 40px;
        margin-top: 40px;
        .icon-box {
          margin: 0 0 15px;
        }
        h3 {
          padding: 15px 0 0;
          margin: 0 0 15px;
        }
      }
    }
  }

  .faq-section {
    &.faq-for-company {
      .flex-2 {
        padding: 15px 25px;
      }

      .faq-accordion-content {
        padding-right: 0;
      }

      .faq-accordion-toggle {
        padding-left: 0;
        padding-right: 30px;
        &::after {
          left: auto;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 991px) {
  .hero-section {
    padding: 130px 0 50px;
    text-align: center;
    .for-client-logo-box {
      justify-content: center;
    }
    h1 {
      margin-bottom: 15px;
    }
    .count-box-outer {
      margin: 10px 0 0;
      justify-content: center;
      .count-box {
        padding-right: 30px;
        margin: 20px 0 0;
      }
    }
  }
  .four-columns {
    .col-box-outer {
      .box-3 {
        padding-right: 30px;
        margin-top: 30px;
        &:nth-child(2n) {
          padding-right: 0;
        }

        h3 {
          margin: 0 0 10px;
        }
      }
    }
  }

  .faq-section {
    &.faq-for-company {
      .flex-2 {
        flex-basis: 100%;
        margin-top: 10px;

        &:nth-child(2) {
          margin-top: 10px;
        }

        &:nth-child(2n) {
          margin-left: 0;
        }

        &:nth-child(2n - 1) {
          margin-right: 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .hero-section {
    .count-box-outer {
      .count-box {
        padding: 0 10px;
        flex-basis: 50%;
      }
    }
  }
  .four-columns {
    text-align: center;
    .col-box-outer {
      .box-3 {
        padding-right: 0;
        margin-top: 30px;
        &:nth-child(2n) {
          padding-right: 0;
        }
      }
    }
  }
}
