@import "_default";
@import "_accordion";
@import "_glider";
@import "_global-counter";
@import "_case-studies";
@import "_guide-topic";
@import "_tech-stack-v2";
@import "_tech-stacks";
@import "_three-column";
@import "_menu-v3.12";
@import "_industries-columns";
@import "_hiring-models";
@import "_footer-form";
@import "_cta-structure";
@import "_header-form";

.hero-section {
  padding: 117px 0 80px;
  background-size: cover;
  align-items: center;
  position: relative;
  display: flex;
  display: -webkit-flex;
  background-repeat: no-repeat;
  background-color: rgba(4, 12, 23, 0.7);
  min-height: 70vh;
  .content-wrap {
    position: relative;
    z-index: 9;
  }
  .for-client-logo-box {
    margin: 30px 0 0;
  }
  .left-box {
    flex-basis: 100%;
  }
  h1 {
    margin-bottom: 10px;
  }
  p {
    margin: 0 0 20px;
    color: $white;
    line-height: 29px;
    &:first-of-type {
      margin-top: 0;
    }

    a {
      color: $white;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .dis-flex {
    align-items: center;
  }
  .margin-t-30 {
    margin-top: 30px;
  }
  ul {
    margin: 30px 0 0;
    list-style: none;
    li {
      position: relative;
      margin-bottom: 10px;
      padding-left: 20px;
      line-height: 26px;
      flex-basis: 100%;
      color: $white;
      &:before {
        content: "";
        width: 10px;
        height: 10px;
        background-color: #ffb81d;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 6px;
      }
    }
  }
  &:before {
    content: "";
    background: rgba(4, 12, 23, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.technology-section {
  .left-box {
    flex-basis: 50%;
    padding-right: 70px;
    padding-left: calc(50vw - 740px);

    ul {
      li {
        border: 1px solid #d1d1e1;
        border-radius: 5px;
        padding: 4px 9px;
        display: inline-block;
        margin: 18px 18px 0 0;
        line-height: 22px;
        text-align: center;
        color: #666666;
        font-weight: 400;
        background-color: rgba(217, 217, 217, 0.32);
        a {
          display: block;
          color: #666666;
        }

        &:hover {
          background-color: rgba(255, 173, 0, 0.15);
          color: #212121;
          border-color: #FFAD00;
        }
      }
    }
  }
  .right-box {
    flex-basis: 50%;
    position: relative;
    img {
      bottom: 0;
      height: 100%;
      left: 0;
      margin: 0;
      max-width: none;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      object-fit: cover;
    }
  }
}

.tech-section {
  .left-box {
    ul {
      display: flex;
      flex-wrap: wrap;
      margin: 5px 0 0;
      li {
        position: relative;
        padding: 0 0 0 20px;
        line-height: 26px;
        flex-basis: 48%;
        margin: 0 0 10px;
        display: flex;
        text-align: left;
        background: transparent;
        border: 0;
        &:before {
          content: "";
          width: 10px;
          height: 10px;
          background-color: #ffb81d;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 6px;
        }
        &:hover {
          border: 0;
          background: transparent;
          color: #666666;
        }
      }
    }
  }
}

.get-app {
  .left-box {
    position: relative;
    display: flex;
    .inner-box {
      flex-basis: 90%;
      padding-right: 20px;
    }
    a.title-link {
      content: "";
      width: 48px;
      height: 48px;
      margin-left: 50px;
      border: 1px solid #d1d1e1;
      background: url(../images/next-icon-yellow.png) no-repeat center;
      cursor: pointer;
      margin: 10px 0 0;
      &:hover {
        background-color: #fff;
      }
    }
  }
  li {
    color: #9b9b9b !important;
  }

  .right-box {
    padding-left: 50px;
  }
}

.development-process {
  p {
    color: $white !important;
    line-height: 26px;
    margin: 15px 0 0;
  }
  .app-dprocess {
    background: #212150;
    padding: 50px 30px 40px;
    position: relative;
    &:after {
      content: "";
      background: linear-gradient(180deg, #ffcf66 0%, #e19b01 100%);
      width: 77%;
      height: 4px;
      position: absolute;
      left: 31px;
      top: 145px;
    }
    &:before {
      content: "";
      content: "";
      width: 25%;
      height: 1px;
      border-bottom: 1px dashed #ffffff;
      bottom: 0;
      position: absolute;
      top: 146px;
      right: 0;
    }
    .process-item {
      flex-basis: 20%;
      padding-right: 40px;
      position: relative;
      counter-increment: myCounter;

      .pro-title {
        display: flex;
        min-height: 54px;
        position: relative;
        margin: 0 0 35px;
        align-items: flex-start;
      }
      .nocount {
        font-size: 32px;
        font-weight: 900;
        color: #fff;
        margin-right: 10px;
        margin-top: -8px;

        &:before {
          content: counter(myCounter);
          border-radius: 100%;
          -webkit-border-radius: 100%;
        }
      }
      h3 {
        color: $white;
      }
      .process-circle {
        background: linear-gradient(180deg, #ffcf66 0%, #e19b01 100%);
        width: 16px;
        height: 16px;
        border-radius: 100%;
        z-index: 99;
        position: relative;
      }

      &:first-child {
        .pro-title {
          &:before {
            content: "";
            width: 25%;
            height: 1px;
            border-bottom: 1px dashed #ffffff;
            bottom: 0;
            position: absolute;
            top: 96px;
            left: -29px;
          }
        }
      }
      &:last-child {
        padding: 0;
      }
    }
  }
}

.related-tags-section {
  h3 {
    text-transform: uppercase;
  }
  a {
    display: inline-block;
    background: rgba(232, 227, 227, 0.32);
    border: 1px solid #d1d1e1;
    border-radius: 40px;
    text-decoration: none;
    padding: 14px 25px;
    color: #212121;
    transition: all 0.3s ease-in-out;
    margin: 20px 20px 0 0;
    &:hover,
    &.active {
      background: rgba(255, 173, 0, 0.15);
      color: #212121;
      border-color: #FFAD00;
    }
  }
}

.technology-section-ser {
  .left-box {
    flex-basis: 50%;
    padding-right: 70px;
    padding-left: calc(50vw - 740px);
    h3{
    position: relative;
    padding-bottom: 10px;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right,#ffcf66,#e19b01);
    border-bottom: 4px solid;  margin-top: 50px;}
    ul {
      li {
        border: 1px solid #d1d1e1;
        border-radius: 5px;
        padding: 4px 9px;
        display: inline-block;
        margin: 18px 18px 0 0;
        line-height: 22px;
        text-align: center;
        color: #666666;
        font-weight: 400;
        background-color: rgba(217, 217, 217, 0.32);
        position: relative;
        a {
          display: block;
          color: #666666;
          &:after{content:''; position: absolute; left:0; top:0; background: transparent; width:100%; height: 100%;}
          &:hover {
            color: #212121;
            border-color: #FFAD00;
            &:after{background: rgba(255, 173, 0, 0.15);}
          }
        }
        
      }
    }
  }
  .right-box {
    flex-basis: 50%;
    position: relative;
    img {
      bottom: 0;
      height: 100%;
      left: 0;
      margin: 0;
      max-width: none;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      object-fit: cover;
    }
  }
}

@media only screen and (max-width: 1600px) {
 
  .technology-section {
    .left-box {
      padding-left: calc(50vw - 690px);
    }
  }
  .technology-section-ser {
    .left-box {
      padding-left: calc(50vw - 690px);
    }
  }
}

@media only screen and (max-width: 1440px) {
 
  .technology-section {
    .left-box {
      padding-left: calc(50vw - 630px);
    }
  }

  .development-process {
    .app-dprocess {
      .process-item {
        padding-right: 30px;
      }
    }
  }
  .technology-section-ser {
    .left-box {
      padding-left: calc(50vw - 630px);
    }
  }
}

@media only screen and (max-width: 1320px) {
  .technology-section {
    .left-box {
      padding-left: calc(50vw - 580px);

      ul {
        li {
          margin: 10px 10px 0 0;
        }
      }
    }
  }
  .technology-section-ser {
    .left-box {
      padding-left: calc(50vw - 580px);

      ul {
        li {
          margin: 10px 10px 0 0;
        }
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  
  .technology-section {
    .left-box {
      padding-left: 20px;
      padding-right: 50px;
    }
  }
}

@media only screen and (max-width: 991px) {
  .hero-section {
    padding: 130px 0 50px;
    background-size: 0;
    background-color: #05164d;
    min-height: initial;
    .for-client-logo-box {
      margin: 25px 0 0;
    }
    &:before {
      display: none;
    }
  }

  .technology-section {
    .left-box {
      flex-basis: 100%;
      padding-left: 20px;
      padding-right: 0;
    }
    .right-box {
      flex-basis: 100%;
      img {
        position: initial;
      }
    }
  }

  .get-app {
    .left-box {
      justify-content: space-between;
      .inner-box {
        flex-basis: 80%;
        padding: 0;
      }
    }

    .right-box {
      padding-left: 0;
    }
  }

  .tech-section {
    .left-box {
      ul {
        li {
          flex-basis: 100%;
        }
      }
    }
  }

  .development-process {
    p {
      line-height: 24px;
      margin: 15px 0 0;
    }
    .app-dprocess {
      padding: 30px 25px;

      &:after {
        display: none;
      }
      &:before {
        display: none;
      }
      .process-item {
        flex-basis: 100%;
        padding-right: 0;
        margin: 0 0 30px;

        .pro-title {
          margin: 0;
          position: relative;
          &:after {
            content: "";
            background: linear-gradient(180deg, #ffcf66 0%, #e19b01 100%);
            width: 100%;
            height: 4px;
            position: absolute;
            left: 2px;
            bottom: -10px;
          }
        }
        .nocount {
          font-size: 25px;
          margin-top: 0px;
        }

        &:first-child {
          .pro-title {
            &:before {
              display: none;
            }
          }
        }
      }
    }
  }
  .technology-section-ser {
    .left-box {
      flex-basis: 100%;
      padding-left: 20px;
      padding-right: 0;
      h3{margin-top: 30px;}
    }
    .right-box {
      flex-basis: 100%;
      img {
        position: initial;
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .hero-section {
    h1 {
      margin-bottom: 10px;
    }
    p {
      margin-top: 15px;
      font-size: 14px;
      line-height: 24px;
    }
    ul {
      margin: 20px 0 0;
      li {
        margin: 0 0 5px;
        line-height: 24px;
        &:before {
          content: "";
          width: 10px;
          height: 10px;
          background-color: #ffb81d;
          border-radius: 50%;
          position: absolute;
          left: 0;
          top: 6px;
        }
      }
    }
  }
  .related-tags-section {
    text-align: center;
    a {
      margin: 8px 5px 0 0;
      padding: 5px 15px;
    }
  }
}


